[2015-10-30 10:49] nsoranzo commented on #361
+1 to Kallisto, I'm going to need it soon.

[2015-10-30 16:55] michaelmhoffman commented on #361
Would love to see Cytomod in there eventually although source is not yet public. @cviner

[2015-10-30 18:30] jmchilton commented on #299
@bgruening Can you do the 9th and 10th?

[2015-10-30 18:32] bgruening commented on #299
If so I will sitting next to you and will have hard time to motivate peoples from Freiburg remotely.
But yes, I'm ok with this.

[2015-10-30 18:42] jmchilton commented on #299
Oh - yeah I suppose that might not be the best use of your limited time here. Forgot about that.

[2015-10-30 18:45] bgruening commented on #299
30th of November and 1st of December?

[2015-10-30 18:46] jmchilton commented on #299
This works for me.

[2015-10-30 19:01] lparsons commented on #299
Nov 30th-Dec 1st works for me.

[2015-10-30 19:12] erasche opened #363 "Missing URLs from CPC"
https://jenkins.galaxyproject.org/view/Meta/job/community-package-cache/lastCompletedBuild/testReport/

we're only missing two!

- http://biowhat.ucsd.edu/homer/homer.v4.2.zip seems to be gone? Everything at biowhat.ucsd.edu
- XZ is refusing to serve their old versions, see their notice on http://tukaani.org/xz/old.html until the end of november. After that we'll be fine again.

Dunno what's up wi

[2015-10-30 19:23] nsoranzo opened #364 "Adopt sickle wrapper?"
There are presently 2 sickle wrappers on the Main Tool Shed:
- https://toolshed.g2.bx.psu.edu/view/nikhil-joshi/sickle/ (from @najoshi, the author of sickle)
- https://toolshed.g2.bx.psu.edu/view/nilesh/sickle/ (originally from @nkav, last updated in 2015 by our @yhoogstrate)

I've tried to update the first one with https://github.com/najoshi/sickle/pull/44, but got no answer. So I was thinking it

[2015-10-30 22:12] peterjc commented on #363
Yeah, http://biowhat.ucsd.edu/homer/homer.v4.2.zip came up on #212 and I'd spotted it via the indirect URL testing in ``planemo dependency_script`` too. I'd made a mental note to check this again in case the server was just briefly offline, but this seems to be a long term problem :(

[2015-10-31 12:55] bgruening commented on #361
@nsoranzo any reason you need kallisto and not sailfish?

[2015-10-31 13:12] bgruening commented on #364
@nsoranzo in general I like the idea of merging wrappers and converging to one high quality wrapper.
Two points to consider/discuss:
1) Do we want to minimize the functional overlap of our tools? In other words, again a new trimmer? Do we need it?
2) Currently, `non-iuc` repositories can have some disadvantages.
 * No one knows which one of the above three is the preferred IUC one (star'ring of re

[2015-10-31 13:15] bgruening commented on #358
This is fixed in https://github.com/galaxyproject/tools-iuc/tree/master/packages/package_python_2_7_matplotlib_1_4

For the other package we could add a new download action and install a second library ... what do you think?

[2015-10-31 13:19] bgruening commented on #356
This is unfortunate ... I have sqlite in the environment
https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_python_2_7_10/tool_dependencies.xml#L42

And PKG_CONFIG_PATH is also set: https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_sqlite_3_8_3/tool_dependencies.xml#L15

I need to look more closely into this. @tiagoantao do you have your INSTALLATION.log

[2015-10-31 18:38] hanfang commented on #361
@erasche scikit-ribo has not yet hit beta. I will make the repo public asap. Thanks!

[2015-10-31 19:42] erasche commented on #346
Some more ideas:

- The JBrowse tool could have a <select /> which had the option of "standalone" or "just data directory".
- There could be a data manager for downloading various JBrowse versions/setting up a site specific JBrowse. This would let administrators build their own site-specific JBrowse.
- This looks very promising: http://gmod.827538.n3.nabble.com/Gmod-ajax-Using-multiple-quot-data-q

[2015-10-31 21:54] bgruening commented on #350
And here is my first version of the new multi-core freebayes wrapper: https://github.com/galaxyproject/tools-devteam/pull/265

[2015-10-31 22:00] bgruening commented on #347
I guess this is more a issue for @guerler

[2015-11-01 20:10] yhoogstrate commented on #364
Given the number of downloads of these packages and that there are already 3 wrappers around I think it's beneficial to update one of these existing wrappers (preferable the one with the highest number of downloads).

I am not sure whether it's more appropriate to use your personal or the iuc account for this. To me it's a bit confusing to find IUC maintained tools under the names of others, and a

[2015-11-01 23:38] fubar2 commented on #339
@mvdbeek
Progress! AFAIK, the test toolshed toolfactory2 repo seems to pass tests using planemo. rglasso installs and runs fine with some test data I have here (although the new UI for data_column parameters makes selecting hundreds of predictors an exercise in sheer frustration compared with the oldskool multiselect box - trello card https://trello.com/c/TSB0sIvD has been created - please vote!)

[2015-11-02 07:29] bgruening commented on #299
It seems that we have a schedule :)
If no one else speaks up I will write a mail with the announcement tomorrow.

[2015-11-02 11:37] nsoranzo commented on #361
@bgruening It's for a RNA-Seq pipeline in development by my colleague @lucventurini.

[2015-11-02 12:06] nsoranzo commented on #364
@bgruening

sickle seems to be the best sliding-window trimmer, and I have users for it here.

I don't have a solution for this, but I guess people will probably install the one which has been updated more recently/frequently, and we are good at this :)

I don't think this is going to happen, and if it happens we just create a repo under iuc.

The only real drawback I see is that only the original

[2015-11-02 15:04] martenson commented on #361
Blog post with list of #gi2015 sw and relevant papers (useful for citations tags) http://www.gettinggeneticsdone.com/2015/11/software-from-cshl-genome-informatics.html

[2015-11-02 15:23] erasche commented on #361
Volunteering for mash.

[2015-11-02 15:27] martenson commented on #364
@nsoranzo Where did you see this? I thought we solved this along with the security bug found by Peter.

[2015-11-02 15:29] bgruening commented on #361
@martenson I have moved a few items over to the Metagenomic hackathon. @erasche especially mash and centrifuge is a good start for new codefest participants I guess.

[2015-11-02 15:35] erasche commented on #361
@bgruening you would think that... but it:

- fails to compile nicely
- depends on libcapnp
- detects a stack smash and coredumps when running the example command

(I wanted to play around with/test it this morning).

[2015-11-02 15:42] martenson commented on #299
edited the leading post to be more like #239

[2015-11-02 16:12] nsoranzo commented on #364
@martenson If I login as iuc on the MTS user interface, I cannot change the description/categories/... of crs4's `taxonomy_krona_chart`.

[2015-11-02 17:23] drosofff opened #368 "Normalize By Median returns an error"
https://github.com/galaxyproject/tools-iuc/blob/37727831a2630b7a7d4fb033366cbd772c3086c8/tools/khmer/normalize-by-median.xml

Using this tool installed from toolshed or testtoolshed on our http://mississippi.fr instance, with a single fasta file as input, the following error is returned.
A version of this tool from April 2015 (testtoolshed) worked fine.

[code]

[2015-11-02 17:32] erasche commented on #364
@yhoogstrate given some of the issues we've had when we don't have ultimate control over the repo, I'm very much in favour of anything with the "IUC" name on it. So many problems to be avoided w/r/t jenkins & friends.

[2015-11-02 18:53] drosofff commented on #368
--max-tablesize may be suspect.
And I do not find --max-tablesize (or  --max_tablesize) in normalize-by-median.py in dowloaded khmer-2.0.tar.gz

[2015-11-02 19:42] martenson commented on #364
@nsoranzo iuc seems to have write permissions, did you try doing it through api/planemo?

[2015-11-02 21:52] bgruening commented on #368
ping @mr-c

[2015-11-02 21:52] bgruening commented on #368
@drosofff thanks for reporting. We will try to fix this asap.

[2015-11-02 22:22] bgruening commented on #361
@erasche bioinformatics software is like a box of chocolate you never know what you gonna get :(

Monocle work started here: https://github.com/bgruening/galaxytools/commits/monocle

[2015-11-02 23:41] nsoranzo commented on #364
@martenson: no, web UI.

[2015-11-03 17:33] nsoranzo commented on #364
- Since nobody objected, I'll open a PR for sickle;
- There is no consensus on which repo to use and we got no offer from the 2 repo owners, so I'll use owner iuc
- For the Tool Shed bug, I've opened https://github.com/galaxyproject/galaxy/issues/1021 .

[2015-11-03 23:04] #146 closed

[2015-11-04 15:40] yhoogstrate opened #370 "package_xz_5_0_5 broken url"
```http://tukaani.org/xz/xz-5.0.5.tar.bz2``` is broken -> 403 error

[2015-11-04 15:42] erasche commented on #370
Dupe of #363

[2015-11-04 15:42] #370 closed

[2015-11-04 17:40] nsoranzo commented on #361
@KeywanHP is also interested in a Kallisto wrapper.

[2015-11-05 09:21] KeywanHP commented on #361
Kallisto/Sleuth :+1:

[2015-11-05 18:38] davebx commented on #361
Talked to @infphilo, centrifuge should be postponed until further notice.

[2015-11-05 19:00] nsoranzo commented on #361
I have been informed that Kallisto is not Free/Open Source Software, so I'm :-1: on this.

[2015-11-05 19:13] bgruening commented on #361
Sailfish and Salmon is a good (even better) alternative for Kallisto and afaik it also works with Sleuth.

[2015-11-05 19:16] martenson commented on #361
@nsoranzo I remember now that there was a discussion about their licence. I even made a PR for some detail there. (https://github.com/pachterlab/kallisto/pull/64) :)

I agree though. Wrapping closed source or for-profit tools sounds like a waste of resources.

[2015-11-08 12:44] bgruening commented on #368
It seems that `max-tablesize` is part of khmer 2.0.

[code]
I have fixed a few bugs in this PR: https://github.com/galaxyproject/tools-iuc/pull/375

[2015-11-08 18:39] drosofff commented on #368
@bgruening Thanks.
I am curious to see whether the tool will work. Unfortunately I have no time to dig into this and cannot help much in testing. Apologizes.

[2015-11-08 20:02] mr-c commented on #368
@bgruening has it correct, these wrappers require khmer 2.0. No need to
wait for his PR; just upgrade and you should be good to go.

On Sun, Nov 8, 2015, 12:39 Christophe Antoniewski <notifications@github.com>
wrote:

[2015-11-09 12:04] #363 closed

[2015-11-10 01:48] erasche opened #380 "bioperl script missing packages, probably"
Moved stuff to a new server where only bioperl was installed, jobs failed when trying to run that tool. Seems to need:
- Pod::Usage
- YAML
- LWP::UserAgent

[2015-11-11 22:30] drosofff commented on #368
Hi
Tested the Khmer updates (2015-11-11) from TTS and TS
Still in error state:
[code]

[2015-11-11 22:31] mr-c commented on #368
Interesting. It is still running the old version of khmer. Version 2.0 is
required for these wrappers.

On Wed, Nov 11, 2015, 16:30 Christophe Antoniewski <notifications@github.com>
wrote:

[2015-11-11 22:34] mvdbeek commented on #368
@drosofff @mr-c
This is fixed here on github (PR #383 ) but I didn't upload it to the toolshed yet.
Tomorrow's another day ;)

[2015-11-12 10:56] yhoogstrate opened #388 "package_bx_python_0_7_2 doesn't compile bx.bbi.bigbed_file"
When I install package_bx_python_0_7_2 it seems to skip compilation of the c libraries in lib/bx/bbi, and therefore only creates lib bx.bbi.bigwig_test.

This is what I get:

[code]

This is what I expected:

[code]

As you can see the shared objects are also not present while the original code was downloaded:

![screenshot from 2015-11-12 11-52-57](https://cloud.githubusercontent.com/assets/22646

[2015-11-12 11:12] yhoogstrate commented on #388
What I suspect that happens is:

- During installation of bx_python, presence of numpy is defined using "try: import numpy"
- If not present, the bbi files are not compiled
- When I import the galaxy build of numpy I get:
[code]

[2015-11-12 11:48] #364 closed

[2015-11-12 14:04] drosofff commented on #368
OK, the Normalize By Median tool basically works now. @mr-c @bgruening @mvdbeek :+1: Thanks
Nevertheless, as I mentioned before, one of the output is weirdly a list of datasets, plus the normalized sequence file does not have the proper format (fasta or fastq). This makes the tool hardly usable in workflows. I may have a chance to fix this, but I can't promise.

[2015-11-13 00:37] nephantes opened #389 "Galaxy crisprseek installation problem"
I got the error below; Could you please check what is wrong?

 File "/project/umw_biocore/svcgalaxy/biocore_home/galaxy-dist/lib/tool_shed/galaxy_install/install_manager.py", line 139, in install_and_build_package_via_fabric
    tool_dependency = self.install_and_build_package( tool_shed_repository, tool_dependency, actions_dict )
  File "/project/umw_biocore/svcgalaxy/biocore_home/galaxy-dist/lib

[2015-11-14 13:58] yhoogstrate commented on #388
I am closing this issue because this package is not in the master branch or the main toolshed.

[2015-11-14 13:58] #388 closed

[2015-11-15 22:40] bgruening commented on #388
Not sure if I'm following here:
This is the TS package: https://toolshed.g2.bx.psu.edu/view/iuc/package_python_2_7_bx_python_0_7/9e4101fb24af
and this is the iuc package right?
https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_python_2_7_bx_python_0_7_2/tool_dependencies.xml

[2015-11-16 15:24] nekrut opened #392 "Updating QC tools on main"
This would include add/updating the following:
- [trimmomatic](https://toolshed.g2.bx.psu.edu/view/pjbriggs/trimmomatic)
  - [x] Test
  - [x] Main
- [trim_galore](https://github.com/bgruening/galaxytools/tree/master/tools/trim_galore)
  - [x] Test
  - [x] Main
- [QORTS](https://github.com/hartleys/QoRTs) wrapping not finished yet (in IUC repo)
  - [ ] Test
  - [ ] Main
- [datamash](https://toolshe

[2015-11-16 15:30] nekrut opened #393 "New datasources for Main"
- [x] ncbi sra
- [ ] [dorina](http://dorina.mdc-berlin.de/)

[2015-11-16 15:36] mvdbeek commented on #393
@nekrut I did some work on https://github.com/mdshw5/sra-tools-galaxy @mdshw5  which you can find here https://toolshed.g2.bx.psu.edu/view/mvdbeek/sra_tools/9f74a22d2060
I'd be happy if we can take this up in the iuc

[2015-11-16 15:46] mdshw5 commented on #393
@mvdbeek that's fantastic! Could I get your to submit a pull request with your changes? I'll gladly add you as a collaborator on the repo - and don't mind at all if you or someone else wants to maintain the toolshed repo.

[2015-11-16 15:52] mdshw5 commented on #393
Possible stakeholders for this are @aboshkin and @kwrodarmer.

[2015-11-16 15:54] mvdbeek commented on #393
@mdshw5 done, I meant to do a PR for a while now.

[2015-11-16 18:23] nekrut opened #395 "New text processing tools for Main"
* [text_processing](https://github.com/bgruening/galaxytools/tree/master/tools/text_processing/text_processing)
  * [x] Test
  * [x] Main
* [idconversion](https://github.com/bgruening/galaxytools/tree/master/tools/uniprot_rest_interface) (mapping gene and protein ids across databases)
  * [x] Test
  * [x] Main

[2015-11-16 18:23] bgruening commented on #393
@mdshw5 would it be possible to give the IUC group access to the toolshed repo? We would like to include SRA tools into usegalaxy.org. But we would need to have emergency access to the repository as well?

[2015-11-16 18:27] mdshw5 commented on #393
I've just deprecated the toolshed repository I was maintaining, as @mvdbeek significantly improved on it in his. Currently working on getting test passing in @travis-ci, but looks like they should pass on the toolshed. Maybe @mvdbeek could add us both to his repo?

[2015-11-16 18:40] bgruening commented on #392
@davebx is working on QORTS afaik.

[2015-11-16 18:41] nekrut opened #396 "Genotyping Tools on Main"
Updating Main tools for variant analysis
- [bamleftalign](https://github.com/nekrut/tools-devteam/blob/master/tools/freebayes/leftalign.xml)
  - [x] Test
  - [x] Main
- [freebayes parallel implementaion](https://github.com/galaxyproject/tools-devteam/pull/265) - still WIP
  - [ ] Test
  - [ ] Main
- VCF IOBIO (as an IE)
  - [ ] Test
  - [ ] Main
- [snpeff](https://github.com/galaxyproject/tools-iu

[2015-11-16 21:32] blankenberg commented on #393
I am also +1 for IUC adoption of SRA tools. There are some enhancements possible which would be easier to maintain this way.

[2015-11-16 21:37] mdshw5 commented on #393
Would you need to pull the source into the IUC repo on GitHub? If so that's not a problem.

[2015-11-16 22:14] nekrut commented on #393
@mvdbeek Do a PR! How are things in Paris right now? I know Alban and Olivier are OK.

[2015-11-16 22:27] nekrut opened #397 "ChIP-seq Tools on Main"
Update ChIP-seq tools on main:
- [bowtie2](https://github.com/galaxyproject/tools-devteam/tree/master/tools/bowtie2) (maybe update)
  - [x] Test (galaxy version 2.2.6)
  - [x] Main
- [DeepTools](https://github.com/deeptools) (version 2 comping soon!)
  - [x] Test (unable to install)
  - [ ] Main
- [MACS2](https://github.com/galaxyproject/tools-iuc/tree/master/tools/macs2) (update?)
  - [x] Test

[2015-11-16 22:30] nekrut opened #398 "HiC Tools on Main"
To deploy Hi-C tools on main:
- [x] [HiFive](https://github.com/bxlab/hifive)
- [x] [DeepTools 2](https://github.com/fidelram/deepTools) will support HiC
- **anything we are missing?**

[2015-11-16 22:39] nekrut opened #399 "RNA-seq tools on Main"
Update RNA-seq tools on Main:
## Installation
-  [x] [DEseq](https://github.com/galaxyproject/tools-iuc/tree/master/tools/deseq2) (only works on genes)
-  [x] [hisat2](http://ccb.jhu.edu/software/hisat2/index.shtml)
-  [x] [Htseq-count](http://www-huber.embl.de/users/anders/HTSeq/doc/count.html)
-  [x] [stringtie](https://github.com/galaxyproject/tools-iuc/tree/master/tools/stringtie)
-  [x] [sail

[2015-11-16 22:40] nekrut opened #400 "MethylC-seq tools on Main"
MethylC-seq tools to release to main
- [ ] [bismark](https://github.com/bgruening/galaxytools/tree/master/tools/bismark)
- [ ] [PileOMeth](https://github.com/bgruening/galaxytools/tree/master/tools/pileometh)

[2015-11-16 22:45] nekrut opened #401 "Metagenomics tools for Main"
Metagenomics tools to be released

* [PEAR](https://github.com/galaxyproject/tools-iuc/tree/master/tools/pear)
  * [x] Test
  * [x] Main
* [cd-hit-dup](https://github.com/galaxyproject/tools-devteam/tree/master/tools/cd_hit_dup)
  * [x] Test
  * [x] Main
* Kraken2? (not released yet)
  * [ ] Test
  * [ ] Main
* [Vegan collection](https://github.com/galaxyproject/tools-iuc/tree/master/tools/vegan)

[2015-11-16 22:48] mvdbeek commented on #393
I can do a PR to the IUC, no problem.
I'd be in favor of creating a new repo for the IUC, up to now my repo has only been cloned twice,
and that was me ;).
@drosofff and me are alright and not personally affected, it's still a horror though.

[2015-11-17 08:13] TorHou commented on #396
A new GEMINI version would be fantastic. There are problems compiling the versions 0.17.x. Only the newest version 0.18.0.a would compile for me.

[2015-11-17 08:19] yhoogstrate commented on #399
Hi @nekrut , I am happy to include thefeatureCounts wrapper (https://github.com/ErasmusMC-Bioinformatics/featurecounts_galaxy_wrapper) but it needs some changes to be compatible with both deseq2 and edger. Further development is pending on https://github.com/galaxyproject/galaxy/pull/961.

[2015-11-17 12:28] bgruening commented on #396
We should aim for 0.18. This on has a conda only install that hopefully works oob.

[2015-11-17 14:46] nekrut commented on #399
@yhoogstrate Awesome. Can we help in any way?

[2015-11-18 21:41] gregvonkuster opened #404 "ChIP-exo tools for main"
The following tools are a subset of those that define the Galaxy ChIP-exo flavor and are needed for the ChIP-exo workflow soon to be available on Galaxy main.  To clarify, the ChIP-exo workflow is complete, and it will be made available on Galaxy main as soon as these tool versions have been installed into that environment.
- [x] Bam_to_Scidx - must be version 1.0.0
- [x] Genetrack - must be versi

[2015-11-18 22:02] martenson commented on #401
I rewrote the issue to allow tracking of deployment to Test/Main. It would also be nice to provide link directly to the toolshed page so I know what to install. Sometimes it is not clear.

[2015-11-18 22:09] bgruening commented on #401
Thanks Martin:
* https://toolshed.g2.bx.psu.edu/view/iuc/vsearch/8c4e2933a17a
* https://toolshed.g2.bx.psu.edu/view/bgruening/diamond/98037ef3d2a9
* https://toolshed.g2.bx.psu.edu/view/bgruening/data_manager_diamond_database_builder/ce62d0912b10

[2015-11-18 22:10] martenson commented on #401
@bgruening not needed, the github links are enough, my bad, but thanks! :)

[2015-11-18 22:23] bgruening commented on #401
Should we create PR against the ansible playrole?

[2015-11-18 22:26] martenson commented on #401
All available tools installed on Test and ready for testing.
@bgruening what do you mean by that?

[2015-11-18 22:30] bgruening commented on #401
To get them on main. I remember that we can add them to a tools.yaml file to get them on main. Just wonder how I can help here.

[2015-11-18 22:31] martenson commented on #401
Main is not maintained that way yet. Would love to do it like that though (https://github.com/galaxyproject/galaxy/issues/1115)

[2015-11-18 22:52] jennaj commented on #401
@martenson OK, testing to start. I may need test data for some if I can't figure it out.

@nekrut If you want to share some data with me that would be great.

For both - could we add testing to the checklist? For test & main? Or will that complicated it too much?

And what about testing install/function in the default galaxy master (local) and cloudman? Or is that too much?

Are any parts of this

[2015-11-19 16:12] jennaj opened #406 "Bedtools "Intersect multiple sorted BED files" tool form graphic link is dead"
Minor. Remove or replace

<img width="739" alt="screen shot 2015-11-19 at 8 11 33 am" src="https://cloud.githubusercontent.com/assets/8999735/11276045/4d67d1e6-8e95-11e5-846e-cefba4aceb22.png">
.

[2015-11-19 22:54] drosofff opened #407 "package_cairo_1_12_14 lacks pkg-config ?"
https://github.com/galaxyproject/tools-iuc/blob/bd2c6cb3dc48e0e7b1a768d51f5a192c00e9bf41/packages/package_cairo_1_12_14/tool_dependencies.xml#L12

I think that package_cairo_1_12_14 does not install well on a super clean Galaxy instance because of a lack of the pkg pkg-config in Galaxy default environment. A number of tools depending on cairo fail to install in the same way.

Sorry if the issue ha

[2015-11-20 03:53] bgruening commented on #407
@drosofff actually pkg-config is a required dependency if you install tools from the TS

[2015-11-20 03:53] #407 closed

[2015-11-20 10:19] mvdbeek commented on #407
@bgruening alright, so I guess that https://github.com/galaxyproject/ansible-galaxy-os/blob/master/tasks/packages.yml is missing pkg-config. I'll report it over there,

[2015-11-20 12:38] nsoranzo opened #408 "Missing .shed.yml file in some repositories."
- [x] `data_managers/data_manager_bowtie_index_builder/`
- [x] `data_managers/data_manager_gemini_database_downloader/`
- [x] `data_managers/data_manager_sailfish_index_builder/`
- [x] `data_managers/data_manager_snpeff/`
- [x] `data_managers/data_manager_star_index_builder/`
- [ ] All in `datatypes/`
- [x] `tools/blastxml_to_gapped_gff3/`
- [x] `tools/gff3_rebase/`

The suspects can be found with

[2015-11-20 14:33] martenson commented on #408
I modified a bit the original code from @erasche
https://gist.github.com/martenson/bbf2f7612dae4fb0f17b

[2015-11-20 23:02] erasche commented on #250
Making good progress on the next version.

Top row shows a track which takes its colour from a `color` qualifier in the GFF3 file. Transparency here is from a user-selected scaling algorithm (In this case a linear scale 1-1000, as suggested by the gff3 docs. A couple other score->opacity algorithms are included, including one for blastxml data.)

Top two tracks have a user-specified colour, the bo

[2015-11-23 01:23] martenson commented on #299
An inspiration how Jenkins community does virtual hackathons: http://www.meetup.com/jenkinsmeetup/events/226735213/

[2015-11-23 01:26] erasche commented on #299
Neat! I like the presentation aspect for newcomers.

On 11/22/2015 07:23 PM, Martin Cech wrote:

[2015-11-24 20:51] martenson commented on #392
Existing tools are now deployed on Test. Note that one datamash tool was already there, from Asaf, so it is there twice now.

[2015-11-24 21:10] martenson commented on #395
text processing tools installed on Test

for idconversion the package_python_2_7 installation fails on Test with:

[code]

[2015-11-24 21:15] bgruening commented on #392
@martenson can we hide Asaf's tool?

[2015-11-24 21:17] martenson commented on #392
@bgruening I will uninstall it, it is Test after all.

[2015-11-24 22:02] blankenberg commented on #395
@martenson That error is from the login form being hit with no referer provided.  Should have been fixed in: https://github.com/galaxyproject/galaxy/pull/1091

Has test been updated?

[2015-11-24 22:26] martenson commented on #395
@blankenberg thanks, I updated Test
Hovewer even before that, the tool actually installed everything and is showing up. Ready for testing.

[2015-11-24 23:26] martenson commented on #396
I updated freebayes on Test and duplex novo is now on Test thanks to @davebx. snpeff has trouble installing on Test.

I am not sure what is the plan with the others. E.g. NVC needs to be updated? What about vcflib? ping @nekrut

[2015-11-24 23:39] martenson commented on #397
selected tools deployed on Test

[2015-11-25 19:46] tiagoantao opened #416 "Bug on package_r_3_0_3"
The LD_LIBRARY_PATH does not include
$INSTALL_DIR/lib
If you inspect this, there are quite a few libs there. And they are needed (at least on a modern linux).

For example this makes the clustered heatmap (visualization) to fail with a missing of libgfortran.so.1

[2015-11-25 21:09] shiltemann commented on #299
+1 to Phinch! (that was next on my to-do list)

I have also been working on creating mothur pipelines lately, many of the tools have variable number of inputs and outputs, making them hard to use in workflows. I've been rewriting the ones I need to produce and consume collections instead, would be nice to do this for the entire toolsuite.

[2015-11-25 22:39] yvanlebras commented on #299
Hi everyone,

Thanks for this very interesting proposal!

A litlle message to inform you that we will be ~10 people from France interessed by this Hackathon. Thanks to western France GUGGO Galaxy group, INRIA, the French Institut of Bioinformatics and the Environmental Genomics CNRS group, we will centralized some actions at INRIA, Rennes.

Anybody can consult our draft of program (https://cesgo.g

[2015-11-26 00:17] bgruening commented on #299
@shiltemann So I count you in for next week? :)
@yvanlebras this France community is awesome! I looking forward to this Codefest a lot. We usually have a google hangout open for the two days to coordinate us and to answer questions. In addition we are usually all on IRC.
A few IUC members will be there and help to answer questions and reviewing code if this is desired. We can also help with Docker

[2015-11-26 08:55] shiltemann commented on #299
Yup sure :) I don't have a whole bunch of time, but I'd be happy to contribute where I can :)

[2015-11-26 13:39] dpryan79 opened #417 "package_python_2_7_matplotlib_1_4 can fail due to package_freetype_2_5_2 setting environment variables"
I've recently run into problems getting package_python_2_7_matplotlib_1_4 to install on Galaxy within Docker (yes, this is the instance from @bgruening). The reason seems to be that matplotlib's setupext.py script needs `pkg-config --cflags freetype2` to return something, but `package_freetype_2_5_2` sets `C_INCLUDE_PATH` and `CPLUS_INCLUDE_PATH`. If one runs  `pkg-config --cflags --debug freetype

[2015-11-26 14:09] IyadKandalaft commented on #299
@bgruening
I think the idea for having a mothur team and a qiime team makes sense.  The mothur tool suite needs to be refactored in some way to make it a little more manageable.  When we did the upgrade from 1.27 to 1.33, I had a student develop a tool that parses out the mothur documentation to list all the changes since a version that you specify.  This should allow us to do another update of th

[2015-11-26 14:10] bebatut opened #418 "Bug for `package_gnu_awk_4_1_0` on MacOSX"
Hello,

When I try to install `package_gnu_awk_4_1_0` on my Galaxy instance with ToolShed, I get this output:
[code]

It seems that is a [known issue](http://permalink.gmane.org/gmane.comp.gnu.gawk.bugs/558) and the solution would be to add `--with-mpfr=/opt/local` option to `./configure`.

I suggest to change the `tool_dependencies.xml` file with:

[code]

However, `mpfr` has to be present in `/o

[2015-11-26 14:12] oxyko commented on #299
Hey,

We are two developers from AAFC-MBB group (Canada), who are interested in contributing to Mothur and/or Quiime. Let us know if there is a kick-off meeting and/or Mothur/Quiime team that we can join.

Our Galaxy repo: https://github.com/AAFC-MBB/Galaxy

[2015-11-26 14:13] bgruening commented on #299
@IyadKandalaft sounds great!
Let's start with your latest version. If you send it to me I will create a branch and the Mothur team can work on this one.

[2015-11-26 14:15] IyadKandalaft commented on #299
@bgruening
Latest mothur 1.33 wrappers & tool dependencies (same as the central tool shed version):
https://github.com/AAFC-MBB/Galaxy/tree/master/wrappers/Mothur_Toolsuite

[2015-11-26 14:18] bgruening commented on #299
@oxyko do you have time to join this hackathon on: 30th of November and 1st of December
@IyadKandalaft can I take this and put it in an IUC branch?

[2015-11-26 14:21] IyadKandalaft commented on #299
@bgruening of course you can - we are proponents of FOSS.

[2015-11-26 14:22] oxyko commented on #299
@bgruening yep. Just wondering about the format/schedule

[2015-11-26 14:29] bgruening commented on #299
@oxyko it the top post not clear enough? Do you have concrete questions? This is very informal we try to get people together and organise our activities over IRC / Google-Hangouts. Code will be managed via git and we have a few expert that can help reviewing and can answer tricky questions related to the Galaxy universe.
Last time we also fixed a few bug in Galaxy to make our wrappers even more aw

[2015-11-26 14:44] bgruening opened #419 "IUC Contribution Fest - Metagenomics and mothur"
I will start this issue to list all idea specifically for all people that are interested in working on mothur during our Metagenomic Hackathon (https://github.com/galaxyproject/tools-iuc/issues/299).

I have created an initial branch with wrappers from [@IyadKandalaft and team](https://github.com/AAFC-MBB/Galaxy): https://github.com/galaxyproject/tools-iuc/tree/mothur

My idea is to use this issue

[2015-11-26 14:44] bgruening commented on #299
@IyadKandalaft what do you think? https://github.com/galaxyproject/tools-iuc/issues/419

[2015-11-26 14:48] oxyko commented on #299
@bgruening My concrete questions are:
1. Is there going to be a kick-off meeting over the hangouts?
2. How to contact the 4 mentioned google hangouts on the day of the hackathon?

[2015-11-26 14:53] bgruening commented on #299
1. Kick-off meeting is hard because we have so many timezone. If you like I will get an introduction and show a little bit planemo. Just let me know.
2. There will be only one hangout, I will post a link over on Friday or over the weekend and everyone can connect (let see how many people can join such a hangout :))

[2015-11-26 14:58] oxyko commented on #299
Sounds great! I would appreciate a bit of an intro, since I haven't done remote hackathons before.

[2015-11-26 15:03] bgruening commented on #299
Sure, we can do this. In general don't hesitate to ask questions at any time.

[2015-11-26 16:30] bgruening commented on #417
This seem to be a real problem on the matplotlib site. Since we can not remove an environment variable I see no other solution to remove it from the freetype package. Or create a new on without these exports and use this one solely for matplotlib.

@erasche any ideas here?

[2015-11-26 16:44] bgruening commented on #418
Are you using OS-X? What is usually done with gawk is that mpfr is deactivated: `--without-mpfr`
Would this work for you?

[2015-11-26 16:52] bgruening commented on #418
@bebatut can you please test this recipe? https://github.com/galaxyproject/tools-iuc/pull/421

[2015-11-26 17:16] #418 closed

[2015-11-26 18:17] erasche commented on #417
Will check out in a bit @bgruening. Sorry!
26. nov. 2015 10.30 a.m. skrev "Björn Grüning" <notifications@github.com>:

[2015-11-26 22:02] yvanlebras commented on #299
Hi everyone,

just an update concerning Mothur. We have, in the GUGGO Tool Shed, quite old Mothur (1.32) tools developped by our bioinformatics core facility with colleagues from the CNRS / OSUR Environmental genomics core facility : http://toolshed.genouest.org/repository/view_repository?sort=name&operation=view_or_manage_repository&f-free-text-search=mothur&id=66701dbe65507c8c

I don't know if t

[2015-11-27 07:43] bebatut commented on #418
@bgruening It works
Thanks @bgruening @mvdbeek

[2015-11-27 08:29] mvdbeek commented on #325
Closing this as @bcclaywell confirmed that the issue was solved with PR #335

[2015-11-27 08:29] #325 closed

[2015-11-27 08:32] mvdbeek commented on #416
@tiagoantao could you post the error message?
I'd like to confirm that LD_LIBRARY_PATH is the only issue (see issue #325, for which we pushed out a fix only for R 3.2.1 ... this might need backporting to older R versions).

[2015-11-27 12:24] bgruening commented on #418
Awesome!

[2015-11-27 13:50] oxyko commented on #419
We have existing issue reported for this wrapper, so I'm pasting it here for everyone to be aware:

Problem with 2 of the Chimera tools (both in galaxy tool version 1.22 and 1.23) Chimera.slayer and Chimera.uchime.

In spite of the fact that in the drop down menu for the tool it states that a groups file is optional and a count file is optional instead of leaving these parameters out of the mothur

[2015-11-27 14:39] pjbriggs commented on #299
Apologies for arriving late: I've now got the okay from my superiors to contribute to the toolfest next week. We have a number of users who would like to use Qiime within Galaxy so I'd like to offer effort towards making an "official" toolshed version of the Qiime tools as originally proposed by @lparsons.

We have a list of specific Qiime components that we're interested in, all of which are alre

[2015-11-27 17:45] bgruening commented on #299
@yvanlebras nice I have added it to: https://github.com/galaxyproject/tools-iuc/issues/419
@pjbriggs I have added the data manager to list potential todo list: https://github.com/galaxyproject/tools-iuc/issues/419
@pjbriggs I guess you and @lparsons can team up for a Qiime team :)

[2015-11-27 18:07] yvanlebras commented on #299
@erasche @jmchilton the biom datatype proposed by @fescudie , who will participate to the hackathon, for the FROGS pipeline is maybe ok to propose to do a first phinch viz plugin/tool ?

[2015-11-27 18:09] erasche commented on #417
@bgruening okay, read over it now. yikes.

No, I really don't have any ideas. I don't like the idea of a special package just for matplotlib, since there's definitely an underlying issue if pkg-config won't work nicely. Maybe someone has time to dig into why pkg-config doesn't play nicely with sC*_INCLUDE PATH`s

[2015-11-27 18:23] bgruening commented on #417
@erasche this seems to be a matplotlib error as say do not use the correct variables. Not sure why :(

[2015-11-27 18:32] dpryan79 commented on #417
@erasche: pkg-config is doing the correct thing. Compilers like gcc/clang/etc. look through directories specified by `-I` options first, followed by those set in `C*_INCLUDE_PATH` and finally the default system directories (e.g., `/usr/include`) when looking for headers. Since disks aren't always fast and many programs will require compiling a large number of files, it's best if the compiler doesn

[2015-11-27 19:14] tiagoantao commented on #416
@mvdbeek:
/data/homes/galaxy/galaxy/dependencies/R/3.0.3/iuc/package_r_3_0_3/a8438aa1207c/lib/R/bin/exec/R: error while loading shared libraries: libgfortran.so.1: cannot open shared object file: No such file or directory

This is solved by changing env.sh and adding
/data/homes/galaxy/galaxy/dependencies/R/3.0.3/iuc/package_r_3_0_3/a8438aa1207c/lib/R/lib
to LD_LIBRARY_PATH

[2015-11-27 19:46] tiagoantao commented on #299
Just a side comment from someone that does not do metagenomics but sometimes help other people doing it: The mothur tool is very very complex to use a this stage. My impression is that a couple of well thought workflows would help a lot (even if the tool maintains the current format).

For example an implementation of some of their SOPs:
http://www.mothur.org/wiki/MiSeq_SOP
You can find a list her

[2015-11-27 21:07] tiagoantao opened #422 "IUC Contribution Fest - RADSeq Tools and Workflows"
We are planning a Remote Contribution Fest on **7th and 8th of March** for developers to work on Galaxy RADSeq tools.

RADSeq is a cheap sequencing technology that is used by many resource-limited groups who would benefit a lot from easy-to-use galaxy tools. Indeed there has been quite some interest in analyzing RADSeq with Galaxy. Currently there is a wrapper for stacks and little more to help wi

[2015-11-27 21:26] dpryan79 commented on #417
Looks like this will get fixed in matplotlib 1.5.1 due to https://github.com/matplotlib/matplotlib/pull/5578.

[2015-11-27 21:29] IyadKandalaft commented on #299
As one of the developers on the galaxy mothur tools, I agree that we need
to include some workflows.  We have some workflows in-house that are based
off the sop.  I'd consider adding them into a separate repository with a
dependency on mothur.
On 27-Nov-2015 2:46 pm, "Tiago Antao" <notifications@github.com> wrote:

[2015-11-28 12:38] souravsingh commented on #350
I would like to pick up the task

[2015-11-28 12:57] bgruening commented on #350
Awesome! Let me know what you want to do.
Feebayes needs some testing: https://github.com/galaxyproject/tools-devteam/pull/265
Especially in the merging part of the vcf files!

[2015-11-28 16:33] #291 closed

[2015-11-28 19:03] martenson opened #425 "script to update all downloadables in TS with sha256sum"
alternatively we can make @galaxybot do this for us and have him commit the sha256sum alone (homebrew bot does something similar I think)

[2015-11-28 19:07] erasche commented on #425
Will reply in a bit I've been doing manually since adding to CPC

[2015-11-29 00:05] erasche commented on #425
Okay, I'm :-1: on this with the following rationale:

sha256sums are there to ensure that the software the user is getting is what the author expects them to get. The author writing the package needs to be specifying that hash when they add packages to the CPC, not having this done automatically for them by a bot.

If it is, they'll say "sure that matches" without even checking. We *need* the pers

[2015-11-29 00:05] erasche commented on #425
If you have a compelling use case where you believe that @galaxybot should be doing this, I'm open to listening to it :) I don't mean to shoot down an idea that would automate things and save us time, but I believe there's a reason we should be doing this manually.

[2015-11-29 10:03] bgruening commented on #425
@erasche you are correct. But honestly, do you check every tarball manually? I don't. I think this should be (to some degree) part of check.py.
For me the checksum is more to prevent other attacks after the initial upload or during download.

[2015-11-29 16:47] martenson commented on #425
@erasche I would prefer to not spend Galaxy's time - or IUC's - to go through every revision of every TS package/recipe and manually check the downloadables that are being fetched. If you try to be perfect you would have to probably do an audit of the whole source to make sure it is not malicious.
It is great way onward - to check every new package - but I am afraid the choice _here_ is whether to

[2015-11-29 17:13] erasche commented on #425
@bgruening I've been doing spot checks on the packages I've been adding to the CPC, "does this look like it is supposed to". By `check.py` which script are you referring to?

yep. and to spot changed packages/have them "break" during install in a clearer + safer ways (i.e. we're not trying to run python on an HTML 404 page instead of the python script we intended to download)

@martenson

I'm not

[2015-11-29 17:21] martenson commented on #425
Yes, for every download. For more security & reproducibility.

[2015-11-29 17:27] bgruening commented on #425
https://github.com/erasche/community-package-cache/blob/master/bin/check.py
I would check the content via travis/jenkins as good as possible.
* no files larger than ...
* only small or no movies,
* ClamAV check?
* ...

I also thought this is the question here :)

[2015-11-29 17:30] erasche commented on #425
@martenson okay, that yeah, definitely wasn't clear.

I think that implementation belongs not in Galaxybot/IUC, but in the toolshed itself.

@bgruening uhh yes, those are nice, but that's a separate topic and mostly for when we get ready to use the CPC in production, not while it's still under one benevolent dictator who is approving the PRs to it.

[2015-11-29 17:33] erasche commented on #425
@martenson I'm closing this and will re-open it against the Galaxy codebase since that's the only place that code makes sense to run.

[2015-11-29 17:33] #425 closed

[2015-11-29 17:36] erasche commented on #425
Moved to https://github.com/galaxyproject/galaxy/issues/1187

[2015-11-29 17:50] bgruening commented on #422
Just wanted to say that this is awesome! I'm in and try to help wherever I can!

[2015-11-29 23:55] bgruening commented on #299
@shujianbu do you have time tomorrow to help with Phinch integration?

[2015-11-30 08:43] yvanlebras commented on #299
Hi everyone,

Just few slides that we will use to briefly present the initiative, our pipelines and some To-Do.... : [Presentation slides](https://cesgo.genouest.org/resources/204)

I will update this document during the hackathon event. Don't hesitate to comment / ask questions. In France this will begin in 17 minutes ;)

[2015-11-30 08:44] bgruening commented on #299
I updated the original post with links to a google hangout and our IRC channel, feel free to join!

[2015-11-30 08:59] bgruening opened #426 "IUC Contribution Fest - Improve QIIME Tool Generator and Tools"
as proposed by @lparsons we will also try to work in QIIME during our 2nd IUC Contribution Fest.
This issue will keep track of all QIIME related development.
For more information about the Codefest and the initial discussion please see https://github.com/galaxyproject/tools-iuc/issues/299

xref: http://dev.list.galaxyproject.org/QIIME-tools-for-Galaxy-WIP-call-for-collaborators-td4668035.html

* [

[2015-11-30 09:14] shujianbu commented on #299
Hi Bjorn,

What's the context/scope of the project integration? I haven't maintained
the Phinch code for a while.

Thanks,

On Sun, Nov 29, 2015 at 11:55 PM, Björn Grüning <notifications@github.com>
wrote:

[2015-11-30 09:18] bgruening commented on #299
@shujianbu we want to integrate Phinch into [Galaxy](https://galaxyproject.org/). The idea is to put Phinch in a Docker container and integrate it into Galaxy. Every biom dataset that is created in Galaxy can than be visualised with Phinch without leaving the analysis platform.

Is/will Phinch be maintained? I have a pending PR since a few month.

[2015-11-30 09:36] bgruening commented on #299
@yvanlebras awesome. When do you start?

I will also update the main issue above regularly with news. Here is our first PR that adds the Mash package: https://github.com/galaxyproject/tools-iuc/pull/427
Anyone up to write the wrappers?

[2015-11-30 11:58] bgruening commented on #299
@bebatut https://github.com/galaxyproject/tools-iuc/pull/428

[2015-11-30 14:17] jmchilton commented on #419
I think the mothur datatypes should be modified so the short extension includes a prefix ``mothur.`` like ``mothur.otu``.

[2015-11-30 14:30] oxyko commented on #419
Will be installing and figuring out planemo and then working on the chimera tools issue and tests for them.

[2015-11-30 14:34] lleroi commented on #426
Hi everyone,

I setted up the [454 qiime workflow](http://qiime.org/tutorials/tutorial.html) on a private Galaxy instance.
I used the ``qiime-galaxy`` scripts to generate the wrappers. For the scripts used in the 454 workflow, I deleted the tgz in/output option and choose which options can be specified on the xml wrappers.

For the ``pick_otus.py`` wrapper, I modified how the clustering options ar

[2015-11-30 14:41] jj-umn commented on #419
@jmchilton Agree on prefixing datatypes.   Also, should see if any of these could just be subclassed, rather than python class.  I guess that would depend on whether there is any useful metadata for the datatype.

[2015-11-30 14:44] bgruening commented on #426
@lleroi I think this is a good start. I will create an empy branch. Can you create your PR against this one here: https://github.com/galaxyproject/tools-iuc/pull/431

I guess we can work all together on this branch then.
Thanks a lot!

[2015-11-30 14:57] IyadKandalaft commented on #419
I'm looking at patching to support v1.36.1 of mothur

[2015-11-30 15:30] nekrut opened #432 "IUC Contribution Fest - Vegan, Vsearch, BIOM, Finch"
We'll try to work out the following pipeline

- load very large number of datasets (figure out upload problems @martenson )
- run Kraken (explore Kraken2 @nekrut ) https://github.com/galaxyproject/tools-devteam/pull/297
- test diamond (@nekrut)
- reduce Kraken datasets to a single tab-delimited file (@blankenberg)
- run Vegan
- run VSearch
- write a converter for Galaxy Taxonomy to BIOM 1.0 (@dave

[2015-11-30 15:34] abretaud opened #433 "Swarm"
Hi,
For #299, we need to have a package for [Swarm](https://github.com/torognes/swarm) (used by frogs suite)
I'm starting to work on it, and will make a PR for it
xoxo
Anthony

[2015-11-30 15:34] bgruening commented on #432
Awesome! @bebatut are you working currently on Diamond?

[2015-11-30 15:36] bgruening commented on #433
:100:

[2015-11-30 15:38] bebatut commented on #432
@bgruening I'm tested the PR #428

[2015-11-30 15:39] bgruening commented on #432
@bebatut please comment on it. If you think it's good or bad :) Thanks!

[2015-11-30 16:00] bgruening commented on #419
Anyone up for a discussion round about mothur and the current state?
I have made an initial review of https://github.com/galaxyproject/tools-iuc/pull/429 and we can talk about it if you like.

[2015-11-30 17:24] lparsons commented on #426
Good start. Before we get too far, do we want to:

1. Update individual wrappers, starting from the output of the  [Qiime Galaxy tool generation scripts](https://github.com/qiime/qiime-galaxy)
2. Update the [Qiime Galaxy tool generation scripts](https://github.com/qiime/qiime-galaxy)

Personally, I prefer option 1 as I think it's more straightforward and will lead more quickly to some useful tools

[2015-11-30 17:27] bgruening commented on #426
@lparsons I trust your decision here and accept whatever comes first :)

[2015-11-30 17:33] lparsons commented on #426
I'd like to get an [Illlumina qiime workflow](http://nbviewer.ipython.org/github/biocore/qiime/blob/1.9.1/examples/ipynb/illumina_overview_tutorial.ipynb) working in Galaxy.

I've started on this at https://github.com/lparsons/galaxy_tools/blob/qiime/tools/qiime1.9.0/.  As I see it, this requires the following things:

1. Tool to handle barcode splitting that will label the the reads instead of sp

[2015-11-30 17:35] lparsons commented on #426
Great, I have a few things that I need to take care of first, but when I get back to this, I'll prepare a PR against this branch so we can start coordinating.

I briefly checked in on IRC, is there a Google Hangout as well?

[2015-11-30 17:50] blankenberg commented on #426
@lparsons hangout at https://hangouts.google.com/hangouts/_/iems2ffkpd4s7cyjoq4mi3hgwma

[2015-11-30 19:23] lparsons commented on #426
Initial work in my fork:https://github.com/lparsons/tools-iuc/tree/illumina-workflow-tools. Let me know if it would help to submit PR now, otherwise I'll continue working here.

[2015-11-30 19:24] erasche opened #437 "Rost Lab Tools"
I'm working to wrap some rost lab tools, this issue is just to track things I need to do

- [ ] reprof
  - [ ] package
    - [ ] libfann2 / libfann-dev
  - [ ] tool
- [ ] metastudent
- [ ] snap2

[2015-11-30 19:27] lparsons commented on #426
One piece of work that is somewhat isolated, and would be very useful, is to get an intial implementation of biom tools (e.g. summarize-table). Minimally:

- [ ] create a repository dependency for biom tools (package_ biom-format_x.x), or is this already taken care of in galaxyproject/galaxy#950?
- [ ] Tool wrapper for summarize-table (http://biom-format.org/documentation/summarizing_biom_tables.h

[2015-11-30 20:36] erasche commented on #437
Wrapping reprof is going well. Soon we may have the [data for reports like this](http://ppopen.informatik.tu-muenchen.de/visual_results?req_id=$1$qqJnTvJE$W6Yy0.WWSmmJrHqi6Riok.) in Galaxy, which will play *really nicely* with Jbrowse :D
![reprof](https://cloud.githubusercontent.com/assets/458683/11483721/a3fa36b0-976f-11e5-830b-62b120b864ca.png)

More tools we'll have to add to the the genome ann

[2015-11-30 21:43] blankenberg commented on #432
* reduce Kraken datasets to a single tab-delimited file (@blankenberg)
  - Collections join on tabular columns: https://github.com/galaxyproject/tools-iuc/pull/434
  - Cut tool to accept stepsize in ranges: https://github.com/galaxyproject/galaxy/pull/1190

[2015-11-30 21:44] blankenberg commented on #432
Fix for PEAR: https://github.com/galaxyproject/tools-iuc/pull/438

[2015-11-30 21:54] oxyko commented on #419
I've refactored all wrappers to use macros, as discussed earlier today. Currently macros takes care of <requirements>, <citations> and some common text from <help>. Wanted to extract the wrapper version as well, but the versions are all over the place: from 1.20.0 to 1.27.0. So not sure if it is better to use one version for all the wrappers, and if yes, then which one. Any thoughts?

[2015-11-30 22:20] bgruening commented on #426
@lparsons if you don't mind please submit a PR. So we can coordinate the effort here for tomorrow.
@yvanlebras regarding biom tools. I know he is using them already in his workflow so we can probably include his wrapper.

[2015-11-30 22:36] bgruening commented on #419
@oxyko this is a great work!

[2015-11-30 22:45] bgruening commented on #437
Just one word: Wonderful!

[2015-11-30 23:00] nekrut commented on #432
Added tests for Kraken https://github.com/galaxyproject/tools-devteam/pull/297

[2015-12-01 04:05] lparsons commented on #426
@bgruening Don't mind at all. PR submitted. Will look into @yvanlebras biom wrappers tomorrow, thanks for the tip.

[2015-12-01 09:45] shiltemann commented on #419
@oxyko awesome! :)

Also, since all files pretty consistently use 1-space indentation, I could do something like sed -i 's/^\(\ *\)/\1\1\1\1/g ' to all xml files to quadruple all leading spaces? ..or shall we we not worry about this for now?

[2015-12-01 09:54] bgruening commented on #419
@shiltemann I think this is a good idea. I would wait before we have merged @oxyko PR to prevent more merge conflicts. But yes this is the way to go.

[2015-12-01 10:41] Raynooo opened #441 "Flash"
Hi, this is my first contribution here so I'll almost copy Anthony's issue

For #299, we need to have a package for Flash (used by frogs suite)
I have locally created and tested it and will make a PR for it.

Renaud

[2015-12-01 10:42] bgruening commented on #441
This will be a great contribution! Also please have a look at our PEAR wrapper, that does mostly the same.

[2015-12-01 10:45] Raynooo commented on #441
Yeah I saw after I started that it got sent back in the priority list, but at least that will be useful as practice for me, I'll look into PEAR next.

[2015-12-01 13:28] pjbriggs commented on #426
@lparsons I've started looking at updating your pick_open_reference_otus.py wrapper, along the lines of what it looks like you've already done for count_seqs.py. Please let me know if you're already working on this.

[2015-12-01 14:14] abretaud commented on #422
Writing wrappers for [PyRAD](https://github.com/dereneaton/pyrad) or [dDocent](https://github.com/jpuritz/dDocent) would be cool too

[2015-12-01 14:37] bgruening commented on #422
@abretaud I added them to the list, thanks!

[2015-12-01 14:51] bgruening commented on #419
@oxyko I think we should aim to target the latest release, right. So fix the latest release available in the requirement tag :)

[2015-12-01 14:57] bebatut opened #444 "PRINSEQ wrapper"
Hi,

For my project, I need Prinseq. I started to develop a wrapper to integrate to the ToolShed.
Can I integrate it here? I will start a Pull Request

[2015-12-01 15:20] lparsons commented on #426
@pjbriggs I barely started with that yesterday and got pulled away. It'd be great if you could work on that and incorporate the use of biom datatype for the output. I'll see what's going on with biom tools from @yvanlebras. Thanks!

[2015-12-01 15:30] bgruening commented on #444
This decision is up to you :)
We will not reject this PR. If you want to submit it here, can you please take my stuff from galaxytools as well? So we only have one place to maintain. Thanks!

[2015-12-01 17:01] pjbriggs commented on #426
@lparsons I've made a little progress with the pick_open_reference_otus.py wrapper but have run out of time today to do any more. So I've submitted a PR in case you have time to look at it and make suggestions/criticisms (in particular any advice on which outputs should be captured in the history). I'll try and do more tomorrow, but hope this is useful for now.

[2015-12-01 17:15] jxtx commented on #432
For converting to BIOM, would it make sense to go directly from Kraken output? It looks like this would be a relatively simple modification to kraken-report. A --biom option has been requested multiple times on their mailing list so this would be a valuable upstream contribution rather than just good for Galaxy. Would require somebody to hack some Perl however.

[2015-12-01 17:46] bgruening commented on #426
@lleroi @pjbriggs @lparsons I guess we need to adopt all tools to macros and execute a few sed commands on top of that.
The generator produces not so nice results.

[2015-12-01 17:51] bgruening commented on #419
@shiltemann did a huge cleanup PR in https://github.com/galaxyproject/tools-iuc/pull/447
Please rebase your work to the latest changes. Thanks!
@oxyko you also need to rebase

[2015-12-01 18:51] lparsons commented on #426
There are a LOT of tools (and not all of them are that useful). Also, many of the tools have very complicated output (many files, etc.) so it's a bit more than using sed. That's why I decided to focus on a workflow first, to get something useful. Then, using those tools as a template, start updating wrappers for other tools.

[2015-12-01 19:17] tiagoantao commented on #422
@bgruening @abretaud I have added a link to PyRad documentation. I will probably send an email to the author to see if he wants to participate. He is a Python programmer, so he might be interested...

[2015-12-02 16:38] nekrut commented on #432
@jxtx: yep, this is what @davebx is currently working on

[2015-12-02 16:39] nekrut commented on #432
It appears diamond will have to wait: it cannot format standard `nr` database from ncbi https://github.com/bbuchfink/diamond/issues/25

[2015-12-02 17:14] bgruening commented on #432
@nekrut Looking in my old histories I think the old version of diamond and the data manager was working for me on NR.
I hope he can fix it.

[2015-12-02 17:16] nekrut commented on #432
looks like it cannot tolerate dashes. They should not be happening in nr,
but who knows. Editing nr is really out of question I think.

On Wed, Dec 2, 2015 at 12:14 PM, Björn Grüning <notifications@github.com>
wrote:

--
Anton Nekrutenko
Professor of Biochemistry
and Molecular Biology
*http://nekrut.bx.psu.edu <http://nekrut.bx.psu.edu>*
(814) 826-3051

[2015-12-02 18:41] nekrut commented on #432
Also, it appears that Diamond is virtually dead - there is no active development there

[2015-12-04 19:32] mvdbeek commented on #416
@tiagoantao From the directory in your installation path I see that you are on changeset revision [a8438aa1207c](https://iuc@toolshed.g2.bx.psu.edu/repos/iuc/package_r_3_0_3/rev/a8438aa1207c),
so you're supposed to have LD_LIBRARY_PATH pointing to `$INSTALL_DIR/lib/R/lib`.
Any chance a simple update/reinstallation suffices ?
Installing charts from the toolshed into a clean instance works, and I ca

[2015-12-06 16:05] bgruening commented on #432
@nekrut still interested in Diamond?

[2015-12-06 16:15] bgruening opened #466 "khmer is not able to compile on SL6 and RH6"
According to http://khmer.readthedocs.org/en/latest/dev/coding-guidelines-and-review.html#c-standards khmer needs GCC 4.8.2+ to compile successfully. Any ideas how we can work around this?
We could create a wheel with starforge and try to install it via a package.

[2015-12-07 09:58] peterjc commented on #432
Diamond lives! :)

v0.7.10 was just released - see GitHub https://github.com/bbuchfink/diamond/ - including a fix for the strange minus signs in protein sequences (treats them as X).

[2015-12-07 10:00] bgruening commented on #432
@peterjc https://github.com/galaxyproject/tools-iuc/pull/465 :)

[2015-12-07 12:35] nsoranzo commented on #304
@mvdbeek Is this fixed by your recent work?

[2015-12-07 12:42] nsoranzo commented on #168
Closing this, @erasche if you still want to open a Galaxy GitHub issue for system requirements, this is a reminder :)

[2015-12-07 12:42] #168 closed

[2015-12-07 12:48] nsoranzo opened #467 "flake8 all Python files and add check to Travis."
Excluding the usual E201,E202 and E501 errors, I got:
[code]

Would you all be happy if I start fixing these? When we finish, we can add a new check for this to TravisCI.

[2015-12-07 13:16] nekrut commented on #432
cool. I'll finish it

[2015-12-07 13:17] mvdbeek commented on #304
Yes, it should be, we continue to build R with cairo.

[2015-12-07 13:17] #304 closed

[2015-12-07 13:17] nekrut commented on #396
The latest NVC will do. vcflib as well.

[2015-12-07 13:59] peterjc commented on #467
In principle yes, and this would become a *de facto* IUC coding convention. I think we should document setting up a pre-commit git hook for IUC contributors to try to catch this locally before pushing to Git.

The downside of adding this to TravisCI to enforce this is it would remove any developer discretion - the PEP8 style guidelines are guidelines. So, for example I fully agree with leaving E50

[2015-12-07 14:06] bwlang commented on #399
A former intern of mine started a [wrapper for salmon](https://testtoolshed.g2.bx.psu.edu/view/ericpeterson/salmon_tool_wrapper/32b33b0233a2) in case anyone cares to polish it further (it's out of date, and has a not quite working tool dependency)

[2015-12-07 18:04] bgruening commented on #467
I would be very happy to merge such a PR :)

[2015-12-07 18:10] bgruening commented on #399
@bwlang I have a sailfish wrappers here: https://github.com/bgruening/galaxytools/tree/master/tools/sailfish
And would love to add a salmon wrapper. Still not clear if salmon is ready for prime-time or if sailfish is preferential.

[2015-12-07 21:19] erasche commented on #168
Thanks @nsoranzo

[2015-12-07 23:50] martenson commented on #396
@nekrut latest NVC is on Test and Main, I will update vcflib next

[2015-12-08 01:59] erasche opened #469 "Need package for xsltproc"
I have a blastXML filtering tool (top N hits, filter by e-value), but it's built as an xslt stylesheet, so it requires xsltproc to function.

[2015-12-10 10:59] yhoogstrate opened #477 "ncurses 5.9 fails to compile (gcc > 5.1)"
On my local instance installation of package_r_edger_3_11_0 fails because compilation of package_ncurses_5_9 fails with the following error:

[code]

It seems to be a GCC >5.1 specific issue: https://github.com/cloudius-systems/osv/issues/634

This is the third issue caused by specific versions of GCC. (https://github.com/galaxyproject/tools-iuc/issues/466 and https://github.com/galaxyproject/tool

[2015-12-13 22:04] tiagoantao commented on #416
I have upgraded everything and now works like a charm. Sorry for this...

[2015-12-13 22:04] #416 closed

[2015-12-15 09:49] mvdbeek commented on #416
No worries, glad it works now.

[2015-12-15 10:50] mvdbeek commented on #477
Well, in this case we do get a patch that likely resolves the issue.
I don't know what the implications would be of having a gcc package.

We could be running into hard to debug problems when mixing packages copiled by different gcc versions ...
Another thing would be people that need specific gcc versions that are fixed on their cluster.
https://stackoverflow.com/questions/23895081/can-you-mix-c-

[2015-12-15 22:00] bgruening commented on #477
Not sure if I posted it somewhere already, but I'm on @yhoogstrate side here. This is a very big problem and it will become bigger next year, especially if we will need to support Clang as well.
Imho, we should consider to offer a base easy_build toolchain or a Guix build which takes care of you dependencies. This toolchain can than be updated and maintained over a longer time period.

@yhoogstrat

[2015-12-16 13:43] mvdbeek commented on #477
Well, I'm just afraid of having to maintain a gcc build version for everything, assuming that simple mixing of packages won't work easily. But I guess we should get our hands dirty and try to see how it goes. Maybe it turns out to save us time.

[2015-12-16 14:51] erasche opened #483 "[request] bcftools 1.3"

[2015-12-17 19:00] martenson opened #488 "'Le Big' Main Winter Cleanup"
# requires installation/uninstallation
- [x] install datamash tools into their own section (reverse, transpose, datamash)
- [x] install trimmomatic, trim galore, pear
- [x] update BWA and MEM
- [x] RNA analysis to MAIN except of trinity
- [x] sam tools merge to MAIN except call and phase
- [x] NVC, freebayes, varian annotator latest to MAIN
- [x] variant analysis  merge into MAIN without GEMINI
-

[2015-12-17 19:04] nekrut commented on #488
GEMINI should follow shortly once it works on test for @bgruening and me

[2015-12-17 19:07] bgruening commented on #488
* @natefoo @martenson regading security: https://github.com/bgruening/galaxytools/tree/master/tools/text_processing/text_processing#note-about-security
* @deeptools 2.0 will be released this year
* HISAT2 not HISAT, we should deprecate HISAT
@nekrut working on a new gemini release: https://github.com/galaxyproject/tools-iuc/tree/gemini but the old one is working for us here
* @nekrut diamond not g

[2015-12-17 20:22] natefoo commented on #488
I concur with @bgruening regarding the security.

@nekrut, which resource selector did you want on Main? Right now the tools that can go to Stampede get a selector for that (and also for the "test/development" queue).

[2015-12-17 20:31] martenson commented on #488
thanks @natefoo @bgruening !

[2015-12-17 21:12] martenson commented on #488
@davebx could you please fix images on https://usegalaxy.org/root?tool_id=toolshed.g2.bx.psu.edu/repos/guru-ananda/heatmap/heatmap_1/1.0.0
thanks!

[2015-12-17 21:14] natefoo commented on #488
'Le Grand'?

[2015-12-17 21:19] martenson commented on #488
too French

[2015-12-18 19:10] martenson opened #495 "update (and adopt?) heatmap tool"
This tool is installed on Main and does not show toolform pictures properly. Owned by guru-ananda on MTS.

https://toolshed.g2.bx.psu.edu/view/guru-ananda/heatmap/dbd447fcd3e4

[2015-12-18 19:17] martenson commented on #488
created issue for the heatmap tool in iuc repo
https://github.com/galaxyproject/tools-iuc/issues/495

[2015-12-19 17:28] yhoogstrate commented on #477
If we would go down that way we would definitely be doing it wrong!
The advantage of having a compiler dependency shall not be that we won't encounter compiler specific issues anymore, but that we encounter them in the development/testing phase rather than in the production phase. If a package doesn't compile with the compiler present in iuc-tools, we know this upfront and the tool won't get into

[2015-12-22 14:06] dpryan79 commented on #417
This is fixed now, I'll close it.

[2015-12-22 14:06] #417 closed

[2015-12-22 14:52] bgruening commented on #495
Not sure about the use case here, but deepTools has a good heatmap plotting tool for NGS data.

[2015-12-22 14:52] martenson commented on #495
@bgruening it is deployed on Main, according to the process we cannot remove it..

[2015-12-22 14:56] bgruening commented on #495
Do you know him/her? Otherwise I can try get in contact via the TS to get access to the repository.

[2015-12-22 15:04] martenson commented on #495
He is a former member of Galaxy Team. https://www.linkedin.com/in/guruananda

[2015-12-22 15:06] bgruening commented on #495
I can fix ti, we just need write access to the repository. Does the devteam has by any chance have write access?

[2015-12-22 15:08] martenson commented on #495
@bgruening well, we are admins, after all :)

[2015-12-22 15:12] bgruening commented on #495
:smiley: I don't know what you are talking about ;) but do what you have to do and don't forget the IUC ...

[2015-12-22 15:18] martenson commented on #495
iuc has write perms now

[2015-12-23 11:12] bgruening commented on #477
Fixed in #486

[2015-12-23 11:12] #477 closed

[2015-12-28 20:45] erasche commented on #346
- [x] added standalone vs data dir option
- [x] my WebApollo tools work with this
- [ ] small JBrowse to

[2015-12-28 20:45] #140 closed

[2015-12-28 20:47] erasche commented on #140
WebApollo tools in progress. Haven't dealt with the new permission framework at all, but it is looking promising. Currently existing on my org's internal galaxy:

- [x] create organism
- [x] list organisms
- [x] create organims's output (a simple json struct) to WebApollo IFRAME (it's fraking magic, "create organism" tool followed by "annotate organism" tool, you just click on the eyeball and you

[2015-12-28 20:48] erasche commented on #250
colours can be specified in gff3, scores affect colouring: (Here "linear" means "linear scaling of the scores to opacity", and "fixed color" means "user specific colour which overrode any colour attribute in gff3)
![selection_512](https://cloud.githubusercontent.com/assets/458683/12025222/f958f764-ad71-11e5-8888-4581629b2003.png)

auto colours using brewer palletes:

![selection_513](https://cloud

[2015-12-28 21:03] erasche commented on #250
Features with UTRs under "auto" colouring, just amazing:
![selection_516](https://cloud.githubusercontent.com/assets/458683/12025395/20f7b9c0-ad74-11e5-93eb-fe0eaa925df2.png)

[2015-12-29 00:02] #346 closed

[2015-12-29 17:32] #250 closed

[2015-12-31 18:55] erasche commented on #357
Hi @tiagoantao sorry for the delay. The latest version of JBrowse-in-Galaxy is being placed on the main toolshed now. It should solve all of these issues. :)

[2015-12-31 19:09] erasche opened #508 "Roadmap: JBrowse"
# Changelog / Upcoming Changes

## v0.5
- [x] update existing jbrowse instances on disk (adding new tracks, also support pulling info from apollo) f4206bc58448bb39e5fae31942477c45642a9fca
- [x] generate-names.pl http://gmod.org/wiki/JBrowse_Configuration_Guide#Name_Searching_and_Autocompletion
- [x] Allow forcing HTML rather than canvas ef1646fc375513143fd743841ac618720267dbc9
- [x] defaultTracks

[2015-12-31 19:10] #165 closed

[2015-12-31 19:11] #129 closed

[2016-01-04 21:59] martenson commented on #488
This is mostly done, see the checklist.

[2016-01-05 00:03] bgruening commented on #488
This is amazing! usegalaxy.org will rock even harder! Thanks @martenson!

[2016-01-05 13:33] yhoogstrate opened #512 "HISAT2 dbkey metadata not passed through"
After running hisat2 with an indexed reference genome, the dbkey is not being set.

[2016-01-05 14:37] tiagoantao commented on #357
@erasche This is amazing, thanks!

[2016-01-05 14:37] #357 closed

[2016-01-05 15:42] tiagoantao commented on #422
@abretaud @bgruening @yvanlebras It is now new year and the metagenomics fest is long gone. I was thinking in resurrecting this in the next few days (start preparing, finding potential volunteers, ...)

[2016-01-05 18:48] martenson opened #515 "package_sailfish_0_6 runs cmake but does not require it"
it thus resulting in
[code]

[2016-01-05 19:11] #515 closed

[2016-01-05 19:20] martenson commented on #515
thank you @bgruening !

[2016-01-06 20:10] skaffen-amtiskaw opened #519 "package matplotlib 1.2.1 download broken"
[code]
url: https://github.com/matplotlib/matplotlib/archive/v1.2.1.tar.gz#md5#47ee56f51200b8760b98d97ee86f57c6:

[2016-01-06 21:14] martenson commented on #519
that URL works fine for me, maybe the machine that is trying to download it has connection trouble?

[2016-01-06 21:24] skaffen-amtiskaw commented on #519
Yeah and it works fine from a wget on the same machine galaxy is running on. I don't get it. Is there a way to manually place the tar file so that galaxy can just see that its there and get on with the install?

[2016-01-06 21:27] martenson commented on #519
@skaffen-amtiskaw Not as a part of TS installation I believe. Is the semicolon in the end of the url legit?

[2016-01-06 21:39] skaffen-amtiskaw commented on #519
I guess so? It's just the error log from the galaxy toolshed install.

[2016-01-07 10:57] abretaud commented on #422
Hi (and happy new year!)
It looks like a good idea! It's not really clear for me yet what we will be needed for the stacks web interface (i.e. potential IE). I don't have much time these days to look into it, but it would good to think about it before the hackathon

[2016-01-07 11:04] yhoogstrate commented on #519
The galaxy code (https://github.com/galaxyproject/galaxy/blob/dev/lib/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py#L169) works:

[code]

@skaffen-amtiskaw did the error occur just once or is it permanent? Can you run the piece of code above, just to make sure your ulrlib2 has no issues?

[2016-01-07 12:09] mvdbeek opened #520 "Deprecate package_r_3_2_0"
Since it has [issues](http://trac.sagemath.org/ticket/18254#comment:61) on OS X, and a quick grep shows no iuc tool is using this package.

Would be interesting to be able to see which tools/packages on the toolshed rely on other packages!

[2016-01-07 12:16] mvdbeek commented on #519
I also encountered this a few times (with other downloads). It seems wget/curl is a bit more reliable than urllib.

[2016-01-07 12:31] gregvonkuster commented on #520
Click on Repository dependency definitions in the left panel under the Valid Galaxy Utilities section.  This shows all repository dependencies, and package_r_3_2_0 does not display, implying that nothing is depending upon it.

[2016-01-07 13:05] mvdbeek commented on #520
Ah, good to know! Thanks

[2016-01-07 13:19] nsoranzo commented on #520
:+1:

[2016-01-07 14:22] skaffen-amtiskaw commented on #519
@yhoogstrate The error occurs every time.
pasta:
Traceback (most recent call last):
  File "check.py", line 5, in <module>
    src = urllib2.urlopen( download_url )
  File "/usr/lib64/python2.6/urllib2.py", line 126, in urlopen
    return _opener.open(url, data, timeout)
  File "/usr/lib64/python2.6/urllib2.py", line 397, in open
    response = meth(req, response)
  File "/usr/lib64/python2.6/urll

[2016-01-07 14:52] yhoogstrate commented on #519
Nice... I can reproduce this error using python2.6.

The python 2.6 version of python can't cope with hashtags which should be stripped of somewhere.

@erasche Do you want to keep the hashtags supported?

[2016-01-07 15:32] bgruening commented on #520
:+1:

[2016-01-07 15:37] bgruening commented on #519
@yhoogstrate this can now moved to the attribute `sha256=` and can be removed.

[2016-01-08 07:51] yhoogstrate commented on #519
@bgruening Absolutely, @erasche has fixed this in #213.

[2016-01-08 22:05] bgruening commented on #299
Work will continue in various branches, but I will close this one :)
A summary of this event can be found here: https://gist.github.com/bgruening/734ff541e9d1b02f7b09

[2016-01-08 22:05] #299 closed

[2016-01-08 22:10] bgruening opened #522 "Project "Conda migration""
As a few of you already know I have spend a few days to mass migrate TS packages to the conda build system. The aim was to simple deactivate the current TS dependency resolver and use the conda resolver instead ... a mid-term aim, I admit :)

The good news is that I was able to migrate a lot of our IUC packages in two days and uploaded them to [bioconda](https://github.com/bioconda/bioconda-recipe

[2016-01-08 23:21] erasche commented on #522
awesome stuff @bgruening :) Sincerely, thank you for putting the effort into getting these discussions and efforts going.

I don't see this as a problem, we should have our own galaxy channel which we dump all of the old crap into that no one (i.e. bioconda, r) wants to deal with. We can have as strict of versions as we want.

self hosting is easy. We could do it on depot. I'd say we *start* self

[2016-01-09 08:46] mvdbeek commented on #522
This looks super-interesting and the build-tests will be a huge win!
I guess the only step forward is trying, if you think that conda is as close to feaure-complete as it gets.
- Will we be able to support packages by different owners?
- Would this require users to setup their own channel?
- What would be the procedure to quickly test a new conda recipe?
I like the fact that every tool developer h

[2016-01-09 12:32] bgruening commented on #522
We can do this. But we need to get all on board I guess and integrate it deeply with bioaRchigve and cargo-port.

Hehe, see here: "If conda can handle such cases I guess it would be easier for us to integrate this directly into bioaRchive instead of doing this on demand on pushing regularly to bioconda." from https://github.com/bioconda/bioconda-recipes/pull/574#issuecomment-170072824 :)

They are

[2016-01-09 16:27] erasche commented on #522
I think everyone is on board, judging by comments I've read. I don't know about the "deep integrations", we can figure out some of that later. cargo-port is feature complete, it is just a dumb tarball store, that's it. bioaRchive has room for features, so maybe there's work to be done there.

I'm not understanding why you're pushing bioaRchive integration so much -- we do so much more than just R

[2016-01-09 17:20] bgruening commented on #522
Bioconda is using it and they know it. All of our other projects probably not, it was serving as an example because the discussion there started with an R PR.
And yes this is exactly what I meant. Remember this PR https://github.com/bioarchive/aRchive_source_code/pull/20, I will extend it to spit out conda recipes.

[2016-01-09 18:16] erasche commented on #522
Ok, thanks for clarification @bgruening. bioaRchive needs a *lot* of love... really a complete rewrite. Just haven't had time for it.

[2016-01-10 16:52] tiagoantao commented on #422
@abretaud There is a stacks package as you probably know http://toolshed.genouest.org/repos/cmonjeau/stacks . This was developed by @yvanlebras and @cmonjeau .

I am making a few changes myself (which I can make public), namely:

- Support for GALAXY_SLOTS (multi-threading)
- Support for collections
- General version upgrade of tools

I had a local request for supporting clone_filter, which I can

[2016-01-10 17:01] yvanlebras commented on #422
Hi @tiagoantao,

For sure we will accept patches and put it under tools-iuc ! We will exchange locally in Rennes with @abretaud and @cmonjeau to prepare our participation to this contribution fest.

[2016-01-10 17:06] tiagoantao commented on #422
@yvanlebras Any possibility you would put the code on github (even if not under tools-iuc)? I could submit a PR against it.

[2016-01-10 17:19] yvanlebras commented on #422
@tiagoantao of course! I have to check with @cmonjeau, because I see only these 1.18 stacks tools even if we have a more recent 1.32 one..... I will keep you informed!

[2016-01-10 17:22] yvanlebras commented on #422
.....@tiagoantao I forgot the hyperlink: https://github.com/genouest/galaxy-tools/tree/master/tools/stacks

[2016-01-10 17:33] tiagoantao commented on #422
@yvanlebras In my version, I have upgraded all the tools. I will start submitting PRs today.

[2016-01-10 17:36] yvanlebras commented on #422
@tiagoantao Thanks! OK,  I will have a look.

[2016-01-11 09:28] bebatut opened #524 "Installation of Python 2.7 on MacOS 10.10.2"
Hello,

On MacOS 10.10.2, I have issue with installation of packages involving Python 2.7 (`package_python_2_7_10`, `package_python_2_7`):

[code]

I tested it manual installation following instructions used in these wrappers and I have same errors.
I fixed it by adding `--enable-universalsdk=/` to configure step with manual installation.

Did anyone have this issue?
I am not sure that the found c

[2016-01-11 09:53] bgruening commented on #524
Hi,

it seems to be MAC specific:

http://svn.python.org/projects/python/trunk/Mac/README

:(

On 11.01.2016 10:28, Bérénice Batut wrote:

[2016-01-11 13:05] mvdbeek commented on #522
One thing that I'm wondering about, how is the interaction with the conda devteam?
We may need documentation updates upstream ...
As an example, I've gone through the [test-drive] (http://conda.pydata.org/docs/test-drive.html) and I think i should be able to install packages, but it fails for me with a pretty useless message:
[code]

Turns out I also needed the r channel. For me this is an issue o

[2016-01-11 15:08] broodjeaap opened #525 "Broken link in package_circos_0_67_5"
Dear IUC,

When I was writing a tool wrapper that depends on package_circos_0_67_5 (https://github.com/galaxyproject/tools-iuc/tree/circos/packages/package_circos_0_67_5) developed in your circos branch, which you have made available only in the testtoolshed, I realized that the installation fails because of broken dependency due to a 404 error:

http://www.cpan.org/authors/id/J/JV/JV/Getopt-Long-

[2016-01-11 15:13] bgruening commented on #525
@broodjeaap we accept PR that fixes such things :)
Glad to see someone is again working on ciros! Let me know if you need help to create such a PR, otherwise I can do this for you.

Welcome to this repo!

[2016-01-11 15:24] broodjeaap commented on #525
Hope this is working:
https://github.com/galaxyproject/tools-iuc/pull/526

[2016-01-11 15:33] #525 closed

[2016-01-11 18:03] jennaj opened #528 "Create a tool to trim BED "overhanging" chromosome coordinates (similar to CleanSam)"
Certain tools create datasets with coordinates that start with negative values and/or extend beyond the chromsome end. These are problematic to work with downstream. While text manipulation tools can be used to correct the problem, this is tedious to do and probably only an option for advanced users already familiar with line-command tools.

A tool exists to trim SAM/BAM content. A complimentary t

[2016-01-11 19:12] jennaj commented on #488
**HISAT2 DM** has a problem with advanced options re SNP annotation. See: unrecognized arguments

[2016-01-11 19:15] martenson commented on #488
@jennaj please create a new issue for that

[2016-01-11 22:21] jennaj opened #530 "HISAT2 Data manager reports unrecognized arguments for SNP annotation"
**HISAT2 DM** has a problem with advanced options re SNP annotation. Wrapper needs update? See: unrecognized arguments

[2016-01-11 22:22] jennaj commented on #488
@martenson Done, thanks! https://github.com/galaxyproject/tools-iuc/issues/530

[2016-01-13 00:16] martenson commented on #520
thanks @mvdbeek

[2016-01-13 00:16] #520 closed

[2016-01-13 17:20] blankenberg commented on #528
Should be a rather straightforward tool to implement for generic interval files, just make use of .len files, then its max/min-ing the start/end against 0/length.

[2016-01-13 17:43] martenson opened #536 "macs2 and R update/fix"
this is hapening on Main:
`Rscript: error while loading shared libraries: libgomp.so.1: cannot open shared object file: No such file or directory`

[code]

[2016-01-13 18:04] jennaj commented on #528
thanks @blankenberg ! Totally agree with this solution. :)

[2016-01-13 19:26] gregvonkuster opened #537 "meme tools require ImageMagick"
The meme tools here https://github.com/galaxyproject/tools-iuc/tree/master/tools/meme need to depend on a recipe that installs ImageMagick.

[2016-01-15 23:42] bgruening commented on #522
Short update from my side:

We have a work in progress `travis` [branch](https://github.com/galaxyproject/tools-iuc/tree/travis).
This works with conda dependencies that we have added to bioconda and planemo that installs these dependencies and tests the tools. Thanks @jmchilton for fixing planemo and the bioconda community for the fruitful discussions.

There is still some work to do, but I feel

[2016-01-18 18:14] jennaj commented on #530
Comment .. this DM fails when incorporating ref annotation even for very small genomes and given 64 GB. Has anyone does this successfully?

There is also some confustion about inputs. The form could have updated help text for SNP and Splices to help with usage (exact expected input dataset format).

Examples:

* What exact SNP format for input (full UCSC table?)? Seems like best, tried others, all

[2016-01-19 12:09] bebatut opened #551 "Issue with `biom` commands and QIIME"
Hello,

I'm working on QIIME wrappers with dependency on `package_

When executing several QIIME commands implying `biom` command in Galaxy environment, I have this error:

[code]

There is no error with execution of same commands with command lines in same virtual environment.

Do you have any suggestion ?

Thanks,

Bérénice

[2016-01-20 10:27] nsoranzo commented on #65
:+1:

[2016-01-20 18:58] jennaj opened #555 "DiffBind has repo installation problems triggering usage errors"
Error message:

Tool Shed repo: https://toolshed.g2.bx.psu.edu/view/bgruening/diffbind/9e9f85c20d99

[2016-01-20 19:00] nsoranzo commented on #555
@jennaj Please move this issue to https://github.com/bgruening/galaxytools

[2016-01-21 16:29] martenson opened #559 "create package for picard2.0"
https://github.com/broadinstitute/picard/releases

[2016-01-21 16:30] martenson commented on #559
forgot this one is in devteam

[2016-01-21 16:31] martenson commented on #559
I used a dirty trick

[2016-01-21 17:55] bgruening commented on #555
@martenson could you send me the INSTALLTION.log from usegalaxy.org DEXSeq?

[2016-01-21 21:54] #559 closed

[2016-01-22 14:40] martenson commented on #555
@bgruening dexseq (https://toolshed.g2.bx.psu.edu/view/iuc/dexseq/4ca0e679f21e) is not on Main

[2016-01-22 14:58] bgruening commented on #555
Uh, ok this was about diffbind, sorry. Can you check diffbind, please?

[2016-01-22 15:57] peterjc opened #561 "package_samtools_1_3"
I started on this based on the samtools 1.2 package, but realised I don't have the infrastructure in place to properly test it.

As an aside, I found https://github.com/galaxyproject/planemo/issues/404

[2016-01-22 17:22] martenson commented on #555
@bgruening I think I fixed this on Main, @jennaj is testing it

[2016-01-22 17:33] bgruening commented on #555
Even better! :)

[2016-01-25 17:23] jennaj commented on #555
Still a a problem this morning, but I expect you all are working on it. I'll watch this ticket for updates and will test again when given a go. :)

[2016-01-25 17:27] jennaj commented on #555
Just saw @nsoranzo's comments. Did this get migrated or is this the primary ticket (comments followed after he asked to move it to the other repo). Let me know if should still move. If primary, we should probably unclose it. Still active.

[2016-01-25 17:53] nsoranzo commented on #555
I'd prefer to have the issue migrated where it belongs, especially if it needs code fixes.

[2016-01-25 19:28] gad83 opened #563 "Error downloading from URL for hmmer"
Hello,

I'm trying to install from Galaxy's Tool shed repository, the 'package_hmmer_3_1b2' tool dependencies.

However, I'm getting this error:
Error downloading from URL
ftp://selab.janelia.org/pub/software/hmmer3/3.1b2/hmmer-3.1b2.tar.gz:
<urlopen error ftp error: [Errno 110] Connection timed out>

Can someone please help me?

Salutations!

[2016-01-25 19:34] nsoranzo commented on #563
HMMER download have moved to http://eddylab.org/software/hmmer3/3.1b2/hmmer-3.1b2.tar.gz

[2016-01-25 19:35] erasche commented on #563
HMMER download moved to our galaxy cargo port. We should update the HMMER URL there.

[2016-01-25 19:51] #563 closed

[2016-01-25 19:53] erasche commented on #563
Hi @gad83, the updated packages should be on the main toolshed now. Thanks for reporting this!

[2016-01-25 19:53] martenson commented on #563
thanks @erasche !

[2016-01-26 16:18] martenson commented on #555
@nsoranzo that is the thing, we do not know what is wrong with it
@jennaj do you know if it ever worked?

[2016-01-26 16:21] bgruening commented on #555
It works here in FR. So you have any error message for me from the INSTALLATION log, usually one R package fails to install ...

[2016-01-26 16:25] martenson commented on #555
@bgruening I re-installed all the dependencies and have I now have no errors in logs whatsoever

[2016-01-26 16:27] martenson commented on #555
![screenshot 2016-01-26 11 26 52](https://cloud.githubusercontent.com/assets/1814954/12586802/b98caa12-c41f-11e5-93fe-5df2a03c6813.png)
![screenshot 2016-01-26 11 27 11](https://cloud.githubusercontent.com/assets/1814954/12586816/c1b24008-c41f-11e5-916d-176293c95a09.png)

[2016-01-26 16:29] martenson commented on #555
I am trying 'repair' now
![screenshot 2016-01-26 11 29 07](https://cloud.githubusercontent.com/assets/1814954/12586896/0dcf3856-c420-11e5-88e3-95643cc4c790.png)

[2016-01-26 16:32] martenson commented on #555
everything above turned green after repair, but still

Tool execution generated the following error message:
[code]

[2016-01-26 16:34] bgruening commented on #555
re-installing diffbind? Can you check if you see a diffbind folder in the tree. Or forward me the INSTALLTION.log please?

[2016-01-26 16:58] lparsons commented on #96
I decided to change the output file format to tabular since that is what MACS outputs anyway. There are other outputs (narrowpeaks, broadpeaks, etc.) that are in BED format, but the peaks.xls file is it's own tabular format (see https://github.com/taoliu/MACS#output-files). Also, updated to the latest point release.

[2016-01-26 17:11] lparsons commented on #397
For MACS2 see PR #570

[2016-01-26 19:43] yhoogstrate commented on #519
@skaffen-amtiskaw  the pull request that is supposed to solve this issue has been merged yesterday and I have just updated them in the tool shed. Can you confirm whether this solves your problem?

If this indeed solves it for you, could you close the issue?

Thanks again for reporting.

[2016-01-27 15:29] martenson commented on #555
@blankenberg any luck with testing this?

[2016-01-27 16:22] lparsons opened #573 "Push updated bedtools wrapper to main toolshed"
The bedtools wrappers appear to have been updated to 2.24, however, the new versions have not yet been pushed to the toolshed.

[2016-01-27 16:47] martenson commented on #555
According to recent testing by @jennaj this now works. Tool dependency reinstallation helped.

[2016-01-27 16:47] #555 closed

[2016-01-27 18:41] jennaj commented on #555
Yes, all functions now correctly on http://usegalaxy.org.

Users reading this ticket should re-run all prior failed jobs. If a new problem is uncovered, please send in a bug report from the error dataset via the "green bug" icon.

Thanks all!

[2016-01-27 20:17] bgruening commented on #573
Updated, thanks for pointing this out!

[2016-01-27 20:17] #573 closed

[2016-01-27 20:26] nsoranzo commented on #96
Should be fixed by #570.

[2016-01-27 20:26] #96 closed

[2016-01-28 07:57] bebatut opened #576 "package_infernal_1_1 and ftp link"
Hello,

I have an issue with `package_infernal_1_1` installation from TTS and TS.
FTP link (ftp://selab.janelia.org/pub/software/infernal/infernal-1.1.tar.gz)  seems dead.
In `tool_dependencies.xml` on current GitHub repository, FTP link was changed.

Is it possible to push this version on TTS?

Thanks :)

[2016-01-28 07:59] bgruening commented on #576
Updated :)

[2016-01-28 07:59] #576 closed

[2016-01-28 08:01] bebatut commented on #576
Thanks :)

[2016-01-28 09:24] peterjc opened #577 "Testing using paths with spaces"
Spin out from discussion on #455 where is is good practice to defensively quote path and filenames in the ``<command>`` template (etc?) when wrapping tools. This intended to cope with the corner case where Galaxy or one of the working folders has been setup using a directory name with a space.

While we recognise using spaces in directories is a bad idea given how command line parsing works, and e

[2016-01-29 18:23] gad83 opened #582 "Shared Data, Data Libraries - Uncaught exception in exposed API method"
Hello,

When I click on Shared Data --> Data Libraries a message appears: "Uncaught exception in exposed API method" (ref. picture attached).

Here is the logs:
`192.168.0.1 - - [29/Jan/2016:13:13:18 -0400] "GET /galaxy-prod/library/list HTTP/1.1" 200 - "http://my.galaxy.my.network.com:8081/galaxy-prod/library/list" "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) C

[2016-01-29 18:26] nsoranzo commented on #582
Hi @gad83,
this repository is for Galaxy tools maintained by the IUC team, while your issue is about a Galaxy bug. Can you please open a new issue on https://github.com/galaxyproject/galaxy/issues/new ?

Thanks for using Galaxy!

[2016-01-29 18:26] #582 closed

[2016-01-29 19:20] jennaj opened #583 "MACS2 Callpeak has a few wrapper/option problems"
**MACS2 Callpeak**

_Problem: Wrapper option *_--foldenrichment*\* not recognized?

tool id: toolshed.g2.bx.psu.edu/repos/iuc/macs2/macs2_callpeak/2.1.0.20140616.0
tool version: 2.1.0.20140616.0
job pid or drm id: 5896379.roundup
job tool version: macs2 2.1.0.20140616
## Fatal error: Exit code 2 ()

job stdout:
usage: macs2 [-h] [--version]
     {callpeak,diffpeak,bdgpeakcall,bdgbroadcall,bdgcmp,b

[2016-01-29 20:28] lparsons opened #584 "bedtools tool lineage not correct"
After updating bedtools to version 2.24 I see issues with various tools (e.g. bedtools_bamtobed). The tool lineage shows:
[code]
separately from:
`toolshed.g2.bx.psu.edu/repos/iuc/bedtools/bedtools_bamtobed/2.22.0`

[2016-01-29 21:45] lparsons commented on #583
This is implemented in the wrapper as a selection between p-value, q-value, and fold enrichment for peak detection. However, looking at the docs for MACS2, p-value and q-value appear to be mutually exclusive options as cutoffs for peak detection, while fold enrichment is implemented as a post-processing step only to filter out peaks.

Thus, I would propose that fold enrichment be moved to a separa

[2016-01-29 23:03] yvanlebras commented on #422
With @lecorguille, Maria Bernard and @abretaud, we begin to create things like remote hackathon dedicated [Trello](https://trello.com/b/EfGYBOPX/hackthon-radseq) and [HUBzero space](https://cesgo.genouest.org/groups/guggo/wiki/RADseqHackathon to prepare the event.

[2016-01-29 23:15] tiagoantao commented on #422
I had a request for rapture support:
http://genetics.org/content/early/2015/12/22/genetics.115.183665

[2016-02-01 13:29] #512 closed

[2016-02-04 09:03] #519 closed

[2016-02-04 09:12] yhoogstrate commented on #406
@jennaj Which tool is this exactly? "Intersect intervals" or "multiple intersect"?  When I grep for "mbi.png" it gives no results.

[2016-02-04 09:15] yhoogstrate commented on #212
@erasche Is this still an open issue?

[2016-02-04 11:56] #433 closed

[2016-02-04 14:30] #212 closed

[2016-02-05 00:26] tiagoantao commented on #422
I am going to drop an email to the authors of PyRad and dDocent about our hackthon

[2016-02-05 00:43] yvanlebras commented on #422
Hi Tiago,

Good idea!

I cc Julian concerning Stacks !

Here in France, we begin to prepare the event ! A preliminary description is written on our GUGGO Galaxy working group dedicated space ( https://cesgo.genouest.org/groups/guggo/wiki/RADseqHackathon ).

Don't hesitate to come back to us if we can help !

Cheers,

Yvan

----- Mail original -----

--
---------------------------------------------

[2016-02-07 16:39] jpuritz commented on #422
Hi everyone,

I'm happy to help with implementing dDocent and filtering scripts!

Thanks for including dDocent.

[2016-02-08 06:31] yhoogstrate commented on #323
@martenson is this still an issue?

[2016-02-08 15:15] martenson commented on #323
@yhoogstrate does not seem like it thanks to @davebx - closing, thanks for reminder

[2016-02-08 15:15] #323 closed

[2016-02-08 17:25] jennaj commented on #406
Part of the bedtools suite. The tool display name is in the title.

Multiple intersect is my best guess from the tool history:
<img width="570" alt="screen shot 2016-02-08 at 9 19 41 am" src="https://cloud.githubusercontent.com/assets/8999735/12893332/55a33a18-ce45-11e5-9bce-7827346efd6f.png">

This is the repo:
https://toolshed.g2.bx.psu.edu/view/iuc/bedtools/607c0576c6ab

The bedtools tool group

[2016-02-08 21:40] natefoo commented on #406
It looks like these were fixed, we probably just need to update the tools?

https://github.com/galaxyproject/tools-iuc/commit/c6e4cbf6727517f198d0f47fc74bc06341cad2de#diff-253abc6f4211dae7679f9b77d2247537L110

[2016-02-09 07:42] bgruening commented on #584
@lparsons I have reset all metadata in the TS can you get the newest metadata in you Galaxy instance and see if this fixes your problem?

[2016-02-09 10:31] nsoranzo commented on #584
I also had this problem and already resetted the metadata few days ago, sorry I missed this bug report. It's fixed for our server after running "Set tool versions".

[2016-02-09 10:31] #584 closed

[2016-02-09 16:49] jennaj commented on #406
Thanks @natefoo - I think that is the "new" version of the tool and it is already on main. It is the old one (a dup) with a problem that is still shown in the tool panel. (The whole tools suite is duplicated).

Tool name **Intersect multiple sorted BED files**

The first one listed in the tool panel is the updated version, corrected and linked to the diff above:
Intersect multiple sorted BED files

[2016-02-09 21:28] jennaj commented on #583
@lparsons Agree, what you outline would be a better parameter model on the tool form

[2016-02-10 00:26] jennaj opened #586 "Define Repmatch tool's input format on the tool form and possibly filter types in input section"
**Usage Issue**

Knowing what input format is accepted by Repmatch has been confusing for users. One has to know what the tool is already and general usage to use the tool in Galaxy effectively. Or, they to know how to go about examine the repo directly or in the tool shed to determine the type in the code.

**Tool**

 https://toolshed.g2.bx.psu.edu/view/iuc/repmatch_gff3/a072f0f30ea3

*_Wrapper d

[2016-02-10 16:22] yhoogstrate commented on #37
Solution is proposed here: https://github.com/galaxyproject/tools-iuc/pull/534

[2016-02-10 16:25] yhoogstrate commented on #262
@bcclaywell Does TPP solve this issue for you?

[2016-02-10 22:11] natefoo commented on #406
@martenson Can you fix up the tools on Main please?

[2016-02-10 22:58] bcclaywell commented on #262
@yhoogstrate Galaxy says package_tpp_4_8_0 installed on our test instance, but it looks like the decoyfasta tool (which is what I was trying to install at the time) still depends on TPP 4.6.3. To be honest I punted on installing proteomics tools, in part because of these issues but also because Linux builds of msconvert/ProteoWizard couldn't convert vendor files.

[2016-02-11 03:28] methylome opened #587 "package_fontconfig_2_11_1 can't be installed on CentOS 6.6"
Hello,

CentOS 6.6 has zlib-1.2.3 but this package requires zlib-1.2.3.4.
fcfreetype.c:70:2: warning: #warning "No FT_Get_BDF_Property: Please install freetype 2.1.4 or later"
fcfreetype.c:74:2: warning: #warning "No FT_Get_PS_Font_Info: Please install freetype 2.1.1 or later"
fcfreetype.c:1833:2: warning: #warning "No FT_Get_Next_Char: Please install freetype version 2.1.0 or newer"
fcfreetype.c:

[2016-02-11 04:01] methylome commented on #587
I've fixed this problem by adding the dependency on package_zlib_1_2_8 and package_libpng_1_6_7.

[2016-02-11 09:21] mvdbeek commented on #587
That should have already been fixed with https://github.com/galaxyproject/tools-iuc/pull/578 ... .
What was the context in which fontconfig got installed?
The current version on the toolshed is fetching libpng at revision 588666932a32, which includes a dependency on zlib.
Maybe we have to do a metadata reset on whatever causes fontconfig to be installed.

[2016-02-11 14:26] methylome commented on #587
Yes, package_libpng_1_6_7 has no problem, but package_fontconfig_2_11_1 can't use zlib_1_2_8 and libpng_1_6_7 during installation. I thought it's because there is no configuration in tool_dependencies.xml in package_fontconfig_2_11_1. I've attached the modified file.

Thanks,
Justin.
[tool_dependencies.xml.gz](https://github.com/galaxyproject/tools-iuc/files/126490/tool_dependencies.xml.gz)

[2016-02-11 14:30] mvdbeek commented on #587
If you want, you can do a Pull request with your modification, I would accept this.
I can also do this for you, if you prefer.

[2016-02-11 16:04] martenson commented on #406
@nate @jennaj I have hidden the old aaronquinlain's bedtools on Main

[2016-02-11 16:04] #406 closed

[2016-02-11 18:17] methylome commented on #587
If it's helpful, I'd like to share my modification. When I clone this repository, the source file packages/package_fontconfig_2_11_1/tool_dependencies.xml is more different from I expected. Do you still want to push it?

[2016-02-11 19:36] jennaj commented on #406
Looks great, thanks!

[2016-02-11 19:44] lparsons commented on #584
Fixed for me too after running "Set tool versions"

On Tue, Feb 9, 2016 at 5:31 AM Nicola Soranzo <notifications@github.com>
wrote:

[2016-02-12 20:07] martenson opened #589 "package ncurses 6.0 download url broken"
reported here: https://github.com/galaxyproject/galaxy/issues/1720 by @mgangel

dead link: ftp://invisible-island.net/ncurses/current/ncurses-6.0-20150725.tgz

https://github.com/galaxyproject/tools-iuc/blob/86a44bf15f8184b690ee1af98aa1d5f86ad2fb3d/packages/package_ncurses_6_0/tool_dependencies.xml#L6

[2016-02-13 17:13] bgruening commented on #587
@methylome please share and we can do the rest. I'm wondering if we just need to sync this github account with the TS if you have seen larger differences.

[2016-02-13 17:20] bgruening commented on #262
@bcclaywell I can change the depencency of decoyfasta to tpp_4_8 if you are fine with this. We need any feedback for all of our proteomics tools ... so I'm very thankful that you test tpp_4_8.

Thanks,
Bjoern

[2016-02-14 14:06] bgruening commented on #589
@mgangel can you please check if this is fixed with the latest update? I uploaded the newest package to the Tool Sheds.

Thanks for reporting!

[2016-02-16 11:58] matthdsm opened #597 "Gemini 0.18.1.0 install issue"
@bgruening

When trying to install updated versions of the gemini wrappers I get the following error:

`tool_shed.galaxy_install.install_manager ERROR 2016-02-16 12:54:52,733 Error installing tool dependency gemini version 0.18.1: Unable to locate required tool shed repository named package_gemini_0_18_1 owned by iuc with revision 13ce32ffda3a.
Traceback (most recent call last):
  File "lib/tool_s

[2016-02-16 12:16] matthdsm commented on #597
Ok, apparently this is a non issue
It seems there was an issue with the automatic handling of dependencies, fixed it by manually updating to the correct revision.

Matthias

[2016-02-16 12:16] #597 closed

[2016-02-16 15:34] mgangel commented on #589
Works perfectly! Thank you!

From: Björn Grüning <notifications@github.com<mailto:notifications@github.com>>
Reply-To: galaxyproject/tools-iuc <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday, February 14, 2016 at 9:06 AM
To: galaxyproject/tools-iuc <tools-iuc@noreply.github.com<mailto:tools-iuc@noreply.github.com>>
Cc: Matthew Angel <matthew.angel@nih.gov<mailto:matthew.angel@

[2016-02-16 15:35] #589 closed

[2016-02-16 16:28] martenson commented on #589
thanks @bgruening !

[2016-02-16 19:56] gregvonkuster commented on #537
Handled here: https://github.com/galaxyproject/tools-iuc/pull/600

[2016-02-16 19:56] #537 closed

[2016-02-16 21:29] martenson opened #601 "package_python_2_7_scipy_0_14 fails to install on Test"
thus rendering the deeptools uninstallable
surprisingly this one installs fine:
https://github.com/galaxyproject/tools-iuc/tree/master/packages/package_scipy_0_14

[code]

[2016-02-17 10:58] bgruening commented on #601
Fixed.

[2016-02-17 10:58] #601 closed

[2016-02-17 11:04] bgruening opened #603 "bam_filter Parameter validation failed"
Hi,

I get with this error with https://github.com/galaxyproject/tools-iuc/blob/master/tools/ngsutils/bam_filter.xml and 16.01.

It seems that all _optional_ integers are throwing this error. Does anyone has an idea?
ping @guerler ... is this some new UI form issue?

==> web2.log <==
galaxy.workflow.run DEBUG 2016-02-17 10:47:36,555 Workflow step 68837 of invocation 11359 invoked (1725.978 ms)
gal

[2016-02-17 11:21] nsoranzo commented on #603
May be related to galaxyproject/galaxy#1721.

[2016-02-17 11:23] bgruening commented on #603
Thanks @nsoranzo

[2016-02-17 23:40] bcclaywell commented on #262
@bgruening That's fine with me! I was trying to install/test it for one of our users; my own knowledge of proteomics is more or less non-existent. :)

[2016-02-18 17:06] jennaj opened #604 "SnpEff tool form passes deprecated options to command line"
**Repo**

https://toolshed.g2.bx.psu.edu/view/iuc/snpeff/500832f27cbc

**Issue**

Deprecated options are still available on the tool form. This results in errors when used.

**Change for deprecated options (may be others)**

https://github.com/galaxyproject/tools-iuc/pull/273

**Example Error (many non-default options result in tool failure)**

<img width="444" alt="screen shot 2016-02-18 at 9 02

[2016-02-18 22:23] jj-umn commented on #604
@jennaj   I've gone through the snpEff wrapper and put in extensive changes for SnpEff version 4.0
I'll update the toolshed when I've tested it more.

[2016-02-19 07:00] guerler commented on #603
Can you test this fix: https://github.com/galaxyproject/galaxy/compare/release_16.01...guerler:fix_check_and_update_release_000?expand=1

[2016-02-19 07:26] matthdsm opened #607 "Gemini load issues (0.18.1.0)"
@bgruening
Hi Björn,

I noticed the latest version of the gemini load tool puts the wrong version number in the metadata of the sqlite db. This causes all other tools to "not see" the created database. Could you fix this please?

I think the issue is within the package installer, when I do
<pre>
<em>tool-dependency-dir</em>/gemini/0.18.1/iuc/package_gemini_0_18_1/b90d6db50590/bin/gemini
 --version

[2016-02-19 08:18] bgruening commented on #607
Oh no, this is then a gemini bug :(

[2016-02-19 08:24] bgruening commented on #607
@matthdsm actually mine is returning /usr/local/tools/gemini/0.18.1/iuc/package_gemini_0_18_1/be869e11582f/bin/gemini --version

There is a newer version of the package in the repo. Can you try this one?

[2016-02-19 08:27] matthdsm commented on #607
I was still using the version from the TTS, I reïnstalled everything and now the version output checks out. Seems like it was a local issue, but it's fixed now.

Thanks for looking into it, I'll close the issue now.
Matthias

[2016-02-19 08:27] #607 closed

[2016-02-19 12:40] gregvonkuster commented on #404
@martenson @natefoo When it is convenient, can we get this tool installed on main: https://toolshed.g2.bx.psu.edu/view/iuc/resize_coordinate_window/0164d2edba9f
This will allow us to check off the "Resize Coordinate Window" tool in the above list.  This is not urgent.
Thanks!  ;)

[2016-02-19 14:33] jj-umn commented on #604
@jennaj  Updated toolshed

[2016-02-19 14:56] bgruening commented on #603
@guerler seems to work! i would +1 this PR :)

[2016-02-19 21:47] bgruening commented on #603
@jmchilton what do you think about this one? It was added in https://github.com/guerler/galaxy/commit/886f6d2d707a9b4e2a80b0aaa89157e1137415ad

[2016-02-21 16:21] bgruening commented on #262
@bcclaywell I updated decoyfasta to depend on tpp_4_8, testing appreciated :)

Thanks,
Bjoern

[2016-02-23 19:02] gad83 opened #609 "Tool shed repository 'package_perl_5_18' tool dependencies - perl error"
Hello,

I'm on galaxy release_15.10
I tried to install the tool shed repository 'package_perl_5_18'.
It comes with two tools dependencies
1. gnu_coreutils    8.22        package
2. perl         5.18.1  package

However, I have a error. Please take a look at the picture.
![galaxy_perl_error](https://cloud.githubusercontent.com/assets/16885762/13263075/1474152e-da36-11e5-88f6-5d0896c9c9c1.jpg)

Than

[2016-02-23 19:04] erasche commented on #609
Hi @gad83 I believe this was recently patched in Galaxy.

- https://github.com/galaxyproject/galaxy/pull/1778
- https://github.com/galaxyproject/galaxy/pull/1775

[2016-02-23 19:20] gad83 commented on #609
Hello @erasche ,

thank you for the response.
was the fix propagated to release_15.10?

salutations,
edgar

[2016-02-23 19:22] erasche commented on #609
I don't believe it is. @nsoranzo should we backport to 15.10?

[2016-02-23 22:45] lparsons opened #612 "MACS2 callpeak BED output cannot be visualized in Trackster"
The narrowPeaks (and other) BED files output from MACS2 callpeak contain extra attributes that seem to trip up the conversion and visualization for trackster. The Peak summits works, but the others only work after cutting the first 6 columns...

I'm not sure if there is anything to fix/improve in Galaxy/Trackster or if there are options in MACS2 callpeak as well (output interval files instead?). H

[2016-02-24 10:55] abretaud commented on #422
@bgruening I have seen some PR about a migration to conda to define tool dependencies: for this hackathon do you think we should use this new method or is it better to stick to the good-old tool_dependencies.xm method?
In the first case, is there some guide/documentation/howto that we could use?

[2016-02-24 12:40] nsoranzo commented on #609
@erasche I'd be ok with backporting, but would it also make sense to revert the whitespace changes in #213?

[2016-02-24 13:38] blankenberg commented on #609
There is a very good argument for reverting the whitespace changes.

[2016-02-24 16:16] mvdbeek opened #614 "Use samtools -@ for multithread compression"
bowtie2, hisat2 and star are pretty fast nowadays.
I haven't done the exact benchmarking, but when running hisat2 and allocating a reasonable amount of GALAXY_SLOTS (we use 8), most time is spent in samtools. Is there any opposition to introducing -@ GALAXY_SLOTS in the [samtools view](https://github.com/galaxyproject/tools-iuc/blob/master/tools/hisat2/hisat2.xml#L86) step?
ping @davebx @bgruening

[2016-02-24 16:29] bgruening commented on #614
I see no disadvantages in using it. Maybe we should use sambamba instead of samtools if speed matters so much?

xref: https://github.com/bgruening/galaxytools/pull/285

[2016-02-24 18:58] mvdbeek commented on #614
We can get a nice speedup by not compressing in the view, but in the sort step, as point out in `samtools view --help`:
[code]
Compressing with 2 threads also gives a speedup:
[code]
More than that doesn't really help:
[code]

We can also completely skip the view:
[code]

I didn't get sambamba to work with piped sam input, I'm not sure this is a supported pattern,
but if anyone know how to do this

[2016-02-24 20:17] yhoogstrate commented on #614
The STAR wrapper has this option already built-in for exactly the same reason but I am not sure what the gain is. I have heard really positive feedback on sambamba but I think we should do a bit benchmarking before making a definitive choice. If I remember correctly @lparsons is involved in sambamba and maybe he can help us out (upstream) if we get stuck on using pipes.

[2016-02-24 20:23] mvdbeek commented on #614
well, I already got a 2.5X speedup in the tests above, using just 2 threads, so as long as samtools doesn't trail behind, performance is not that critical. It's just that I'm seeing hisat2 run ~ 40 minutes, and then I'm waiting 20 minutes for samtools to catch up.
If the above benchmarks are indicative of real performance, 2 threads should be enough to avoid this, so I would prefer not exchanging

[2016-02-24 20:25] yhoogstrate commented on #614
:+1:

[2016-02-24 21:10] erasche commented on #609
@nsoranzo ok, go for it. I'm of the mind that it's only devs reading this so it should be legible to us, but since this will cause issues for people who aren't up-to-date, let's fix it.

[2016-02-24 21:29] jennaj commented on #604
Great! Thanks @jj-umn

@davebx any chance would could put this on test for testing? lmk when ready

[2016-02-25 05:15] blankenberg opened #615 "Kraken Issues"
- [x] Reads missing from classify output: https://github.com/DerrickWood/kraken/pull/37
- [x] Error in kraken-report when 0 reads have been classified: https://github.com/DerrickWood/kraken/pull/38

[2016-02-25 20:32] methylome commented on #587
I got it. Thanks.

[2016-02-25 20:32] #587 closed

[2016-02-29 18:54] bgruening commented on #422
@abretaud yes we should. I will help as much as I can. This will save us so much time and provides us with free testing.

[2016-02-29 21:32] guerler commented on #603
The issue here is that the check performed transforms the value into a string and back before validation. This is inconsistent and leads to undesired consequences. In #1764 the validation call has been modified to use the regular check_param caller (see: https://github.com/galaxyproject/galaxy/pull/1764/files#diff-1bef786a2b2ea704c1748e41cd25dd33R1251). I also suggest to remove the validation in t

[2016-03-01 07:38] bgruening commented on #432
@nekrut I have updated VSearch and put it under automatic [travis testing](https://github.com/galaxyproject/tools-iuc/pull/590). Phinch in also now part of Galaxy-dev (thanks to @shiltemann).
Moreover, I added Vegan and Phinch to the [metagenomic-flavour](https://github.com/bgruening/galaxy-metagenomics).

Please feel free to check those off and let us know where we can help.

[2016-03-01 08:38] abretaud commented on #422
All right, I'm preparing a few slides to introduce this on monday

[2016-03-01 08:47] bgruening commented on #422
Uh awesome - let me know if you have any questions and if I should prep some packages for monday and get it into bioconda.

[2016-03-01 09:49] htc502 commented on #587
got the same problem. need help too..

[2016-03-01 13:12] abretaud commented on #422
As there is a long todo list for stacks, maybe having it in bioconda before the hackathon would help, if you have some time to do it?

[2016-03-01 13:18] tiagoantao commented on #422
I can do the stacks on bioconda

[2016-03-01 13:21] abretaud commented on #422
Great, thanks!

[2016-03-01 13:38] bgruening commented on #587
@methylome @mvdbeek is this one resolved? @htc502 can you please test the latest version from the main TS?

[2016-03-01 15:56] methylome commented on #587
@mvdbeek yes.

[2016-03-02 09:47] bebatut opened #628 "Krona on MTS?"
Hi,

I tested Krona from Test ToolShed. It works well :)
Is it planned to push it on MTS?

Thanks

Bérénice

[2016-03-02 09:49] bgruening commented on #628
taxonomy_krona_chart? I updated it.

[2016-03-02 09:53] bebatut commented on #628
Yes, this one.
I did not see you updated it.
Can you update it on TTS, please? I will test it
Thanks

[2016-03-02 10:00] bgruening commented on #628
It's this one: https://toolshed.g2.bx.psu.edu/view/crs4/taxonomy_krona_chart/50f204c82159
The IUC took it over from crs4 but we keep the repository.

[2016-03-02 10:09] bebatut commented on #628
Ah ok. I did not know
Thanks !

[2016-03-02 10:14] methylome opened #630 "package_perl_xml_parser_expat_2_41 error"
On Galaxy 16_10 and CentOS 6.6, the installation has been failed.

Expat.xs:12:19: error: expat.h: No such file or directory
Expat.xs:60: error: expected specifier-qualifier-list before ‘XML_Parser’
Expat.xs:111: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘nsdelim’
Expat.xs:194: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘ms’
Expat.xs:197: error: expected ‘)

[2016-03-02 10:16] mvdbeek commented on #630
You'll need the expat headers, on centos you should be able to get them like this:
[code]

[2016-03-02 10:22] methylome commented on #630
Yes, it works. Thanks a lot.

[2016-03-02 10:22] #630 closed

[2016-03-02 10:37] methylome opened #631 "package_perl_5_18 error"
This package has the dependency on package_gnu_coreutils_8_22 although it's not in tool_dependency.xml.
![package_perl](https://cloud.githubusercontent.com/assets/9466414/13457344/b9722cc8-e035-11e5-8f8e-f9c9d66501c8.png)
Installing it doesn't change the error status of package_perl_5_18.
![package_perl2](https://cloud.githubusercontent.com/assets/9466414/13457942/b7ad5202-e038-11e5-9dde-9a331ae8b

[2016-03-02 10:46] #628 closed

[2016-03-02 10:49] mvdbeek commented on #631
I'm afraid this is a resurgence of a bug that we hoped had been fixed with https://github.com/galaxyproject/galaxy/pull/1193

[2016-03-02 10:54] mvdbeek commented on #631
Can you try to uninstall both coreutils packages and perl, and then reinstall perl?

[2016-03-02 10:59] bgruening commented on #630
Not sure if we should close this. We should add expat as a dependency isn't it?

[2016-03-02 10:59] bgruening commented on #631
Also resetting metadata on the TS might help here.

[2016-03-02 11:08] mvdbeek commented on #631
Hmm, I guess I was in a similar situation, I had the old perl package installed, then I uninstalled perl and installed the new perl, and I only have the correct dependency. So that didn't work before the bugfix, and it still works. I guess a re-install should be enough. Then the question is: How did this happen? Perhaps we need to be more stringent when using "Installl latest revision" ?
@methylom

[2016-03-02 11:13] methylome commented on #631
While I am trying to reinstall it, I suspect your method because I can see both in the dependency for the installation. So I'm resetting metadata as @bgruening suggested. I had perl installation and ended up this situation after reinstalling sra_toolkit for your update.

[2016-03-02 11:48] mvdbeek commented on #631
What did you do exactly to see this? Which package were you trying to install? perl? sra-tools?
What was the status of the coreutils packages?

[2016-03-02 11:49] methylome commented on #631
After resetting, only 8_25 is listed on confirmation dependency installation. However, 8_22 is still listed on Installed tool shed repository. On another server which was reset, both are listed on confirmation dependency installation.

[2016-03-02 11:55] mvdbeek commented on #631
so I guess this is not too bad. If nothing else depends on coreutils_8_22 you can uninstall it.

I am a bit confused here, did you uninstall everything related to coreutils/perl/and whatever depends on it? Did you do the same things to both servers? They are both running a recent commit of 16.01 ?

[2016-03-02 11:57] methylome commented on #631
I tried to reinstall perl and saw the attached one. Only package_gnu_coreutils_8_25 was installed successfully.
![package_perl4](https://cloud.githubusercontent.com/assets/9466414/13459703/85cdbb36-e043-11e5-93c0-1700496795ab.png)
While the status of perl is installed, the status of package_perl_5_18 is Installed, missing repository dependencies because the status of package_gnu_coreutils_8_22 is

[2016-03-02 12:00] methylome commented on #631
Yes.

[2016-03-02 12:01] mvdbeek commented on #631
Well, then what is going on in the screenshot?

[2016-03-02 12:02] methylome commented on #631
Screenshot is the same as before.

[2016-03-02 12:07] methylome commented on #631
I think resetting and reinstallation don't work. Actually, one server was cloned yesterday and then tools were installed. This is different from another server where sra_toolkit was updated.

[2016-03-02 12:10] mvdbeek commented on #631
okay, so I guess there are still situations where https://github.com/galaxyproject/galaxy/pull/1193 can occur. I'm trying to reproduce this, but it's tough, since you can't install an old revision of a package.

[2016-03-02 12:13] mvdbeek commented on #631
Just to be sure, you do have this line in `<galaxy_dir>/lib/tool_shed/util/shed_util_common.py` ?
```def clean_dependency_relationships(trans, metadata_dict, tool_shed_repository, tool_shed_url):```

[2016-03-02 12:14] methylome commented on #631
I'm not sure what do you mean and do think you can reproduce it because I cloned galaxy yesterday and installed the latest tools. It ended up the same problem.

[2016-03-02 12:15] mvdbeek commented on #631
Do it today and it will work, since perl has switched it's coreutils dependency from 8_22 to 8_25 yesterday.

[2016-03-02 12:15] methylome commented on #631
Yes I do.
def clean_dependency_relationships(trans, metadata_dict, tool_shed_repository, tool_shed_url):
    """
    Repositories of type tool_dependency_definition allow for defining a
    package dependency at some point in the change log and then removing the
    dependency later in the change log.  This function keeps the dependency
    relationships on the Galaxy side current by deleting data

[2016-03-02 12:16] mvdbeek commented on #631
yes, this bug has a long history. it started here:
https://github.com/galaxyproject/galaxy/issues/667

[2016-03-02 13:34] bgruening opened #632 "data managers should depend on a strict python version"
xref: https://github.com/galaxyproject/tools-iuc/pull/626

[2016-03-02 14:20] mvdbeek commented on #631
@methylome can you try this patch?
https://github.com/galaxyproject/galaxy/compare/release_16.01...mvdbeek:fix_ts_install_old_tool_deps.diff

This way it should be sufficient to uninstall and re-install perl. I finally was able to reproduce the behaviour, but since it seems to work now it's difficult to confirm.

[2016-03-02 15:27] methylome commented on #631
Awesome, it works.

[2016-03-02 19:31] martenson commented on #488
I added bunch of labels to `new` and `updated` tools on Main. I probably missed some. Let me know if something is missing/wrong.

[2016-03-02 19:32] #488 closed

[2016-03-02 19:33] martenson commented on #395
done via https://github.com/galaxyproject/tools-iuc/issues/488

[2016-03-02 19:33] #395 closed

[2016-03-02 20:12] martenson commented on #404
@gregvonkuster done

[2016-03-02 20:12] martenson commented on #404
are the two last tools ready?

[2016-03-02 20:20] gregvonkuster commented on #404
Hi @martenson

I have the MultiGPS tool finished, but I think the ChIP-exo PIs want the underlying package updated before it goes to open source.  So it is on the back-burner for now.

I'm not quite sure how the dev team wants to handle the modern version of the Extract Genomic DNA tool since the old version is still installed on main.  I have a very useful enhancement for the modern version that

[2016-03-02 20:31] martenson commented on #404
@gregvonkuster thanks for the update, I will keep my eyes peeled

[2016-03-02 21:30] martenson commented on #401
everything done, except of kraken2 which is not released yet, it remains listed here: https://github.com/galaxyproject/tools-iuc/issues/361

[2016-03-02 21:30] #401 closed

[2016-03-03 01:36] tiagoantao commented on #422
I have added this to bioconda as a PR, while I can merge it, I would prefer @bgruening to have a look.

here: https://github.com/bioconda/bioconda-recipes/pull/925

[2016-03-03 15:51] blankenberg opened #637 "Need new Kraken Package"
Version `0.10.6-unreleased+hash` or similar (as listed in source: https://github.com/DerrickWood/kraken/blob/adfaa267ebdc9f16946fa4a19ddb1bb6e7cb5a97/install_kraken.sh#L22).

Not sure when these changes will be migrated up to the official downloads: http://ccb.jhu.edu/software/kraken/.

https://github.com/DerrickWood/kraken/

Resolves these issues: https://github.com/galaxyproject/tools-iuc/issues

[2016-03-04 08:20] yvanlebras commented on #422
@cmonjeau have made PR for pyrad and mawk bioconda. If you can also have a look @bgruening ;)
[mawk bioconda recipes](https://github.com/bioconda/bioconda-recipes/pull/929)
[pyRAD bioconda recipes](https://github.com/bioconda/bioconda-recipes/pull/928)

[2016-03-04 08:31] bgruening commented on #422
You all rock! This will be a fantastic hackathon with conda dependencies and travis testing all at once!
I commented on the PR!

[2016-03-04 13:07] blankenberg commented on #637
ping @davebx

[2016-03-04 14:08] Eduardo-Alves commented on #422
Hi, has anyone started looking into "the feasibility of implementing the stacks web interface on Galaxy". I started looking into visualization plugins using mako but I believe there must be a way to do it with JSON/Backbone. Anyone has some pointers? I am happy to help!

[2016-03-04 14:14] abretaud commented on #422
I was thinking about working on an interactive environment for stacks.
IIRC the web interface allow to modify the data, so using IE looks like the perfect solution for this (ie load the stacks preliminary results in the IE, make changes to it if you want, and then inject the corrected data to your history)

I'll see next week if I have time to work on this during the hackathon, but your help is ve

[2016-03-04 14:52] Eduardo-Alves commented on #422
Anthony,

The only update I can see in the web interface is to add an annotation, which is probably saved to the mysql database.  I haven't developed IE, do you mean creating an apache IE and using the existing web interface? Can you add a mySQL database to an IE?

[2016-03-04 15:42] bgruening commented on #422
@Eduardo-Alves you can add anything to an IE. For example we have a RStudio IE or a Jupyter/IPython IE.

[2016-03-04 15:52] yvanlebras commented on #422
Our @abretaud original idea ;) was to use the existing Stacks Galaxy tools, who don't use the STACKS database and thus don't propose the Stacks web interface based on the database (if I'm not wrong...), to produce results and then, "reconstruct" a database who will (maybe) give the possibility to create the Stacks web interface...... One idea is to use the quite recently developped [load_radtags.p

[2016-03-04 15:56] Eduardo-Alves commented on #422
Anthony,

Wouldn't implementing it as an IE restrict it instances where the admin is capable of setting it up?
I think a plugin might be harder to implement but visualizations will be installable from toolshed in version 16.04
https://github.com/galaxyproject/galaxy/issues/1191

[2016-03-04 16:11] Eduardo-Alves commented on #422
@yvanlebras do you have any screenshots examples of the manual correction of the genotypes in the web interface? all I can see is the annotate link
http://gbs-cloud-tutorial.readthedocs.org/en/latest/_images/stacks_web_database.png

[2016-03-04 16:31] yvanlebras commented on #422
@Eduardo-Alves there is things like [that](http://images.google.fr/imgres?imgurl=http%3A%2F%2Fcatchenlab.life.illinois.edu%2Fstacks%2Fimages%2Fss%2Fmap_markers_ss.png&imgrefurl=http%3A%2F%2Fcatchenlab.life.illinois.edu%2Fstacks%2F&h=805&w=1050&tbnid=nMB2AxbsyY80oM%3A&docid=UI2zoKZCEjVWWM&ei=_bfZVsiKLImMUcirpIAC&tbm=isch&iact=rc&uact=3&dur=955&page=1&start=0&ndsp=53&ved=0ahUKEwiI_ez9uafLAhUJRhQKHcg

[2016-03-04 16:43] Eduardo-Alves commented on #422
@yvanlebras yes, that's the screenshot I sent you. It is just displaying the results, not modifying. The only think you can add is an annotation.
My suggestion is to use the existing stacks tool to generate the raw data, then load it to a sqllite database which is single user and doesn't require setup like mysql and then generate the web interface using mako template.  In this way it can be publis

[2016-03-04 18:11] martenson commented on #604
@jennaj iuc/snpeff has been updated on Main
please close when tested

[2016-03-04 20:54] martenson commented on #393
https://github.com/galaxyproject/tools-iuc/tree/master/tools/sra-tools is now installed on Main

[2016-03-04 22:00] martenson commented on #397
deeptools2 are on Test and seem ok, is it ready to go to Main? ping @bgruening @nekrut

[2016-03-04 23:06] bgruening commented on #397
We are planning to have a 2.2.1 release early next week, with minor fixed. But I think 2.1 is, besides of the CSS bug a solid one. It's up to you.

[2016-03-05 00:38] jennaj commented on #604
Thanks & will do, testing in progress.

[2016-03-05 00:42] jennaj commented on #401
I will retest on Test and give feedback (Megablast) so we can update then test on Main.

[2016-03-05 01:33] martenson commented on #401
@jennaj I am not sure what are you responding to here, is it the ping for testing from `Nov 18, 2015` ?

[2016-03-05 11:07] bgruening commented on #422
I just opened a google hangout https://hangouts.google.com/call/iiksaostt5dwfms4lph6nuj74ye that we can use on Monday. I will be around from 10.00 MEZ and help wherever I can.

[2016-03-05 12:55] yvanlebras commented on #422
Thanks Björn ! 
We will begin at 10h30 Rennes time. I will try to go back to you before to give you more informations on what we plan to do. For now, it appears positions like :-Maria Bernard and Gildas Le Corguillé will work on the implementation of some in-house Stacks post-process scripts-Cyril Monjeaud will be a mentor for docker / conda related tasks + work on the creation of dDocent Galaxy t

[2016-03-05 16:24] mvdbeek commented on #631
I guess we can close it then.

[2016-03-05 16:24] #631 closed

[2016-03-06 19:19] bgruening commented on #422
Hi!

unfortunately, I need to attend a meeting tomorrow and only will be available from 15.00 MEZ :)

I created a few branches and we have for most of the tools already conda packages that can be reused. This hopefully means we do not need to spend time to create tool_dependencies or install a particular version - and gives us more time to improve the wrappers.

pyrad: https://github.com/galaxypro

[2016-03-07 01:16] tiagoantao commented on #422
I am currently in Europe (UK) and will be joining around 10 WET (that is 11 in France/Germany).

I will be working on mostly two things: i) cap3 integration with stacks and ii)rapture.
I do have a few remaining patches for the stacks tool (though mostly were already integrated) - but it will not be my main focus.

[2016-03-07 07:23] yvanlebras commented on #422
Thanks @tiagoantao for these details ! We thus maybe can propose to find someone today to update Stacks to the 1.37 version, support for data collection and support Galaxy_SLOTS.

[2016-03-07 07:28] yvanlebras commented on #422
Hi everyone, as we will make some introductions (planemo/bioconda, Diocker, RADseq) this morning for french people, you can access the presentations slides on the [GUGGO dedicated pages](https://cesgo.genouest.org/tags/galhackradfr)

[2016-03-07 09:37] Eduardo-Alves commented on #422
Bon jour! Will the introductions going to be also on hangouts?

[2016-03-07 10:11] tiagoantao commented on #422
@yvanlebras : 1.37 and GALAXY_SLOTS were already included, in the github version. they are ready!

[2016-03-07 10:13] tiagoantao commented on #422
There was nobody on the hangouts. when somebody logs in, just write here and I will be joining also. I am working on cap3 for now.

[2016-03-07 10:16] mvdbeek commented on #422
@tiagoantao there is already a cap3 wrapper in the toolshed:
https://github.com/ARTbio/tools-artbio/tree/master/tools/msp_cap3
we can include it in the iuc, if that's preferable.

[2016-03-07 10:18] tiagoantao commented on #422
@mvdbeek  I know but it does not work well with stacks

[2016-03-07 10:21] mvdbeek commented on #422
what does not work well? can it be improved ?
just trying to avoid duplicate efforts.

[2016-03-07 10:23] tiagoantao commented on #422
There is a script called exec_velvet.pl in stacks that uses velvet. We
would like it to use cap3. There is probably no need to make a new tool
(evaluating that), just integrating them.

On 7 March 2016 at 03:21, Marius van den Beek <notifications@github.com>
wrote:

--
"While I may be sending this email outside my normal office hours, I have
no expectation to receive a reply outside yours" - @toms

[2016-03-07 10:28] tiagoantao commented on #422
@mvdbeek would you think it would make sense to have a bioconda version of cap3?

[2016-03-07 10:35] tiagoantao commented on #422
@mvdbeek Please ignore my idea, cap3 seems to have a non-free license. I will be using your packages directly and not worry with bioconda

[2016-03-07 10:38] mvdbeek commented on #422
okay I see!

Ah, yes, we'll need to display that license on our package ;/

[2016-03-07 10:46] tiagoantao commented on #422
@yvanlebras Another PR for stacks can be found here: https://github.com/genouest/galaxy-tools/pull/4

[2016-03-07 11:01] yvanlebras commented on #422
Thanks! We will hangout this afternoon....

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : Tiago Antao <notifications@github.com>
Date : 07/03/2016  11:46  (GMT+01:00)
À : galaxyproject/tools-iuc <tools-iuc@noreply.github.com>
Cc : yvanlebras <yvan.le_bras@irisa.fr>
Objet : Re: [tools-iuc] IUC Contribution Fest - RADSeq Tools and Workflows (#422)

@yvanlebras Another

[2016-03-07 13:01] tiagoantao commented on #422
I just merged stacks support in bioconda

[2016-03-07 14:14] gregvonkuster opened #652 "Incorrect fasta_nucleotide_color_plot tool id"
Not sure how this crept in - must have been some kind of merge issue with all of the changes made to the original PR.  Should I change the tool id or leave it?  If it should be changed, should the version change?  Not quite sure of the process for this scenario.  :(

https://github.com/galaxyproject/tools-iuc/blob/master/tools/fasta_nucleotide_color_plot/fasta_nucleotide_color_plot.xml#L1

[2016-03-07 14:17] mvdbeek commented on #652
I would say lat's change it now, before people use it (from MTS: `
Times cloned / installed: 0`)

[2016-03-07 14:18] gregvonkuster commented on #652
Just to confirm, is it ok then to leave the version string as is "1.0.0"?

[2016-03-07 14:27] mvdbeek commented on #652
I think I would apply our normal strategy of bumping the version when the output changes.
Since it should be the same output, I'd go with 1.0.0. Thoughts on that @bgruening ?

[2016-03-07 14:29] gregvonkuster commented on #652
I have a PR waiting to commit.  If I do it now, can you upload to the TSs now.  This should then pose no problems since no one has installed it.

[2016-03-07 14:30] mvdbeek commented on #652
sure, go ahead.

[2016-03-07 14:38] bgruening commented on #422
@tiagoantao awesome! I'm now in and try to review PR :)

[2016-03-07 14:56] bgruening commented on #422
@tiagoantao we are now in the hangout. Also here is a Trello board: https://trello.com/b/EfGYBOPX/hackthon-radseq

[2016-03-07 15:35] tiagoantao commented on #422
@yvanlebras / @bgruening   Question: the current correct place to work on the stacks tool is:
https://github.com/galaxyproject/tools-iuc/tree/stacks
Not the old:
https://github.com/genouest/galaxy-tools
correct?

I am going to work on cap3 on whatever repo you tell me to...

[2016-03-07 15:36] abretaud commented on #422
Yes that's it, no more work on genouest github now

[2016-03-07 15:38] tiagoantao commented on #422
@abretaud thanks!

[2016-03-07 16:13] mvdbeek commented on #652
Closed with PR #653, I guess.

[2016-03-07 16:13] #652 closed

[2016-03-07 16:42] yvanlebras commented on #422
Is it a way @jpuritz to help us implementing dDocent ? If we well understood, the user normally have to follow "the text based prompts". Which way you think is the best to integrate dDocent in Galaxy ?

[2016-03-07 16:49] bgruening commented on #422
@yvanlebras here is a Docker pyrad container. Automatically created with conda packages.
`docker run -it --rm quay.io/mulled/pyrad:3.0.64--py27_0`

[2016-03-07 17:45] yvanlebras commented on #422
Is it a way @jpuritz to help us implementing dDocent ? If we well understood, the user normally have to follow "the text based prompts". Which way you think is the best to integrate dDocent in Galaxy ?

[2016-03-07 17:55] tiagoantao opened #658 "Stacks velvet dependency not included"
Some stacks functionality requires velvet, but the dependency is not working on the stacks tool

[2016-03-07 17:57] bgruening commented on #658
Stacks tool means conda package? Or galaxy dependency?

[2016-03-07 17:59] tiagoantao commented on #658
Both, actually :(
I will take care of bioconda

[2016-03-07 18:01] bgruening opened #659 "bioperl tools are failing"
[code]

I guess YAML and the entire dependency chain is missing like we already discovered in the conda packages.

ping @erasche

[2016-03-07 18:07] erasche commented on #659
@bgruening this is... unfortunate. this is for the IUC dependency chain or is this specific to conda?

[2016-03-07 18:08] bgruening commented on #659
both :(

[2016-03-07 19:13] jennaj commented on #401
@martenson After reviewing other tickets (including the one specifically for this tool, which Nate has now addressed), my comments in this ticket can be tossed out. I agree that keeping the items distinct (new vs existing tools) is best. Tx!

[2016-03-07 20:22] erasche commented on #659
@bgruening :( ok, will look into later this week.

[2016-03-08 01:06] tnabtaf opened #661 "HISAT2 wrapper requiring SAMtools package version 1.2 but not found during installation."
Hi All,

Trying to install HISAT2 today on a 16.01 based cloud image (pre-release testing for Enis), and it fails to install a dependency:

Error installing tool dependency samtools version 1.2: Unable to locate required tool shed repository named package_samtools_1_2 owned by iuc with revision f6ae3ba3f3c1.

The [wrapper](https://github.com/galaxyproject/tools-iuc/blob/master/tools/hisat2/hisat2.

[2016-03-08 05:59] yvanlebras commented on #422
Sorry Eduardo, I miss your e-mail... 
As the introduction speechs were in english, hangout was not used but presentation slides are here: https://cesgo.genouest.org/tags/galhackradfr
Wishing you a good day.
Yvan
Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : Eduardo de Paiva Alves <notifications@github.com>
Date : 07/03/2016  10:37  (GMT+01:00)
À : galaxyproject/tools

[2016-03-08 08:11] yhoogstrate commented on #661
Hey Dave,

The tool depencies seems to be correct (https://github.com/galaxyproject/tools-iuc/blob/master/tools/hisat2/tool_dependencies.xml). This week I believe I expecienced an error of the same kind, but not with samtools if I remember correctly.

Could you check whether `package_samtools_1_2` is already installed on the cloud image, and whether the corresponding revision number is different.

[2016-03-08 11:55] bgruening commented on #422
@yvanlebras what do you mean here?

[2016-03-08 13:29] yvanlebras commented on #422
@bgruening concerning our presentations of tomorrow morning ? We made it in French, so we have not used hangout to avoid proposing "english speaking" colleagues to hear us speaking french.....

[2016-03-08 13:35] bgruening commented on #422
Uh, I was referring to an other comment of you that disappeared. Never mind.
We should all learn Esperanto ;)

[2016-03-08 13:35] yvanlebras commented on #422
+1 ;) or deutsch !

[2016-03-08 13:39] Eduardo-Alves commented on #422
I speak french! But its' ok, I  had the slides so I read them instead of
the hangout.

Eduardo

On Tue, Mar 8, 2016 at 1:35 PM, Björn Grüning <notifications@github.com>
wrote:

[2016-03-08 14:30] tiagoantao commented on #422
@yvanlebras et al: Are you planning to add any test data snippet to the stacks tool? For automated testing purposes.

If you have something to test STACKS_sort_read_pairs , I could re-use it with my version without velvet...

[2016-03-08 14:32] tiagoantao commented on #422
Sorry, closed by mistake...

[2016-03-08 14:36] yvanlebras commented on #422
Yes, for sure! For sort_read_pairs, you can use the original STACKS sample data : http://catchenlab.life.illinois.edu/stacks/pe_tutorial/pe_samples.tar.gz

[2016-03-08 14:37] yvanlebras commented on #422
For other STACKS scripts, I propose some datasets [here](https://cesgo.genouest.org/groups/guggo/collections/stacks-sample-datasets)

[2016-03-08 14:49] tiagoantao commented on #422
@yvanlebras thanks!

[2016-03-08 14:52] tiagoantao commented on #422
@yvanlebras Just one thing: we might have to add some of these to the tool in order to have automated testing...

[2016-03-08 14:57] yvanlebras commented on #422
@tiagoantao Yes, of course! ;) we are adding data for each tools to enable functional testing...

[2016-03-08 14:59] bgruening commented on #422
@tiagoantao we are on it in the latest PR. The problem is that we encountered a few planemo/tools issues we need to sort out. But we are working on it.

[2016-03-08 15:18] gad83 commented on #609
hello guys,
any updates on this issue?

[2016-03-08 15:21] mvdbeek commented on #609
You should be able to just update it. That specific error should be fixed with #617 and #616

[2016-03-08 15:42] gad83 commented on #609
I've "git pull" the updates.
I've restarted my instance of galaxy.
However, I still get the exact same.
Please see below the update messages to make sure I'm in the write repo:

------------
# git pull
------------
remote: Counting objects: 230, done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 230 (delta 176), reused 170 (delta 170), pack-reused 33
Receiving objects: 100% (230/

[2016-03-08 15:44] mvdbeek commented on #609
Sorry, that may not have been clear. You have to update the package in your galaxy instance,
in the admin settings -> manage tools -> get updates and then install updates

[2016-03-08 15:53] gregvonkuster commented on #609
I'm still seeing installation problems with the latest version of package_perl_5_18 - revision 35f117d7396b.  I'm trying to install on Debian 3.2.60-1+deb7u3 x86_64 GNU/Linux and I get this exception:

make  && make install
STDERR
CCCMD =  cc -DPERL_CORE -c -fno-strict-aliasing -pipe -fstack-protector -I/usr/local/include -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64  -std=c89 -O2  -Wall -ansi -W -We

[2016-03-08 16:06] mvdbeek commented on #609
Difficult to say what's the problem here ... I don't really see an error that we could go look for :/
Any ideas @bgruening @erasche ?

[2016-03-08 16:13] mvdbeek commented on #609
It might be this weird obsession for PERL to try to write to the $HOME directory.
@gregvonkuster If you grep In your galaxy logs, do you have any permission denied errors around the time you were installing perl?

Perhaps ` if [ -d "$TMP_WORK_DIR" ] ; then export HOME=$TMP_WORK_DIR ; else export HOME=`mktemp -d` ; fi ;` and a manual configure && make && make install instead of https://github.com/g

[2016-03-08 16:21] gregvonkuster commented on #609
Hmm...not sure, but my problem may be due to the perl installation not accounting for the requirement to have gnu_coreutils installed before perl.  In my case, perl finished before gnu_coreutils did.  I'll see if I can reproduce this.

Here's the perl recipe requirement:
[code]

[2016-03-08 16:25] mvdbeek commented on #609
bug over bug ... :/
I noticed this too, but I'm pretty sure coreutils was not the problem. If I remember well, we included coreutils to have a consistent mktmp behaviour between linux and OS X. If you're on linux, it should work without coreutils.

[2016-03-08 16:38] mvdbeek commented on #609
http://www.perlmonks.org/?node_id=992572 gave me the idea for a potential permission problem.

[2016-03-08 16:40] gad83 commented on #609
I have something to add: there is two perl versions
![two_perls](https://cloud.githubusercontent.com/assets/16885762/13608375/8dcc769a-e522-11e5-908e-27939bd0dee7.jpg)

[2016-03-08 16:42] gad83 commented on #609
Also I get an error when I try to install gnu_coreutils:
![two_perls_error](https://cloud.githubusercontent.com/assets/16885762/13608442/cafe3c88-e522-11e5-98e2-7298c8b97215.jpg)

[2016-03-08 16:44] mvdbeek commented on #609
@gad83 that's a bug that had been fixed in the 16.01 release (plus an additional fix that still needs to be backported from dev).
 But the good news is that perl has installed fine for you.

[2016-03-08 16:45] gad83 commented on #609
should I ignore the two other dependencies
gnu_coreutils v8.25
and
perl v8.25 ????

[2016-03-08 16:54] mvdbeek commented on #609
Yes, that should be okay. When you update galaxy to 16.01, a repair will remove the outdated dependency from the database.

What you can do to make sure that the dependency works is to click on package_perl_5_18, then on perl under the installed tool dependencies. It will show you a path. When you go to that directory, you should find a env.sh file. If source the file [`source env.sh`], and you ty

[2016-03-08 16:57] gad83 commented on #609
done and works !
thanks !!!!!!!!!!!!!!!!

[2016-03-08 17:52] yvanlebras commented on #422
In France, we don't have anything to ea

A preliminary report of our participation: http://cesgo.genouest.org/groups/guggo/wiki/RADseqHackathon

[2016-03-08 18:02] bgruening commented on #422
Thanks a lot @yvanlebras + team! Keep the PR coming!

[2016-03-08 19:11] tiagoantao commented on #422
When do you guys think the new stacks version will hit the toolshed? Selfish-me here talking, I would like to install it ASAP. ;)

I am finalizing the sort_pair_reads / velvet decoupling, but that can go later...

[2016-03-08 19:55] tnabtaf commented on #661
`package_samtools_1_2` is installed (and so are 4 earlier versions of package_samtools).  The revision ID is `6eea04363026`.

I've reinstalled `package_samtools_1_2'`, now revision `f6ae3ba3f3c1` and that worked.  I was then able to successfully reinstall HISAT2.

So, I think I'm working.

And, I'm obviously learning too.  :-/

[2016-03-08 19:55] #661 closed

[2016-03-08 20:10] yhoogstrate commented on #661
Hey @tnabtaf, I don't think this is behaving as expected. This looks like a bug in Galaxy's tool shed installer. Maybe report it over there?

[2016-03-08 22:20] jennaj commented on #604
Works now on Main, thanks

[2016-03-08 22:20] #604 closed

[2016-03-09 08:20] abretaud commented on #422
There is quite some work left to do, personally I will continue to work on this in the coming weeks, but after a week of holidays ;)

[2016-03-09 08:53] lecorguille commented on #422
@yvanlebras <https://github.com/yvanlebras> The dataset, you produce for
ref_map, is a little poor. I get empty tsv (
https://github.com/galaxyproject/tools-iuc/tree/stacks/tools/stacks/test-data).
Or perhaps I'm to strong in my parameters (population with -n 3 -m 1)

2016-03-09 9:20 GMT+01:00 Anthony Bretaudeau <notifications@github.com>:

[2016-03-09 09:02] yvanlebras commented on #422
This is not your parameters, only the data who are poor, you're right. If you need something who generates not empty file for this last population step, I need some additional time ;) I will try today... Thanks for pointing this!

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : Gildas Le Corguillé <notifications@github.com>
Date : 09/03/2016  09:53  (GMT+01:00)
À : gal

[2016-03-09 15:42] bgruening opened #670 "IUC member proposal - Greg Von Kuster"
Hi Commissioners,

I would like propose Greg Von Kuster (@gregvonkuster) as a new IUC member.
Greg already contributed a lot to the bgruening/galaxytools repository, the IUC tools and was for a long long time Galaxy developer!
I'm sure he will be a great addition to our team and I'm confident he will help us to improve this service even more.

I will try to assist him in the first month if he has

[2016-03-09 15:43] mvdbeek commented on #670
I think this is a great idea, strong :+1: from me!

[2016-03-09 15:47] peterjc commented on #670
+1

[2016-03-09 16:19] tiagoantao commented on #422
If it takes some time, then I will soon submit a PR with the sort_read_pairs decoupling

[2016-03-09 16:55] davebx commented on #670
+1

[2016-03-09 17:15] nsoranzo commented on #670
:+1:

[2016-03-09 18:52] erasche commented on #670
:+1:

[2016-03-10 00:54] blankenberg commented on #670
+1

[2016-03-10 08:29] yhoogstrate commented on #670
+1

[2016-03-10 20:23] gregvonkuster commented on #670
Thanks everyone!  I’m back…

[2016-03-11 14:31] martenson commented on #604
thanks @jennaj

[2016-03-11 14:35] martenson commented on #670
@bgruening I invited @gregvonkuster to the org and the IUC team. Welcome Greg.

[2016-03-11 14:47] bgruening commented on #670
thanks @martenson!

[2016-03-11 14:47] #670 closed

[2016-03-11 22:11] tiagoantao opened #674 "Missing dependency on abyss"
The abyss package depends also on `bsdmainutils` (ubuntu package here).
If you look at `abyss-tabtomd`, you will see that it refers the binary `column`.

Most probably on 99% of installations this is silent, but that is not the case on average docker containers

[2016-03-11 22:13] bgruening commented on #674
@tiagoantao are you referring to the galaxy package or conda package?

[2016-03-11 22:17] tiagoantao commented on #674
@bgruening Did not test the conda package yet. This is actually inside your docker machine after I install  abyss.
I had to do apt-get install bsdmainutils .
But I do not believe this is a problem with your container, but a dependency that should be specified here...

[2016-03-11 22:20] bgruening commented on #674
Ok, thanks for reporting!

[2016-03-12 15:37] tiagoantao opened #675 ".shed.yml of stacks on branch stacks refers ddocent"
As per the subject. This was a copy and paste with no edit

[2016-03-12 15:51] bgruening commented on #675
Yeah, sorry. Just needed something to initialise the branch :) Feel free to edit it!

[2016-03-13 18:25] tiagoantao opened #676 "stacks needs new archive_datatypes"
Stacks is indirectly dependent on a tool from @cmonjeau called archive_datatypes.
This package is old and some of the imports are not up to date with recent galaxy versions.
I have a updated version here;
https://github.com/tiagoantao/galaxy-stacks/tree/master/tools/archive_datatypes

[2016-03-13 18:26] tiagoantao commented on #676
ping @yvanlebras and @bgruening FYI

[2016-03-13 18:53] yvanlebras commented on #676
If I don't make a mistake, it's planned to stop using archive and use data collection instead or in complement...

[2016-03-13 19:18] tiagoantao commented on #676
The problem is more serious: the python files of stacks need update.

[2016-03-13 19:35] tiagoantao commented on #676
Because of user needs, I really need to get the tool working very very soon. I am currently developing in
https://github.com/tiagoantao/galaxy-stacks/tree/master/

These changes can be included whenever you see fit. I am find a few other minor problems (e.g. velvet dependencies, ...).

[2016-03-14 11:22] nsoranzo commented on #674
`column` under Fedora/RedHat/CentOS is provided by `util-linux` RPM (`util-linux-ng` in older versions), which is a fundamental package. It seems that in Debian/Ubuntu, `column` is indeed part of `bsdmainutils`, which is not fundamental.

`abyss-tabtomd` also uses `awk`. Do you use `abyss-tabtomd` in a wrapper? If not, I'm not sure it makes sense to create a `util-linux` package and add 2 dependen

[2016-03-14 13:45] tiagoantao commented on #674
@nsoranzo I have installed the iuc version of the abyss tool inside @bgruening docker image.

[2016-03-14 20:50] jennaj commented on #583
@lparsons Is anyone working on this? I searched and couldn't the relevant pull request if so. If you know, and have time and can link it in here, would really appreciate it :)

[2016-03-15 15:07] davebx commented on #637
Why did I not close this when #638 got merged?

[2016-03-15 15:07] #637 closed

[2016-03-15 16:55] lparsons commented on #583
@jennaj I don't think anyone is actually working on this at the moment. I'm keeping track of this as well, and will try to help if/when I can. Thanks for staying on top of it.

[2016-03-16 15:36] dpryan79 opened #679 "package_python_2_7_10 needs to compile against libcrypto"
This is mostly an issue for people using Galaxy in a Docker container, but the hashlib package that comes with `package_python_2_7_10` needs to get linked against libcrypto from openssl. That's not listed as a requirement, so if one installs `package_python_2_7_10` inside a docker container and worker nodes on a cluster don't happen to either have that same version or don't export the version of o

[2016-03-16 16:14] erasche commented on #679
We are not linking against openssl any more. I believe the best thing will be for the docker containers to include the openssl libraries, which `package_python_2_7_10` should be able to take advantage of at build-time. This issue should probably be migrated to the galaxy docker repo http://github.com/bgruening/docker-galaxy-stable

[2016-03-16 18:42] dpryan79 commented on #679
openssl is included already in the docker container and everything runs fine there. If one then runs jobs on a cluster, however, the version of openssl on the nodes won't necessarily match or even be compatible with the version that's installed in the container (this will be true on any heterogeneous cluster).

[2016-03-16 21:03] mvdbeek opened #680 "SRA to do list"
- [ ] optionally split left/right reads into seperate files for paired-end data
- [ ] indicate that pileup files can become extremely large
- [ ] support for multiple accession downloads

[2016-03-17 17:44] nsoranzo commented on #674
@tiagoantao And what happened? Any error or log?

[2016-03-17 18:39] jj-umn commented on #483
@erasche   I started with your bctools1.2 branch and created branch bcftools1.3 with most bctools commands and plugins now implemented and initially tested.
It uses the existing galaxy datatypes Vcf and Bcf.   It relies on macros to bgzip and index input files as required by bcftools commands.

@bgruening  The cnv and stats commands can generate plots but this will require adding a matplotlib depe

[2016-03-17 18:50] bgruening commented on #483
@jj-umn `package_python_2_7_matplotlib_1_4` is good to use. Moreover you will get conda dependencies for free :)

[2016-03-17 18:56] bgruening commented on #483
@jj-umn can you please create a PR, so we can comment on it.
Thanks

[2016-03-17 20:11] erasche commented on #483
@jj-umn amazing. I'm sorry I never made more progress on this -- priorities changed and it was unfortunate :( Will look forward to reviewing your work!

[2016-03-18 02:46] jj-umn commented on #483
On 3/17/16 3:11 PM, Eric Rasche wrote:

Eric,

Thanks for getting it started.
When I needed an updated bcftools I was very pleased to find the template you provided.

JJ

--
James E. Johnson Minnesota Supercomputing Institute University of Minnesota

[2016-03-18 14:29] blankenberg commented on #615
xref https://github.com/galaxyproject/tools-devteam/pull/352

[2016-03-19 11:00] gregvonkuster opened #689 "Some of my ChIP-exo tools are failing tests"
I'd like to get these tools configured correctly to pass functional tests: cwpair, genetrack, repmatch_gff3.
Each of these tools has a dependency on anaconda python using this recipe:
[code]
The tests fail because attempts to import packages contained in anaconda python fail:

[code]
I'm hoping someone can let me know if there is something I need to correct to get these tests to pass.  Any insight

[2016-03-19 20:07] bgruening commented on #689
@gregvonkuster with tests you mean the classical tests not the conda based tests in the repo, correct? So you package anaconda is installed and this is the error message you get?

[2016-03-19 21:26] gregvonkuster commented on #689
@bgruening I'm running the planemo conda based tests similar to how the .travis.yml config in this repo demonstrates.  These tools work fine outside of testing, but planemo tests do not pass with the error I showed above.

[2016-03-19 21:29] bgruening commented on #689
Can you look at the logs at the top. I don't think there is a package called anaconda in the channels, so this will not be installed.

[2016-03-19 21:37] gregvonkuster commented on #689
Here are the logs up to the point that the galaxy.ini file is read - sorry for the length - I'm not quite sure what to look for.

$ planemo test --conda_dependency_resolution --conda_prefix $CONDA_PREFIX --galaxy_branch $GALAXY_RELEASE  --galaxy_source $GALAXY_REPO --skip_venv .
Testing using galaxy_root /Users/gvk/work/git_workspace/galaxy
Testing tools with command [cd /Users/gvk/work/git_worksp

[2016-03-19 21:42] bgruening commented on #689
Have a look at the travis file: https://github.com/galaxyproject/tools-iuc/blob/master/.travis.yml#L23

Can you run the install command before you run plane test and see if there is anything installed.

[2016-03-20 11:31] gregvonkuster commented on #689
@bgruening Thanks for this information.  I think the problem was that I was not keeping up with installing new conda packages?  Anyway, I did the install and now I can test these tools.  Tests are still failing, but failures are not due to import issues.  I'll submit fixes for these tool's tests shortly.  I'll close this now - thanks again for all of you help!

[2016-03-20 11:31] #689 closed

[2016-03-22 16:47] bgruening opened #693 "IUC talk proposal"
Dear @galaxyproject/iuc!

GCC is coming and the talk deadline is **this Friday**.
Do we want to present the IUC and recent tool development features at the GCC. I guess we have enough to present and give a round-up of the last years.

* members and especially new members
* statistics about the repo/work
* best practice guidelines
* community involvement (3 IUC codefests so far)
* driving new techn

[2016-03-23 12:07] gregvonkuster commented on #693
Hi Bjorn,

Thanks for initiating this idea.  I think it is an excellent idea and could complement the information shared during the Training Days.  The IUC is a principle component in the success of Galaxy, and I think that exposure like this benefits both the IUC and the Galaxy community.  A component of the IUC charter should be a constant effort to acquire additional good-standing members to he

[2016-03-23 13:00] peterjc commented on #693
I also think this would be a worthwhile talk, and would support @bgruening presenting it. Like @gregvonkuster, I don't have access to funding to attend GCC this year. Maybe we can host a trail run presentation over an IUC Google Hangout, but I would at least try to give some feedback on any draft slides.

[2016-03-23 13:27] bgruening commented on #693
Ok, thanks you all for your support. If we get accepted I will ask for a hangout session. I will sketch something up and post a google docs link here. Hopefully, I will find time tomorrow. Until then let me know if you have more ideas.

[2016-03-25 17:59] bgruening commented on #693
Sorry to be late on this.
We started a draft here: https://docs.google.com/document/d/1agyWeehrGF1Joko7f7oGCCJT5Gtbw3VWl26W33tr3Mw/edit?usp=sharing

Please feel free to join and put your affiliations into it. I need to baby-sit for a few more hours but will be back in 3-4 hours and finish this up.

[2016-03-25 18:19] gregvonkuster commented on #693
Bjoern and I are finished for now, so others feel free to edit as you see fit.  Thanks!  I’m not sure if there is a word limitation, if so we may have a boit too much text…

[2016-03-25 21:29] bgruening commented on #693
So we need to submit soon. Anyone wants to present it? I need to provide names :)

[2016-03-25 21:33] peterjc commented on #693
Looks like you @bgruening - perhaps with @gregvonkuster and @jmchilton etc if they'll be there too?

[2016-03-25 21:41] bgruening commented on #693
@gregvonkuster will not be there ... I will try to get a video setup, maybe we can do this all together. Otherwise I'm fine with presenting us.
@galaxyproject/iuc any last minute comment?

[2016-03-25 21:56] bgruening commented on #693
Done. Thanks everyone!

[2016-03-25 21:56] #693 closed

[2016-03-30 04:58] Slugger70 opened #697 "Numpy 1.9 install issue"
Hi there,

Whilst installing JBrowse from the toolshed (main), I kept getting failure to install some of the dependencies. It looks as though there is something wrong with easy_install in the python dependency for JBrowse.

It occurs for 4 of the deps for JBrowse: Numpy 1.9, pyyaml, biogff and another I can't remember at the moment. A screenshot of the error appears below.

![screen shot 2016-03-3

[2016-04-01 15:28] remimarenco opened #700 "IUC Codefest - Conda dependencies"
On monday 04/04, @bgruening and some members of Galaxy team (me and @nitesh1989 at least) would want to get a Codefest on adding IUC / Devteam tools Conda dependencies.

Hackathon begins at: 10am (UTC-4) / 4pm (UTC+2).

Hangout link: https://hangouts.google.com/call/xp6vucjka5bj7pq53uoohol6zie

It will be as following:

- [x] @bgruening will give a small introduction how to create a recipe and the

[2016-04-01 22:22] remimarenco commented on #700
I changed the time of this. I guess that would be better for everybody :)

[2016-04-03 16:09] bgruening commented on #700
I have collected a few tools and dependencies that should be a good start.

[2016-04-03 16:13] remimarenco commented on #700
Thanks @bgruening !

[2016-04-04 06:55] yhoogstrate commented on #700
I have once written a extensive wrapper for CrossMap but I got into problems with all the dependencies. However, using conda as dependency resolver might quickly solve the issue and make the wrapper usable. Maybe we could add it to the list?

[2016-04-04 07:33] bgruening commented on #700
@yhoogstrate I added it to the simple section as bioconda already as a package for it :)

[2016-04-04 07:36] yhoogstrate commented on #700
I saw you worked on that :+1: awesome

[2016-04-04 07:38] bgruening commented on #700
@yhoogstrate if you want create a WIP PR with this wrapper and we can try to make testing pass with the conda package.

[2016-04-04 13:42] peterjc opened #703 "Missing expat-devel or equivalent in package_perl_xml_parser_expat_2_41"
I've emailed the galaxy-dev list about a code problem hiding the real installation problem we had with `package_perl_xml_parser_expat_2_41`, see http://dev.list.galaxyproject.org/MySQL-amp-ToolShed-installs-latin-1-codec-can-t-encode-character-tt4669251.html

Here's the key excerpt from the `/mnt/shared/galaxy/tool_dependency_dir/perl_xml_parser_expat/2.41/iuc/package_perl_xml_parser_expat_2_41/1c

[2016-04-04 20:54] remimarenco commented on #700
Summary of the Hackathon is available here: https://docs.google.com/document/d/1qvH4XzFG1wyvW_42VTnEol3Pi-wiSmGwOrhSOmMz3J8/edit

[2016-04-05 02:07] remimarenco commented on #700
@bgruening For bcftools, am I wrong by saying the requirement is the same than the existing one? (https://github.com/galaxyproject/tools-iuc/blob/master/tools/bcftools/macros.xml)

Do we have something else to add?

[2016-04-05 07:18] bgruening commented on #700
No this is correct. But to trigger a test you still need to remove the line from the blacklist and you need to change somehow the XML file. This is because travis only test tools that have changed. Tweak some styles on the XML, improve the help ... these kind of changes.

[2016-04-05 18:19] lparsons opened #715 "BUG: DESeq2 wrapper - all vs. all produces empty output collection"
DESeq2 Galaxy Version 2.1.8.3

When running an analysis and specifying "Output all levels vs all levels of primary factor (use when you have >2 levels for primary factor)", a dataset collection is output that should contain the various tables. However, we are seeing and empty collection when running it this way on our installation. I haven't yet confirmed if a specific set of data or options cause

[2016-04-06 14:55] lparsons opened #716 "DESeq2 Wrapper is a bit opaque in how it works"
I'd like to understand how the Galaxy wrapper for DESeq2 translates the factors and factor levels into an experimental design and how the contrasts are setup. A quick look for the R code turned up nothing since the script used is embedded somewhere in a dependency. I have a few suggestions:
1. Add information to the `help` section of the tool that explains how the experimental design is created fr

[2016-04-06 14:57] nekrut commented on #716
Yes. This needs clarification, but take a look at this example by @bgruening : https://github.com/bgruening/training-material/blob/master/rna-seq/rna-seq.md

[2016-04-06 15:00] lparsons commented on #716
Thanks @nekrut, I'll take a look. Another issue is that most of this tool is actually in scripts that are hosted in the DESeq2 package on galaxydepot. Is that code available in a public repo somewhere? Any work on that tool would require updating that code...

[2016-04-06 15:01] nekrut commented on #716
@bgruening ?

[2016-04-06 15:58] mvdbeek commented on #716
It's an ongoing discussion, it used to be in the repo, now it lives in the DESeq2 source:
https://github.com/Bioconductor-mirror/DESeq2/blob/master/inst/script/deseq2.R

About the headers, I believe the goal is to have them reported as metadata in galaxy starting release_16.04.

[2016-04-06 16:03] lparsons commented on #716
@mvdbeek Thanks, good to know the scripts are somewhere. Also, very excited for annotated output using metadata. Can't tell you how many people ask me what the columns of things are, and it's just not intuitive to look at the tool help, since that is where you go to run the thing and it's really connected to the output. Though that gives me an idea... link to tool help from tool output in history?

[2016-04-06 16:09] mvdbeek commented on #716
galaxydepot (for the most part) is just a mirror, in case the original source download goes away. A few big packages (R for example) are also hosted as binary versions, so admins don't spend hours compiling these. Everyone can get things into galaxydepot, the procedure is outlined here:
https://github.com/galaxyproject/cargo-port under contributions.

I do agree with your general notion, nowadays

[2016-04-06 21:51] bgruening commented on #716
Hi all,

sorry to be so late to this discussion, I'm on a workshop these days.
A few points:

* I'm fine with moving the DESeq2 script back into Galaxy's wrapper. It used to be there and we can move it back if @mikelove does not need it in his repo, which seems to be the case.
* the script is currently available one the BioC github mirror and available from BioC, so it is not hidden at all
* the f

[2016-04-07 15:16] lparsons commented on #716
@bgruening First off, I want to say that I completely understand the value of the `depot` in terms of practicality and making things "just work". For that reason, I think it's likely worth the tradeoffs. However, I do think there are tradeoffs in complexity (it's at least a mirror and point of failure), and in transparency.

I have a few issues that I'd like to see addressed (and I'd be willing to

[2016-04-07 15:17] lparsons commented on #716
@bgruening Oh, and as far as the DESeq2 help section, I'm happy to help, but first I need to sort out what it's actually doing. I still am not quite sure (bit of code to dig through) ;-)

[2016-04-07 17:50] yhoogstrate commented on #716
@lparsons It's a bit of a hidden URL but I think you're looking for these guys:
https://depot.galaxyproject.org/software/
https://github.com/galaxyproject/cargo-port/blob/master/urls.tsv

[2016-04-07 18:09] lparsons commented on #716
@yhoogstrate Thanks! Those are extremely helpful. What we need is an overview document that describes how everything fits together. Probably needs to be linked directly from the main toolshed.

[2016-04-09 00:25] bgruening commented on #716
Shouldn't be if documented well, here we failed obviously.

Yes, this is correct. You find this information in the depot github site. It's all contained in a tsv file.
We wanted to make this more transparent and here is a little bit of history and an outline what we wanted to do:

https://gist.github.com/bgruening/48297c27cd72cbadea7a

Mh this one I does not understand. You can just add a newline

[2016-04-12 16:00] zfrenchee opened #717 "ucsc tools"
Two of your packages [download and install some of the ucsc tools](https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_ucsc_tools_312/tool_dependencies.xml). I was wondering why you made this repository, since you haven't implemented any of these tools (written the xml and put them on the tool shed, as far as I can tell). Has anyone implemented these tools, e.g. `bedClip`. I ha

[2016-04-12 17:38] yhoogstrate commented on #717
Hey @zfrenchee, if you're refering to *package_ucsc_tools_0_1* and *package_ucsc_tools_312*, I think I know the answer. If you dive into the history of version _0_1 you can see it was orignally mapping to the latest build. This is against the galaxy philosphy and probably that's the reason why 312 was created. That one should be the package definition for only version 312 of ucsc's tools and is in

[2016-04-12 17:39] martenson commented on #717
@zfrenchee in addition to @yhoogstrate I would like to point out that IUC does not necessarily wrap all the tools, but is trying to provide packages of common software to enable tool authors to wrap it.

[2016-04-12 17:41] martenson commented on #717
also e.g. deeptools v 1.5.10 depend on ucsc package https://github.com/galaxyproject/tools-iuc/blob/3c4a2b13b0f3a280de4f98f4f5e0dc29e10fc7a0/packages/package_python_2_7_deeptools_1_5_10/tool_dependencies.xml

[2016-04-13 00:59] #345 closed

[2016-04-13 15:01] zfrenchee commented on #717
Thanks guys!

[2016-04-13 15:01] #717 closed

[2016-04-15 13:39] MoHeydarian opened #720 "bedtools - Genome file"
The bedTools tools were updated recently in Galaxy with some great additions. Some of these updated tools require a 'Genome file', which is a file containing the size of the chromosomes of your reference genome.
Since the reference genome is associated with files input to bedTools does it make sense to have the user input the 'Genome file' when the same information is likely available in the inner

[2016-04-15 18:23] lparsons opened #721 "DESeq2 failed with gene identifiers that include spaces"
When a gene identifier includes a space " ", DESeq2 throw an error trying to read the file. I suspect this could be fixed by forcing the delimiter to be a tab when reading the file.

[code]

I realize this actually needs to be fixed in the R script, but this seemed like a good place to put the issue anyway. Happy to put it elsewhere if somewhere else makes more sense.

[2016-04-19 18:03] lparsons commented on #715
ping @bgruening, any ideas on this one? Workarounds? Thanks.

[2016-04-19 19:15] lparsons commented on #715
Trying to track down this issue, and I found a couple of odd things that may be causing this...

1. The [`deseq_out`](https://github.com/galaxyproject/tools-iuc/blob/deseq_new/tools/deseq2/deseq2.xml#L148) output data element is filtered if `many_contrasts is False`. However, [the `deseq_out` string is passed using the -o parameter to `deseq2.R`](https://github.com/galaxyproject/tools-iuc/blob/des

[2016-04-19 19:26] lparsons commented on #715
After a bit more digging, I'm now thinking that the [`discover_datasets` action](https://github.com/galaxyproject/tools-iuc/blob/deseq_new/tools/deseq2/deseq2.xml#L156) is just wrong. Looking at the [`discover_datasets` documentation](https://wiki.galaxyproject.org/Admin/Tools/Multiple%20Output%20Files#Number_of_Output_datasets_cannot_be_determined_until_tool_run) I believe that a `directory`must

[2016-04-19 19:39] lparsons commented on #715
I'd like to propose two fixes, actually. one that can be applied to the existing toolshed version ASAP (that doesn't depend on changing `deseq2.R`) and a second that go in with the next version of deseq2 where the R script is included. I'll see about getting PR's in for both of those...

[2016-04-19 21:09] lparsons commented on #715
OK, got the first fix in, but didn't quite get to the second. I'm not sure of the correct way to get [`deseq2.R` to output the files in an appropriate subdirectory](https://github.com/galaxyproject/tools-iuc/blob/deseq_new/tools/deseq2/deseq2.R#L349), which can then be specified in [`discover_datasets` in `deseq2.xml`](https://github.com/galaxyproject/tools-iuc/blob/deseq_new/tools/deseq2/deseq2.x

[2016-04-19 21:54] bgruening commented on #715
@lparsons why do you need the subdir?

[2016-04-20 13:00] lparsons commented on #715
@bgruening A subdirectory isn't required, but it's suggested in the [documentation for `discover_datasets`](https://wiki.galaxyproject.org/Admin/Tools/Multiple%20Output%20Files#Number_of_Output_datasets_cannot_be_determined_until_tool_run). My main concerns are ensuring the files get written to the appropriate tool output directory and that the correct set of files are put in the collection. A sub

[2016-04-21 18:52] lparsons commented on #659
Not really sure where to start with dependencies these days... Anyone have thoughts on this?

[2016-04-21 19:01] yhoogstrate commented on #659
@lparsons This is probably the list it requires: http://search.cpan.org/~cjfields/Bundle-BioPerl-2.1.9/BioPerl.pm#CONTENTS . Be aware that CPAN urls are not persistent and such packages should go into cargo-port for a final PR.

[2016-04-21 19:06] lparsons commented on #659
@yhoogstrate Thanks, good to know what's missing, but I have to be honest, I don't really know how to add this stuff to a `tool_dependencies.xml` to get it to install, let along a "cargo-port". ;-)

[2016-04-21 20:37] bgruening commented on #659
@lparsons if you like you can also try to enhance the bioperl conda package. I think most of the dependencies are also missing there.

[2016-04-21 20:38] bgruening commented on #659
If you want to work on tool_dependencies ... look at the perl_bioperl package to get an idea how this is working.

[2016-04-22 03:41] erasche commented on #659
@lparsons "what a cargo-port is" -- https://depot.galaxyproject.org/software/ :)

[2016-04-26 14:00] lparsons commented on #380
Duplicate of #659

[2016-04-27 12:34] pjbriggs commented on #697
@Slugger70 the second problem (i.e. biopython install failing due to missing numpy, even though the package does appear to be installed) looks very much like a problem we've encountered with `package_biopython_1_66`.

In that case the problem is actually with the underlying `package_numpy_1_9`, so reinstallation won't help (as you observed). I've submitted a pull request (PR #739) for `package_num

[2016-04-29 14:45] lparsons opened #746 "Trinity toolshed warning"
The following warning appears for the recently updated trinity tool in the toolshed:

The settings for name, version and type from a contained tool configuration file's requirement tag does not match the information for the following tool dependency definitions in the tool_dependencies.xml file, so these tool dependencies have no relationship with any tools within this repository.
* name: limma, t

[2016-05-02 10:07] bebatut opened #747 "package_python_2_7_biopython_1_66 in MTS?"
Hello,

I need `package_python_2_7_biopython_1_66` as a dependency. I found it on TTS but not on MTS.
Is it normal?

Thanks

Bérénice

[2016-05-02 10:12] peterjc commented on #747
Yes, it is here: https://github.com/biopython/galaxy_packages

Is the TTS version working fine? If so I can update the MTS, or @bgruening and @chapmanb can too.

[2016-05-02 10:15] peterjc commented on #747
Actually its not on the MTS or TTS either...

https://toolshed.g2.bx.psu.edu/view/biopython/package_python_2_7_biopython_1_66
https://testtoolshed.g2.bx.psu.edu/view/biopython/package_python_2_7_biopython_1_66

I'm not sure where the IUC owned entry came from:

https://testtoolshed.g2.bx.psu.edu/view/iuc/package_python_2_7_biopython_1_66

CC @bgruening

[2016-05-02 12:14] bgruening commented on #747
Very likely this was me during testing :(.
It uses a strict binding to python_2_7 and not the old way that are used by the biopython owner.
Do you want me to add this new recipe to the biopython repository and we push it as biopython owner to both TS?

@bebatut is this package actually working ;)?

[2016-05-02 12:20] bgruening commented on #721
@lparsons was this fixed? I remember this was an upstream UCSC "bug"?

[2016-05-02 12:47] #746 closed

[2016-05-02 13:28] peterjc commented on #747
Yes please @bgruening - Assuming its working, I would suggest updating https://github.com/biopython/galaxy_packages and posting it to the MTS and TTS under the Biopython username, and then deprecate the IUC entry on the TTS?

(Alternatively, if the IUC as a whole would prefer, we could just deprecate the Biopython owned tool shed entries and put them all under IUC ownership in future. Should we di

[2016-05-02 13:30] bebatut commented on #747
@bgruening It seems to work for the tool which needed it :)

[2016-05-02 13:37] bgruening commented on #747
@peterjc I don't mind. For me it would be easier to handle one less TS user but I appreciate the biopython involvement in Galaxy. Do you plan to have some dedicated biopython tools for Galaxy? Or would this end up in tools-iuc or pico_galaxy?

@bebatut good to know!

[2016-05-02 14:41] peterjc commented on #747
By analogy to Linux distribution packaging, I've come to think we (Biopython) might as well leave the Galaxy Packaging to the IUC. Like @bgruening, having to deal with my personal Galaxy Tool Shed account, the IUC account, *and* the Biopython account is a bit of extra overhead.

@chapmanb @tiagoantao: as other Biopython developers with a foot in the Galaxy ecosystem, what you you think about looki

[2016-05-02 15:46] tiagoantao commented on #747
I can help with this. Due to personal complications this week is very bad timing, but starting next week I expect to have plenty of time.

[2016-05-02 15:52] lparsons commented on #721
I don't know that this was fixed. While it does seem that the spaces in the UCSC gene identifiers is a problem on their side, the issue of how DESeq2 should handle this situation remains (afaik). I'd vote for handing it "more gracefully", (perhaps accepting them, catching the issue and presenting a clearer error, or at least documenting it more clearly in the wrapper), but I'll leave that decision

[2016-05-02 16:06] mikelove commented on #721
Feel free if you want to scrub the first column of the input files of spaces, but I'd like to avoid changing the legacy DESeq code (the htseq importer). I just don't have time or htseq-count files around to make sure that there aren't any side effects if I make a change.

[2016-05-02 17:42] lparsons commented on #721
Scrubbing the input of spaces sounds like a reasonable solution to me.

[2016-05-02 21:22] chambm commented on #483
Is this in the toolshed? bcftools_call is the only one I see recently in either the MTS or TTS. bcftools_view is old and doesn't use the -S flag for my VCF input. I have a very simple patch for that, but there appears to be a lot of new work here. However, I'm just trying to call variants on a large VCF input file, so I'm not sure that the mandatory bgzip+index step that I see in macros.xml should

[2016-05-02 21:28] bgruening commented on #483
Hi @chambm I updated both TSs. Sorry for the trouble.

[2016-05-02 21:30] jj-umn commented on #483
@chambm @erasche @bgruening
These haven't been put in the toolshed.  The remaining failing tests need the the package_bcftools_1_3 to set the environment variables BCFTOOLS_ROOT_PATH and BCFTOOLS_PLUGINS

I agree that samtools_mpileup should add a dependency for package_bcftools_1_3 and optionally allow piping through bcftools view.

[2016-05-02 21:44] chambm commented on #483
@jj-umn would that explain why the tool that is there, bcftools_call, gives me:

    Fatal error: Exit code 1 ()
    [main] Unrecognized command.

[2016-05-02 21:56] jj-umn commented on #483
@chambm  I don't think so.
I was referring to pull-request #681 in which I tried to provide tool wrappers for the complete bcftools 1.3
package.

[2016-05-08 16:35] bgruening commented on #676
Data collections are the way to go. @tiagoantao do you need help here? Can we close it?

[2016-05-08 16:36] bgruening commented on #700
@remimarenco can we close this? We should do a second one I guess before GCC and finish a few more tools as well as update the documentation.

[2016-05-08 16:38] bgruening commented on #679
@dpryan79 this is a bigger issue and Galaxy has some problems with the classic tool_dependencies to work on heterogeneous clusters. I hope this is fixed with conda dependencies. Please feel free to reopen!

[2016-05-08 16:38] #679 closed

[2016-05-08 16:41] remimarenco commented on #700
Sure no problem :)

[2016-05-08 16:41] bgruening opened #751 "Star data manager"
I recognised that our star data manager is not in the TS. https://github.com/galaxyproject/tools-iuc/blob/master/data_managers/data_manager_star_index_builder/data_manager/rnastar_index_builder.xml

@mvdbeek @yhoogstrate how are you building you indices. Should be upload/update it?

[2016-05-08 16:41] #700 closed

[2016-05-08 16:43] bgruening commented on #675
I commented on the open WIP PR and will close this one here.

[2016-05-08 16:43] #675 closed

[2016-05-08 16:45] bgruening commented on #615
This should be fixed.

[2016-05-08 16:45] #615 closed

[2016-05-08 16:49] bgruening commented on #603
I think this was fixed by @guerler. If not I will reopen.

[2016-05-08 16:49] #603 closed

[2016-05-08 16:50] bgruening commented on #614
@davebx thanks for the patch and @mvdbeek for the idea and the benchmarks.

[2016-05-08 16:50] #614 closed

[2016-05-08 18:51] bgruening commented on #715
@lparsons subdir would be great! But the underlying issue should be solved on the framework level as well. @jmchilton improved this already in 16.04 a lot. Feel free to patch the R script if you like.
I'm going to close this issue, please feel free to open a new one with the subdir idea.

[2016-05-08 18:51] #715 closed

[2016-05-08 18:54] bgruening commented on #536
This was fixed in https://github.com/galaxyproject/tools-iuc/commit/f6e7fa57ae4f8098efd8462fa3b4258b6fae3d25

[2016-05-08 18:54] #536 closed

[2016-05-08 18:55] bgruening commented on #674
ping @tiagoantao

[2016-05-08 18:57] bgruening commented on #577
@peterjc is it feasible to make this part of Galaxy lint? Searching for all `data` and `text` parameters and ensure that these are quoted in the `command` section?

[2016-05-08 19:03] bgruening commented on #561
@peterjc is a conda package also ok for you?
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/samtools/meta.yaml

[2016-05-08 19:12] bgruening commented on #530
@davebx can you please look at it?

[2016-05-08 19:13] bgruening commented on #467
@nsoranzo do you need help here? We could organise a Codefest dedicated to closing/fixing Issues before GCC?

[2016-05-08 19:15] bgruening commented on #358
@mvdbeek can we close this in favour of the other package?

[2016-05-08 20:40] bgruening commented on #338
I will close this Issue as conda packages will solve this problem.

[2016-05-08 20:40] #338 closed

[2016-05-08 21:28] mvdbeek commented on #358
Sure

[2016-05-08 21:28] #358 closed

[2016-05-08 23:17] peterjc commented on #577
It should be easy to spot ` $name ` (with white space before and after, including special case of at the end of the line) in `planemo lint`, and variants like ` ${name} `, within the `<command>` tag. That would help and seems like a good idea in itself. I like that idea :)

In general however, there is no substitute for actually running the entire stack on a path with spaces.

[2016-05-08 23:21] peterjc commented on #561
I've not kept up to date on how conda packages fit into the Galaxy Tool Shed dependency chain, so maybe?

[2016-05-09 06:57] yhoogstrate commented on #751
I think it's good to have a data manager for star. The indices are really big (9* size of fasta). That's probably also the reason nobody is hosting them, or at least I am not aware of that. So it always comes down to generating them yourself.

I am not a fan of using python files as wrappers while you could do the same in cheetah. Do you want this to be changed?

[2016-05-09 07:01] bgruening commented on #751
@yhoogstrate as you like. I was more wondering if this data manager is working and why it is not in the MTS. If you can upgrade it and push it into the TSs this would be great!

[2016-05-09 15:21] nsoranzo commented on #467
@bgruening First step in #753.

[2016-05-09 20:43] tiagoantao commented on #747
What is the best way to advance this? Should I submit a PR for tools-uic for 1.66? @bgruening could tutor me for this first version and I would take care of this autonomously 1.67 and onwards?

[2016-05-09 20:46] bgruening commented on #747
@tiagoantao a simple PR with 1.66 would be great. We will review it, merge it and get it into TTS as quickly as possible. From there we should test is properly, maybe with Galaxy Docker and get it into MTS.

[2016-05-09 20:50] bgruening commented on #583
@lparsons are you working on this or planning to work on it? I have created a new conda package just in case you want to bump the version as well.
https://github.com/bioconda/bioconda-recipes/pull/1499

[2016-05-09 20:54] peterjc commented on #747
@tiagoantao does this mean you're OK with using https://github.com/galaxyproject/tools-iuc/ rather than https://github.com/biopython/galaxy_packages in future?

[2016-05-10 18:32] bgruening opened #756 "IUC member proposal - Anthony Bretaudeau"
Hi,

I would like see Anthony Bretaudeau (@abretaud) becoming an IUC member.

Anthony already contributed a lot to the IUC repository and is very active in the metagenomic field.
He has contributed to the Galaxy codebase and is a very active member of the French Galaxy community.

As usual I will try to assist him in the first months if he has IUC related questions.

Please comment and vote!

[2016-05-10 18:35] erasche commented on #756
:+1:

[2016-05-10 18:44] mvdbeek commented on #756
👍

[2016-05-10 18:59] nsoranzo commented on #756
:+1:

[2016-05-10 19:09] yhoogstrate commented on #756
:+1:

[2016-05-10 19:10] martenson commented on #756
👍

[2016-05-11 06:49] #467 closed

[2016-05-11 10:02] abretaud commented on #756
Thank you all!
Very excited to be a part of it!
Anthony

[2016-05-11 12:32] blankenberg commented on #756
+1

[2016-05-11 12:42] bgruening commented on #756
@gregvonkuster I know you already agreed via mail, can we get an official one here as well :)

[2016-05-11 14:15] nekrut commented on #756
👍

[2016-05-11 16:31] martenson commented on #756
@abretaud I formally invited you to the galaxyproject GH org; please make sure you have strong password on this account
and welcome!

[2016-05-11 16:47] bgruening commented on #756
@abretaud welcome! You will get a mail from me with all TS credentials soon.
:tada:

[2016-05-11 16:47] #756 closed

[2016-05-11 17:03] gregvonkuster commented on #756
Belated +1 - I must have sent it earlier by email, sorry!  Welcome aboard!

[2016-05-11 19:22] tiagoantao commented on #747
@peterjc I am fine with both, I leave that decision to you

[2016-05-11 19:23] tiagoantao commented on #747
This is currently pending on https://github.com/biopython/biopython/pull/822

This is needed to have a robust dependency test.

[2016-05-11 21:17] peterjc commented on #747
@tiagoantao your Biopython test-framework enhancements in https://github.com/biopython/biopython/pull/822 could be in Biopython 1.67, but won't affect 1.66 which is already out.

@bgruening it sounds like we could move the Biopython Galaxy packages to the tools-iuc repository, and iuc ownership on the Tool Shed in future.

[2016-05-12 22:09] tiagoantao commented on #747
Lets see if I am getting this right (probably not):

1. I would take the version here to start with: https://github.com/biopython/galaxy_packages/tree/master/package_biopython_1_66

2. This is mostly an exercise of getting dependencies in. I suspect that I will have to add a few new packages to achieve completeness, say simcoal for example

[2016-05-12 22:34] peterjc commented on #747
The older packages named like ``package_biopython_1_66`` are using the default version of Python (and live on GitHub at https://github.com/biopython/galaxy_packages), while the Galaxy Python packaging ecosystem seems to have shifted towards separate packages for specific versions of python like ``package_python_2_7_biopython_1_66`` (as in this issue's title). This specific package was something @b

[2016-05-16 01:54] mictadlo commented on #697
@bgruening DeepTools failed from TestTooshed, because of similar problem with `package_python_2_7_numpy_1_9`:

Browse tool dependency numpy installation directory
Tool shed repository:
package_python_2_7_numpy_1_9
Tool shed repository changeset revision:
fe0870696ca7
Tool dependency status:
Error
Tool dependency installation error:
usage: easy_install [options] requirement_or_url ... or: easy_inst

[2016-05-16 19:03] Takadonet commented on #680
#762  Addresses some of the to-do items above. Just a few cavets that need to be fixed.  Left/right reads split into a pair list collection only works for multiple accession download.

Second, when running multiple accession downloads, you always get two collection , Single end and Pair end, regardless if either of them will be empty.

[2016-05-18 16:07] Takadonet commented on #680
Think you can check off "upgrade to newer sratools package and provide conda package"

[2016-05-18 16:14] mvdbeek commented on #680
Right, thanks again @Takadonet

[2016-05-19 13:05] yhoogstrate commented on #751
I have been looking into the data manager and it is not ready yet.

 - [ ] Depends on wrong STAR package (incorrect owner)
 - [ ] Has no .shed.yml so can not be automatically deployed
 - [ ] The data manager saves a symlink to a fasta file within the ref-index directory, while the STAR wrapper expects the path to the directory
 - [ ] Column names in 'tool-data/rnastar_index.loc.sample' are inconsi

[2016-05-19 13:12] yhoogstrate commented on #697
I don't know for sure but should it depend on `package_ez_setup_0_9`?

@mictadlo Could you create a clone of the repository under your name and test if this works out for you with the following `tool_dependencies.xml`:

[code]

[2016-05-19 20:00] bgruening opened #765 "Are we ready for automatic TS push?"
@galaxyproject/core are we ready to push conda-tested tools automatic to the MTS?
I think it worked well for TTS or was there any problems?

What about packages? Do we want to upload them as well?

[2016-05-19 22:25] nsoranzo commented on #765
:+1: but at the same time we should document that on the README and mention that you can skip testing/uploading with this trick: https://docs.travis-ci.com/user/customizing-the-build/#Skipping-a-build

[2016-05-19 22:59] bgruening commented on #765
Oh yes, documentation should be updated :)

[2016-05-19 23:30] mictadlo commented on #697
@yhoogstrate How do I create a clone of the repository under my name and test the above file?

[2016-05-20 16:10] yhoogstrate commented on #697
Just Go to the website of the testtoolshed and create it via the web interface. You only have to upload one file So IT should Be Easy. If you are More experienced with Galaxy you could use planemo instead. In that Case you need to update the `owner` in the file `.shed.yml` to your username.

[2016-05-21 04:45] mictadlo commented on #697
@yhoogstrate I loged in to testtoolshed and found only `repository_dependencies.xml`  ( https://mictadlo@testtoolshed.g2.bx.psu.edu/repos/bgruening/suite_deeptools/file/cf8e531b309f/repository_dependencies.xml ), but I could not find any upload link.

I would be happy to try planemo, but I have not use it before. By any chance do you have any links to (video) tutorials?

[2016-05-24 18:01] Takadonet commented on #680
@mvdbeek , I been thinking of multiple threading this tool because it 'slow' when attempting to download large amount of SRR accessions. What do you think? Probably use https://toolshed.g2.bx.psu.edu/repository?repository_id=2de97dd53ecf6a69&changeset_revision=0e1e79b3b7db

[2016-05-24 18:31] bgruening commented on #680
@Takadonet gnu-parallel can work. See for example this PR: https://github.com/galaxyproject/tools-devteam/pull/265/

Nevertheless, I would prefer to use the build-in `<parallelism>` feature and create for every potential input accession a separate job.

[2016-05-24 18:39] mvdbeek commented on #680
An additional option is to ask upstream for multicore/multithreading ... I was under the impression that this already supported, given the `--disable-multithreading` flag. I suppose the intensive part is the actual dumping of the fastq files right? Does it ever use more than 1 core?

[2016-05-24 19:27] Takadonet commented on #680
The slowly part is the downloading of the SRA file itself. It would be beneficently to saturate the pipeline by downloading a few at a time. (maybe 4 top).   Since I am doing a terminal for loop, be easier to switch to gnu parallel

[2016-05-24 20:43] mvdbeek commented on #680
Is putting ascp in the path an option for you? For us it completely
satisfies our link

On Tue, May 24, 2016, 9:58 PM Philip Mabon <notifications@github.com> wrote:

[2016-05-24 20:46] Takadonet commented on #680
It is an option that we I am using currently. One benefit that we have is that our lab has a dedicated  fibre connection to NCBI, we want to max out of connection whenever we can.

[2016-05-25 10:04] mvdbeek commented on #765
For tools that are conda-tested a definite 👍
For packages I would say yes as well, given that we have no formal checks in place anyway.
Ideally we would test the package installation from the testtoolshed first before merging. Could we perhaps let jenkins do that?

[2016-05-25 20:06] mvdbeek commented on #680
Hmm, we get 11.5 MBytes/s (very close to the 100MBit/s link that we have) from the NCBI to our lab in Paris, and for us dumping the reads takes more time than downloading. Have you opened the appropriate ports in your firewall and are you sure ascp is not falling back to HTTP transfer mode? have you tested whether you can increase the speed by downloading multiple files at once?

I would obviously

[2016-05-25 20:08] Takadonet commented on #680
It is using the ascp and not failing back to our HTTP transfer mode.
Firewall port are open (spoke to our admin). Planning to test it out this
week and see if it makes a differences or not.

Cheers

On Wed, May 25, 2016 at 3:06 PM Marius van den Beek <
notifications@github.com> wrote:

[2016-05-30 16:25] #444 closed

[2016-05-31 17:22] erasche commented on #346
pvh_sa mentioned "view as IE" which might solve this as well.

[2016-06-02 09:53] #765 closed

[2016-06-02 13:51] martenson commented on #765
this is splendid, thank you fellas!

[2016-06-02 14:11] lparsons opened #777 "hisat2 bug: toolshed dependency warning for hisat version 2.0.3"
The main toolshed shows this warning:

[code]

[2016-06-02 14:55] #777 closed

[2016-06-02 19:43] ericenns opened #780 "package_trinity_2_1_1 fails with /usr/bin/ld: cannot find -lblas"
We tried adding LD_LIBRARY_PATH variable to lapack dependency but the issue still persists, any ideas.

[2016-06-02 19:44] ericenns commented on #780
Full error message here:

    * installing *source* package ‘RcppArmadillo’ ...
    ** package ‘RcppArmadillo’ successfully unpacked and MD5 sums checked
    ** libs
    /usr/bin/ld: cannot find -lblas
    collect2: ld returned 1 exit status
    make: *** [RcppArmadillo.so] Error 1
    ERROR: compilation failed for package ‘RcppArmadillo’
    * removing ‘/galaxy/production/tool_dependencies/trinit

[2016-06-03 05:03] Slugger70 opened #781 "package_jbrowse_1_12_0"
Hi Eric,

I'm having some trouble installing package_jbrowse_1_12_0.. It keeps returning an error on install or repair attempt. The error is that it cannot find the patch file `dojo.js.patch`. See below:

[code]

When installing from gui:

<img width="782" alt="screen shot 2016-06-02 at 9 29 59 pm" src="https://cloud.githubusercontent.com/assets/1740254/15769209/2fe7f838-299c-11e6-894c-e8ba869f507

[2016-06-03 05:29] Slugger70 commented on #781
Hi again,

I think I've figured it out. The last changeset removed the ../ from infront of the dojo.js.patch filename in the tool dependencies file. I put it in and it worked.

Cheers,

Simon.

[2016-06-03 10:50] nsoranzo commented on #781
Hi @Slugger70,
the package on the ToolShed was messed up for some reason, I've synchronised it with the GitHub version now. Can you try to update the package and reinstall the `jbrowse` dependency?
Please let us know if it works or not. Thanks!

[2016-06-03 13:48] erasche commented on #781
@nsoranzo, I've been testing things in the TS from jbrowse-next rather than
master, leading to differences there. I had conflicting reports about the
dojo path and was trying to resolve them.

Glad you got it work @slugger70
3. jun. 2016 10.50 a.m. skrev "Nicola Soranzo" <notifications@github.com>:

[2016-06-03 13:57] erasche commented on #781
I've re-uploaded to the TS which has the proper `../dojo.patch`

[2016-06-03 16:57] nsoranzo commented on #780
@abretaud Any idea?

[2016-06-04 12:24] bgruening commented on #327
What do we need to do here to get GOseq into IUC?

[2016-06-04 12:31] mvdbeek commented on #327
Goseq itself should be ready, I got a bit stuck on extracting category information from the different genome packages, but that would be a different tool anyway. I'll make a WIP PR.

[2016-06-04 12:36] bgruening commented on #327
:+1:  thanks!

[2016-06-07 09:10] abretaud commented on #780
Thanks for reporting! As lapack is often installed by default on our servers I hadn't seen the problem

[2016-06-07 09:32] #780 closed

[2016-06-07 14:18] ericenns commented on #780
This problem still occurs, as package_trinity_2_1_1, hasn't been updated to point to the latest lapack package.

[2016-06-07 14:23] abretaud commented on #780
Oh yes, MTS is up-to-date now

[2016-06-07 14:24] ericenns commented on #780
trinity also needs to be updated so that it uses the latest package_trinity_2_1_1 package, thanks.

[2016-06-07 14:26] abretaud commented on #780
Done!

[2016-06-07 16:18] lparsons opened #786 "pyBigWig (and/or perhaps python itself) installed a version compiled with old version of openldap 2.3 libraries"
After I installed the latest deeptools, the version of pyBigWig and/or python that was installed was compiled with openldap 2.3 libraries. I'm on CentOS 6, and the current version is 2.4. This is causing this error:

        import pyBigWig
    ImportError: libldap-2.3.so.0: cannot open shared object file: No such file or directory

[2016-06-07 17:51] dpryan79 commented on #786
Is this in the dockerized version of galaxy with ldap support added (I know someone was recently asking @bgruening about that)? If you source the `env.sh` file for deeptools and run `ldd -r` on the libbigwig.so file under pyBigWig, what do you see? What if you run it instead on libpython.something.so under package_python_2_7?

[2016-06-07 19:42] bgruening commented on #786
@lparsons are you using conda packages? Otherwise everything is compiled on your machine. No traditional package is shipping pre-compiled binaries afaik (in deeptools). It's a different story if you use conda packages.

[2016-06-07 21:15] ericenns commented on #780
So it turns out LD_LIBRARY_PATH didn't fix the issue instead I added LIBRARY_PATH to lapacks env.sh and then I was able to install Rcpparmadillo. I am still having issues installing package trinity, but I am not done debugging on my end yet.

[2016-06-08 09:54] abretaud commented on #780
Thanks, it is fixed in #787!
Don't hesitate to report other problems, I can help you (though if you have a recent galaxy version, activating the conda dependencies can make things much simpler to install trinity)

[2016-06-08 14:53] lparsons commented on #786
@dpryan79 This is not dockerized, but it version `16.04` running under CentOS 6. I sourced
`tool-dependencies/deepTools/2.2.3/iuc/package_python_2_7_deeptools_2_2_3/2f4601e4fc32/env.sh`
then ran
`ldd -r tool-dependencies/pybigwig/0.2.7/iuc/package_python_2_7_10_pybigwig_0_2_7/c11cc6035492/lib/python/pyBigWig.so`

[code]

Running
`ldd -r tool-dependencies/python/2.7.10/iuc/package_python_2_7_10/033

[2016-06-08 14:53] lparsons commented on #786
@bgruening Good question... I don't really know if I'm using conda packages or not (it's not clear to me how to determine that).

[2016-06-08 14:59] bgruening commented on #786
@lparsons have you activated it in galaxy.ini :)
But your above message indicates the pyBigWig.so file is linked against ldap but pip is compiling this shared object on your host. So I don't understand this.
Can you check what happens if you do a `pip install pybigwig`. Does it also link against ldap?

xref: https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_python_2_7_10_pybi

[2016-06-08 15:15] lparsons commented on #786
@bgruening I haven't made any changes to `universe_wsgi.ini` in a while... ;-)

I created a new virtualenv as the galaxy user. Sourced `env.sh` from the libcurl package (required to install pybigwig) and then ran `pip install pybigwig`. The result of `ldd -r` was the same, linked against the non-existant libldap-2.3.so.0.  Possibly this is coming from an issue with libcurl?

[2016-06-08 15:23] bgruening commented on #786
`universe_wsgi.ini` I see where this is going ;)

This is my output from CentOS 6.6.
[code]
Can you double check if you have no old libldap.so somewhere on your system?

[2016-06-08 15:25] lparsons commented on #786
OK, I think the underlying issue was with an old libcurl, which a reinstall seems to have fixed things. I'll do a bit more testing and then close this. Thanks so much for the help.

[2016-06-08 19:30] #786 closed

[2016-06-10 13:32] JJAlmagro opened #789 "Trinity (e4a9e0798360) incorrect tool dependencies"
Hello,

When installing trinity (e4a9e0798360) there is a problem with the edger and express dependencies. In these lines https://github.com/galaxyproject/tools-iuc/blob/master/tools/trinity/tool_dependencies.xml#L15, https://github.com/galaxyproject/tools-iuc/blob/master/tools/trinity/tool_dependencies.xml#L21 these two packages appear as:
[code]
However, in these packages https://github.com/gala

[2016-06-13 03:36] tseemann opened #794 "jbrowse: option to automatically enable all tracks"
The default is to show NO tracks. This is confusing to users. Be good to have an option at creation to turn on all tracks or not.