[2014-09-29 21:32] mr-c opened #1 "Move khmer wrappers here"
See https://github.com/ged-lab/khmer/tree/master/scripts/galaxy

(This is the appropriate place, yes?)

[2014-10-14 10:44] greenify opened #4 "host visualization plugins"
@bgruening had the great idea to host visualization plugins inside this repo (until the ToolShed supports thems).

-> would you be interested (a) in hosting visualization plugins in this repo or (b) do you want to create a separate repo (e.g. `vis-iuc`) or (c) do you have another idea?

Minimal list of contributors with visualization plugins:

* [@saketc](https://github.com/saketkc/galaxy_tools/tr

[2014-10-30 09:17] peterjc opened #9 "package_mummer_3_23 missing on GitHub"
We have https://toolshed.g2.bx.psu.edu/view/iuc/package_mummer_3_23  and https://testtoolshed.g2.bx.psu.edu/view/iuc/package_mummer_3_23 on the Tool Sheds under the IUC account, but the package source is not yet here under https://github.com/galaxyproject/tools-iuc/tree/master/packages

I don't see it under https://github.com/bgruening/galaxytools/tree/master/packages with @bgruening's other packa

[2014-11-10 01:09] peterjc opened #11 "Setting up TravisCI continuous integration for IUC tools"
Suggested by @bgruening, it would be great to have the IUC tools tested automatically using TravisCI.

Note that my setup described here http://blastedbio.blogspot.jp/2013/09/using-travis-ci-for-testing-galaxy-tools.html as used on https://github.com/peterjc/galaxy_blast and https://github.com/peterjc/pico_galaxy does not use the Tool Shed packages - it "manually" installs the dependencies from so

[2014-11-14 19:03] blankenberg opened #13 "MACS2 version update"
May want to consider updating MACS2 to a newer binary version.

[2014-11-17 17:27] peterjc opened #14 "package_bedtools_2_19 missing on GitHub"
File ``tools/bedtools/tool_dependencies.xml`` currently reads:

[code]

However, this package in not currently in this repository.

[2014-12-03 15:31] jmchilton opened #15 "Google Summer of Code 2015"
Should we try to get some coders to work on tool or workflow integration projects? Is that realistic and if so what is involved? If it is feasible lets collect some ideas here.

Do people have wishlists with interesting projects or would they be willing to mentor? I could outline some stuff for proteomics building on work by @bgruening and the Galaxy-P project.

http://www.google-melange.com/gsoc/

[2014-12-09 19:11] jmchilton opened #16 "Meeting about Tool Development (December 2014)"
I am going to throw out `2014-12-16` at `10:00 EDT` / `15:00 GMT`?

Lets make a list of topics to discuss here - my initial suggestions would be.

 - Tool best practice guidelines (see https://wiki.galaxyproject.org/Tools/BestPractices).
 - Versioning (of tool wrappers) (https://github.com/galaxyproject/tools-devteam/pull/16)
 - Tool Shed YAML manifest (see also https://github.com/galaxyproject/to

[2014-12-18 11:11] bgruening opened #17 "update bedtools"
bedtools needs an update

- [x] update to version 2.22
- [x] add new features introduced in latest version (e.g. fisher tool)
- [x] add CDATA tag
- [x] add more tests
- [ ] -g option should not take a tabular file but should reuse genome.len files from Galaxy (${chromInfo} plus a validator on input file)

[2014-12-18 18:17] martenson opened #18 "scipy installation fails on missing blas"
As a part of deepTools installation on Test Galaxy the scipy package needed to be installed and failed with the following error:
https://gist.github.com/martenson/b77145f404f52f0ddc7b

[2015-01-05 20:56] jj-umn opened #22 "What needs to be done for snapped/snpsift v4.0 to be put on main toolshed?"

[2015-01-05 22:57] bgruening commented on #22
@martenson can we put them online?

[2015-01-06 00:39] bgruening commented on #17
@martenson I think we are ready. At least for TTS and test.usegalaxy.org

[2015-01-06 15:44] bgruening commented on #13
@blankenberg updated MACS2 to the latest version available from pypi: MACS2 2.1.0.20140616.

[2015-01-06 15:44] #13 closed

[2015-01-08 19:06] martenson commented on #17
@bgruening awesome! I am going to push it in the TS now

[2015-01-08 19:47] jmchilton commented on #15
So I think the tentative plan is to actually submit a proposal to be a mentoring organization. (Is this crazy?) The application FAQ says (like @saketkc mentioned) one of the most important points is to have a strong wiki presence with a good list of project ideas. I have started an [ideas page](https://wiki.galaxyproject.org/Develop/GSOC/2015Ideas) on the wiki and outlined some of the ideas we dis

[2015-01-08 21:49] nitesh1989 commented on #15
@jmchilton Found the page. Should I be elaborating on the proposal ? It is already very well written. (Talking about the bio conductor proposal).

[2015-01-09 00:34] #16 closed

[2015-01-09 02:02] jmchilton opened #23 "Tool Developers Meeting (February 2015)"
At the end of the last Tool Developers meeting we decided to make it a bi-monthly thing. I have put together a Doodle poll with some time slots. It is still a while from now so probably best to fill out the poll closer to that date but I wanted to make sure it was on the radar.

http://doodle.com/q634w4ae2nhgaf84

Once we have decided on a time slot we can post of galaxy-dev (which we should have

[2015-01-09 22:26] bgruening commented on #14
And here we go: https://github.com/galaxyproject/tools-iuc/pull/24
Hope this is ok for you all.

[2015-01-09 22:29] bgruening commented on #22
@martenson I have create a few shed.yml file for you: https://github.com/galaxyproject/tools-iuc/pull/25 Are we ready to get this into the Tool Shed? We can also do the upload.

[2015-01-09 22:31] bgruening commented on #18
@martenson I was referring to https://wiki.galaxyproject.org/Admin/Config/ToolDependenciesList and here liblapack and libatlas are listed.

[2015-01-09 22:45] jj-umn commented on #22
Upload to toolshed would be great.

[2015-01-10 09:29] #14 closed

[2015-01-11 13:41] jj-umn commented on #22
Wait with toolshed update!
I've just been looking at SnpEff version 4.1  and it again has a new format for reference data.
So I plan to revise all the *.loc tables to include the snpeff version so that they can be filtered by version.
It also means the the datatype for a downloaded database needs to be versioned.  Ideally, a DataToolParameter would allow filters on dataset metadata, i.e. "snpeff_v

[2015-01-14 13:51] jj-umn commented on #22
@bgruening @nsoranzo
I updated SnpEff with tool_data_tables that should enable those to be used across multiple snpeff versions.

[2015-01-14 14:13] bgruening commented on #22
@jj-umn this is great! You are the real master of data-managers! :+1:
Two questions:
* do we want to move the datatypes into Galaxy
* do we want to push the 4.0 version to the ToolShed or do we skip it and release 4.1

@nekrut agreed to store the databases in the Galaxy depot. And I try to make this happen as soon as possible.

[2015-01-14 14:26] jj-umn commented on #22
I think the base datatype with the snpeff.py code should be stable enough now.
( This uses a pattern that may be general enough for snpeff, bwa, bowtie, etc. to warrant having a base class for any such tool that needs a directory of files, and a means of generating the path to that data recognizable by the application.  )

The only way I know of currently to restrict dataset inputs is by subclassi

[2015-01-14 14:51] nsoranzo commented on #22
I'd say we skip 4.0.

[2015-01-14 14:57] jj-umn commented on #22
I vote that we push version 4.0.
Version 4.1 switches to ANN named annotations and and uses a new version of ANTLR  so it will need some verification for SnpSift as well.   So that may require some time.  Whereas I think the 4.0 version should be ready now.

[2015-01-14 15:13] blankenberg commented on #22
@jj-umn You can have a metadata value associated with the dataset and filter against that for DataToolParameters. For example, I added a filter for the gemini tools that will look at the gemini version from the dataset's metadata (parsed from the .sqlite database) and only list datasets with versions that match the version accepted by that version of the tool, e.g.: https://github.com/galaxyprojec

[2015-01-14 15:54] jj-umn commented on #22
@blankenberg Excellent!   Thanks for the example.

[2015-01-14 18:20] jj-umn commented on #22
@bgruening @blankenberg  @nsoranzo
Updated pull request with DataToolParameter filter as suggested by Dan.

[2015-01-15 16:09] jmchilton commented on #15
@nitesh1989 Thanks, I just sort of transcribed my understanding of what we discussed down without understanding much about how Bioconductor works or R documentation, etc.... If you have other ideas you would want to see worked on or would want to mentor - please add them - same  goes for everyone else :).

[2015-01-15 17:01] jj-umn commented on #15
SQLite Visualization plugin.
Allows one to submit queries on any sqlite dataset and view the table of results.
Bonus points if the resulting table could be visualized within the charts visualization.

[2015-01-15 19:43] erasche commented on #15
@jj-umn I suppose @bgruening's and my answer would be "Why, use IPython of course!" but there definitely should be something standalone, that would be really neat. Might mention [RedQueryBuilder](http://redquerybuilder.appspot.com/) in the GSOC project description

[2015-01-20 13:22] jj-umn commented on #22
@bgruening   @martenson
merged bgruening pull request and updated package_snpeff_3_6,  package_snpeff_4_0, and package_snpeff_4_1 to modify the snpEff.config upon install to pull databases from: https://snpeff-data.galaxyproject.org/databases

Can we install this on the main toolshed now?

[2015-01-20 16:29] martenson commented on #22
@jj-umn I am on it.

[2015-01-20 17:03] jj-umn commented on #22
On 1/20/15 10:29 AM, Marten wrote:

I forgot to say so, but probably needs to be done in this order for default changesets:

    https://github.com/galaxyproject/tools-iuc/tree/master/datatypes
    https://github.com/galaxyproject/tools-iuc/tree/master/packages
    https://github.com/galaxyproject/tools-iuc/tree/master/data_managers
    https://github.com/galaxyproject/tools-iuc/tree/master/tool_c

[2015-01-22 14:17] jj-umn commented on #22
@martenson @bgruening  I uploaded these to the IUC account on the toolshed this AM.

[2015-01-22 14:18] #22 closed

[2015-01-22 15:11] martenson commented on #22
@jj-umn I cannot find e.g. package_snpeff_4_1  on either of the Tool Sheds. Am I missing something?

[2015-01-22 16:52] jj-umn commented on #22
@martenson   I haven't uploaded that package as yet.  Once I make sure the 4.0 versions of the tools are working, I'll look into updating them to v4.1

[2015-01-22 16:54] martenson commented on #22
@jj-umn Ahh. Sorry for the confusion then. Let me know when you are ready and I will help you with the hassle of uploading to the TS.

[2015-02-02 20:23] nitesh1989 opened #31 "Make sure toolform_upgrade = False"
In the config/galaxy.ini , the parameter for toolform_upgrade has to be set to be "False" for this to work.

# Use new tool form
toolform_upgrade = False

[2015-02-02 20:24] nitesh1989 opened #32 "Make sure toolform_upgrade = False"
In the config/galaxy.ini , the parameter for toolform_upgrade has to be set to be "False" for tool\_factory\_2 to work.

\# Use new tool form
toolform_upgrade = False

[2015-02-02 20:26] #31 closed

[2015-02-03 20:14] nitesh1989 commented on #32
This should work with the upgraded version of galaxy-central. This is the changeset which fixes the bug :

https://bitbucket.org/galaxy/galaxy-central/commits/5aa058b09609351defd3161754b23a27ea9bef99

[2015-02-04 18:17] erasche opened #33 "IUC Packaging TODO List"
In the interests of tracking things which we want to package or see included, here's a TODO list analogous to galaxyproject's trello cards and voting.

- [ ] PacBio Tools
  - I have progress on BLASR, and somewhere on my hard drive I had a first stab at converting their workflows to galaxy JSON workflows. Just message me (@erasche) for them.
- [ ] [RAMPART](https://github.com/TGAC/RAMPART)
- [ ] [

[2015-02-04 19:34] jj-umn commented on #33
@erasche I would be interested in seeing what you've done with PacBio.
Is any interested in HISAT?  I made a package tool_dependencies.xml, a data_manager, and was about 75% to a tool wrapper.

[2015-02-04 19:36] erasche commented on #33
@jj-umn my packages/wrappers are [here](https://github.com/erasche/galaxy-tools/tree/master/PacBio). The PacBio one had some glaring bugs which I've fixed locally, I'll push those shortly.

[2015-02-04 23:26] erasche commented on #33
@jj-umn pushed PacBio stuff [here](https://github.com/galaxyproject/tools-iuc/tree/pacbio). BLASR works for fasta files.

- datatypes aren't written yet and need to be to handle the directories of .ba(s|x).h5 files on disk
- As a result, none the hdf5 stuff is working yet
- packages are untested, they're probably all broken.

[2015-02-05 16:31] erasche commented on #11
https://github.com/galaxyproject/planemo/issues/15 is also relevant. That coupled with the docker-in-travis described above and we'd be almost there.

[2015-02-05 16:32] erasche commented on #11
Additionally, if we're using planemo for that...we should be deploying to the toolshed when PRs are merged into master. :D

[2015-02-05 16:35] erasche commented on #4
@galaxyproject/iuc can this be closed? Viz plugins have been merged in so a decision seems to have been made regarding this. (On that note I deprecated my video viz plugin and added that to this repo)

[2015-02-05 16:38] bgruening commented on #4
I think this can be closed. I'm in contact with @greenify and will work on more VIS from biojs.

[2015-02-05 16:38] #4 closed

[2015-02-09 18:07] erasche commented on #11
Okay y'all, I'm tired of seeing this issue, so....I set up [jenkins testing](http://gx.hx42.org) in the meantime to test ALL of the tools. Yes it's overkill, but it's *something*, and it's working now until someone sets up Travis testing.

- The planemo and galaxy updater jobs can be run to keep them up to date (they're global, let's just test against latest, if anyone *really* cares that much, we

[2015-02-09 20:05] erasche opened #37 "Gemini Tools lack test cases"
Most tests for Gemini are failing with

[code]
[reference test report](https://gx.hx42.org/job/IUC-Github/lastCompletedBuild/testReport/)

which turns out to be because there aren't any test cases. Anyone want to write some? :) @bgruening @blankenberg

[2015-02-09 20:07] erasche opened #38 "Gatk2 Missing phiX.fasta"
[Test Results](https://gx.hx42.org/job/IUC-Github/lastCompletedBuild/testReport/functional.test_toolbox/TestForTool_gatk2_variant_combine/functional_test_toolbox_TestForTool_gatk2_variant_combine_test_tool_000000/)

[code]

relevant for variant_combine and variant_eval

[2015-02-09 20:11] erasche commented on #17
Since bedtools 2.22 has been on the toolshed for a month now, @bgruening want to make the PR or are you still waiting on writing the `-g` mentioned in your todo list?

[2015-02-09 21:12] bgruening commented on #17
We can merges this. Thanks for reminding me.

[2015-02-09 21:14] #17 closed

[2015-02-10 14:03] erasche commented on #23
Now that a 1/3rd of the month is over... is anyone else in @galaxyproject/iuc still interested in a tool developer meeting?

[2015-02-10 16:35] jmchilton commented on #23
Doodle somehow seems to think February 23 at 4:00 PM penn state time (21:00 UTC?) works for everyone (spanning three continents) so I say we go with that. (I would have thought that was too late for Europe - did people see the poll in their own timezones?)

@bgruening does that work for you still?

[2015-02-10 16:46] nsoranzo commented on #38
It's a 8Kb file from Galaxy test-data/ directory, I will add it.

[2015-02-10 16:47] erasche commented on #38
Thanks Nicola!

[2015-02-10 16:59] #38 closed

[2015-02-10 17:00] peterjc commented on #23
Not ideal, but I decided I could live with a 9pm local time meeting given the broad range of time zones.

If the poll had been setup to allow yellow "maybe" (rather than just red "no" and green "yes") I would have ticked that ;)

[2015-02-10 17:47] bgruening commented on #23
@jmchilton it's ok. Someone have to bite the bullet :)
I will be in Slovenia (Galaxy workshop) so this fits nicely. Hopefully internet works this time!

[2015-02-10 17:53] jmchilton commented on #23
Alright thanks Europeans - if @fubar2 doesn't show up though we will make the next one a lot earlier in the day :).

[2015-02-10 17:57] erasche commented on #23
Yeah, it's no problem for me to be up at 6-9 am (1200 to 1500 UTC) if that's easier on the europeans. Personally would've assumed that early was better than late.

[2015-02-10 18:03] jmchilton commented on #23
Yeah - lets put some earlier times on the next poll (if we do another poll) - I started at 9 AM EST because I gather Marten is not a fan of getting up that early and several of the rest of us at Penn State need to get kid(s) to daycare/school in the morning - which can make things difficult.

[2015-02-10 18:14] erasche opened #41 "BioJS-MSA doesn't use galaxy prefix"
If galaxy is running with a prefix like `/galaxy/`, BioJS-MSA is not aware of this.

[2015-02-10 18:14] saketkc commented on #41
cc @greenify

[2015-02-10 18:15] martenson commented on #23
I am definitely a fan of getting up early. Lets make it 3am next time!
M.
p.s. I really don't care, schedule it any time.

On Tue Feb 10 2015 at 1:03:49 PM John Chilton <notifications@github.com>
wrote:

[2015-02-10 18:18] greenify commented on #41
[Last time](https://github.com/galaxyproject/tools-iuc/pull/5#issuecomment-59204695) I asked whether there is a variable or configuration from which the MSA can get the browser path to itself.

I would be happy to change that if Galaxy can give the visualization plugins the absolute url to the them...

[2015-02-10 18:20] erasche commented on #41
Yes, it can. We've done this with our IPython Viz plugin though I'll have to dig into the code to figure out how we did it. I was seconds away from submitting this issue on [biojs2galaxy](https://github.com/biojs/biojs2galaxy/).

[2015-02-10 18:24] jj-umn commented on #23
Anytime works from as well.

[2015-02-10 19:19] erasche commented on #41
You've already done it in a couple places, you're just missing some of the others. In [galaxy.mako](https://github.com/biojs/biojs2galaxy/blob/master/template/galaxy.mako), you have `root` which will correctly determine the correct root, you just need to use that for `url` and `jsonURL` on L43-44

[2015-02-11 00:37] greenify commented on #41
Oh sry, I was replying too fast - I was referring to the plugin path which is hard-coded to `plugins/visualizations` in biojs2galaxy.

thanks to @erasche I [updated biojs2galaxy](https://github.com/biojs/biojs2galaxy/commit/c3560ceb529cc69abf625ee471f6af612eb4b327) with the correct root url :)

[2015-02-11 14:46] erasche commented on #41
Oh, yeah, it would be nice if there was a method that'd get the full URL for a viz plugin. Anyway, great, thanks so much for getting this fixed in upstream!

[2015-02-11 15:07] erasche opened #46 "MACS2 not in main tool shed"
On IRC:

[code]

I'm preparing to push this now, so file your complaints if you have them!

[2015-02-11 15:18] #41 closed

[2015-02-11 15:20] erasche commented on #46
Pushed to main TS

[2015-02-11 15:20] #46 closed

[2015-02-11 15:25] bgruening commented on #46
Upps ... ;) Ok, let's wait for bug reports. The reason was that it is currently tested on test.galaxyproject.org.

[2015-02-11 15:26] bgruening commented on #46
But thanks for doing this!

[2015-02-11 15:28] erasche commented on #46
It passes [most of my tests](
http://gx.hx42.org/job/IUC-Github/Planemo_HTML_Reports/macs2.html)

2015-02-11 9:26 GMT-06:00 Björn Grüning <notifications@github.com>:

--
Eric Rasche

[2015-02-11 15:29] erasche commented on #46
It passes [most of my tests](http://gx.hx42.org/job/IUC-Github/Planemo_HTML_Reports/macs2.html), sorry, didn't realise that it was undergoing manual testing on test.galaxyproject.org

[2015-02-11 18:44] erasche commented on #11
Jenkins testing is now live and working. My apologies for all of you who got emails because the bot auto-commented on all open issues requesting an admin to verify a patch. I've removed or altered those comments to instruct jenkins to test where appropriate.

So, on to the neat stuff:

- To test (I'm pretty sure all IUC members are on the list) just comment with "please test this", and that should

[2015-02-16 17:23] erasche opened #49 "MEME"
@bgruening `jelle_` was asking about this on IRC.

You seem to have a meme package in the TTS, but while the [development  repo](https://testtoolshed.g2.bx.psu.edu/view/iuc/package_meme_4_10_0) is listed as this one but there's no meme package here.

Additionally, are you planning on writing wrappers for it?

Needed:

- [x] package https://github.com/galaxyproject/tools-iuc/pull/75
- [ ] tools

[2015-02-16 17:28] nsoranzo commented on #49
There are already some wrappers for MEME in the ```tools/meme/``` directory of galaxy-central (no idea of their status).

[2015-02-18 15:20] erasche opened #50 "Automatically pushing repos to sheds"
Question for @galaxyproject/iuc:

With planemo and the `-r` option, we can push the entire repo automatically to various places. I'd like to do this on a regular basis (as a jenkins job, every night or so), and I had a thought that I'd like to put to the IUC for comments.

Originally I'd wanted to push master to the TTS, but then I realised that I wouldn't be able to test things in other branches

[2015-02-18 15:24] erasche commented on #32
@nitesh1989 I'm reading this as this issue is resolved with recent galaxy releases, should this be closed? (perhaps with a note of "Doesn't work with galaxy `rev #### - ####`" or "Doesn't work with galaxy release_###"?

[2015-02-18 15:25] erasche commented on #18
This looks like one of the issues that'll be fixed with the new scipy/numpy packages. Now that those are on main is this fixed (or will we need to re-push deepTools in order to get the latest packages?)

[2015-02-18 15:26] nitesh1989 commented on #32
We should close this issue.

[2015-02-18 15:28] #32 closed

[2015-02-18 15:31] jmchilton commented on #50
I don't get a vote - but I would... encourage... getting just the master branch automatically pushed to to the test tool shed first and build confidence over several months that it is not going to interact poorly with "installable revisions". It is difficult to correct problems with the tool shed right (not unlike many package managers).

[2015-02-18 15:33] erasche commented on #9
@peterjc is this still an issue since you've added your own package? Do you want to merge your mummer package here or are you happy with it in pico_galaxy?

[2015-02-18 15:35] erasche commented on #50
fair point @jmchilton, I'd neglected to remember the pain of "installable revisions". I'll start pushing to the TTS and reopen this in a few months.

[2015-02-18 15:35] #50 closed

[2015-02-18 15:36] nsoranzo commented on #50
+1 for pushing only to the TTS.

[2015-02-18 15:57] martenson commented on #50
+1 for testing the automated push approach extensively on TTS before moving on. MTS has to be protected because reverting stuff is unsolved (+unwanted) and IUC tools especially have high visibility.

[2015-02-18 16:07] erasche commented on #50
Thanks for the input y'all. I'm working on TTS pushing now (spoilers, there's stuff in master that's broken) though I'd like to leave MTS pushing in the roadmap. :)

[2015-02-18 16:28] martenson commented on #50
Please do leave it on the roadmap! I think Planemo is a good way to do this.

[2015-02-18 16:51] erasche commented on #50
Okay, we're automatically pushing to TTS now :D

http://gx.hx42.org/job/TTS-Pusher/5/console

Holy updates batman...I hope MTS isn't this bad.

[code]

[2015-02-18 18:00] martenson commented on #50
if by 'bad' you mean 'behind' I am afraid it might be :)

[2015-02-19 00:50] peterjc commented on #50
Good work with the automated push to the TTS.

Automated deployment to the MTS seems like a good long term plan, but should we have any process in place to ensure tool versions are incremented (or just trust the Tool Shed revisions)? I'm particularly interested in functional changes (rather than documentation or cosmetic changes) which ought to result in a bump to the associated tool's revision nu

[2015-02-19 00:56] peterjc commented on #9
The source for ``package_mummer_3_23`` is still not on GitHub under IUC, so yes, this is still an issue,

My user facing mummer wrapper under pico_galaxy simply depends on ``iuc/package_mummer_3_23`` in the TTS and MTS: https://github.com/peterjc/pico_galaxy/tree/master/tools/mummer

To echo @bgruening's question, @jj-umn - as the original author do you have any objections to us downloading ``pack

[2015-02-22 19:59] jmchilton commented on #23
Pinging everyone on this thread to remind them this is happening tomorrow. We should probably put together an agenda and announce this on -dev.

[2015-02-22 20:39] erasche commented on #23
Agenda, yes please!

søn. 22. feb. 2015, 19.59 skrev John Chilton <notifications@github.com>:

[2015-02-22 22:35] bgruening commented on #23
Proposed items:

 * [ ] automated testing tools-iuc / tools-devteam
 * [ ] planemo developments, priorities until GCC
 * [ ] Tool Shed developments, priorities until GCC
 * [ ] Tool Shed 2.0, brew vs. conda
 * [ ] automated tool_dependencies.xml building
 * [ ] small enhancements that makes tool development easier, Trello round-up
 * [ ] afaik Anton was calling for 2015 the year of tools, do we ha

[2015-02-22 23:18] fubar2 commented on #23
I'll be there - 8am AEST is the first sensible meeting time I've seen in ages. I hope my dressing gown will meet or exceed the minimum sartorial standards for a hangout?
:)

[2015-02-23 02:00] jmchilton commented on #23
I was worried we would have trouble coming up with something to talk about - but it actually looks like we have more to talk about than last time. So I have put together notes in the form of slides that we can cycle through - please feel free to go in and add stuff now especially if there is something you want to talk about on any of these topics.
https://docs.google.com/presentation/d/1i9GD_FmaqZ

[2015-02-23 11:04] peterjc commented on #23
Those slides should say 2015-02-23 right? Not 2015-02-22.

This is at 4pm / 16:00 EST or 9pm / 21:00  GMT/UTC, meaning in about 10 hours time?

[2015-02-23 13:22] erasche commented on #23
@peterjc `2015-02-23T21:00Z`, yep, about 8 hours from now

[2015-02-23 19:52] blankenberg opened #51 "Gemini package requires a configured $HOME when run."
Home directory should not be assumed, but in testing, having the package set HOME to e.g. '.' for the working directory seemed to work OK.

Here is original error
[code]

[2015-02-23 20:19] blankenberg opened #53 "Gemini Error when trying to load a VCF against Data Manager loaded Gemini Data"
See Galaxy bug report: https://test.galaxyproject.org/dataset/errors?id=e0efdf8bfb70378a

cmd line for the load includes the --annotation-dir (should be ok before the 'load' command?):

[code]

The directory exists and has the info, but the job fails with Exit Code 1, due to attempting to load several files from the original installed package dir.

[code]

where /galaxy/test/jobdir/000/349/349430/

[2015-02-23 20:54] jmchilton commented on #23
https://plus.google.com/hangouts/_/gwutcfpyrqq3reoeu3rumb23dua

[2015-02-23 21:36] erasche commented on #23
Depot files proposal:

- we want need files that are essentially permanently available
- we want multiple people to host copies
- files shouldn't be able to be removed from the network
- we haven't a need for versioning

That *screams* bittorrent to me. A tracker to point at a peer that the files can be retrieved from, multiple peers to ensure permanent redundancy. Thoughts?

[2015-02-23 22:01] erasche commented on #33
@jmchilton had suggestion of putting together a yearly paper mentioning everything the @galaxyproject/iuc has wrapped in the past N months.

[2015-02-23 22:08] jj-umn commented on #9
I'm happy to have anything I've done move new new ownership.   I obviously haven't had time to keep up to date with everything.   Thus, might interest in putting tools up for adoption.

[2015-02-23 22:18] bgruening commented on #23
@erasche I like it, at our last workshop we tried to distribute docker images via bittorrent.

[2015-02-23 22:26] erasche commented on #23
@bgruening great to hear. I feel like if the galaxyproject and at least one or two other organisations provided some storage space (I'll volunteer the VM I use for jenkins), we could really provide a longer lasting service here for galaxy specific storage of binary blobs that are needed for reproducible research.

Extended thoughts

- would require some sort of approval system for adding files, i.

[2015-02-24 09:05] peterjc commented on #9
That's great @jj-umn - the mummer package is already under the IUC namespace on the Tool Shed, so it is effectively already under the IUC's care.

Let's go ahead and import it into this GitHub repository for future maintenance.

[2015-02-24 09:08] bgruening commented on #9
Great, I will do this today.

[2015-02-24 11:07] peterjc commented on #9
Thanks all :)

[2015-02-24 11:07] #9 closed

[2015-02-24 16:01] martenson commented on #23
I know someone who might be interested. Istvan Albert (who runs https://biostar.usegalaxy.org/) implemented bittorent tracker for the Biostar site (to share datasets amongst users).

[2015-02-24 16:07] bgruening commented on #23
ping @ialbert :)

[2015-02-24 16:16] erasche commented on #23
Ah, that's what I get for digging up an email address and emailing him. Thanks @bgruening :)

[2015-02-24 16:17] bgruening commented on #23
Your welcome, as usual :)

[2015-02-24 16:20] erasche commented on #23
@martenson thanks for that post, too bad that BioTorrents has been dead for a few years by the looks of it.

[2015-02-24 16:25] erasche commented on #23
The other option is running a Tahoe-LAFS cluster, but that would require removal prevention hacked in (and I'd have to dig into how it handles things like permanent node failure and accessibility of data).

[2015-02-24 16:29] martenson commented on #23
Writing Galaxy bittorent tracker can be a nice project. :)

[2015-02-24 17:49] ialbert commented on #23
We do have a tracker in biostar in a reasonably factored out manner

https://github.com/ialbert/biostar-central/tree/tracker/biostar/apps/tracker

Our primary issue ended up with having the bittorrent ports blocked for
different providers.

It is still something we are interested in but there is also a new kid on
the block, webtorrent that promises the same thing but as WebRCTP requests
over stand

[2015-02-24 17:52] erasche commented on #23
@ialbert Thanks for sharing that! That definitely sounds like a preferable alternative to dealing with institutions and blocked ports, though I hadn't been intending to use it for providing the file downloads.

With something like that, it's conceivable that galaxy instances installing packages could contribute to the swarm.

[2015-02-24 20:50] martenson commented on #18
This issue should be solved thanks to @natefoo
https://trello.com/c/ST8ogif9/70-toolshed-platform-specific-atlas-builds

[2015-02-24 21:11] martenson commented on #18
@erasche to answer that somebody who knows what he/she is doing should test deeptols on Test Galaxy

[2015-02-24 21:14] bgruening commented on #18
I will do this asap ... sorry.

[2015-02-24 21:18] erasche commented on #18
@bgruening doesn't have to be deepTools, could be anything with a dependency on scipy/numpy. I don't know how the update mechanism works hence me asking about it.

[2015-02-24 21:21] martenson commented on #18
I am making sure that Test Galaxy has the proper packages right now, stay tuned

[2015-02-24 21:21] erasche commented on #18
okay, great, thanks @martenson!

[2015-02-24 21:40] martenson commented on #18
so the scipy 0.12 still fails on missing blas :(
https://gist.github.com/martenson/8be91bb26e50e44848b7

[2015-02-24 21:41] erasche commented on #18
this is for package_scipy_0_12 installation, or for something that depends on it?

[2015-02-24 21:41] erasche commented on #18
This *should* be fixed with the recently pushed packages. I'll double check I suppose

[2015-02-24 21:42] martenson commented on #18
this is for package_scipy_0_12

[2015-02-24 21:45] erasche commented on #18
According to that gist, you're getting version `4:ef12a3a11d5b` of package_numpy, but numpy should be at `8:a4bdc17eed4a`

[2015-02-24 21:47] martenson commented on #18
funny, admin ui shows only one installed numpy package and that is a4bdc17eed4a, let me dig into filesystem

[2015-02-24 23:13] martenson commented on #18
I might have some more grey hairs but package_scipy_0_12 was succesfully compiled on Test Galaxy

[2015-02-25 01:13] erasche commented on #18
Sorry that that was so painful for you! Glad to hear we can close this. Thanks for testing @martenson

[2015-02-25 01:13] #18 closed

[2015-02-25 01:31] martenson commented on #18
@erasche lol, 's my jaaaab :)

[2015-02-25 15:11] #51 closed

[2015-02-25 15:13] erasche opened #56 "Bugs from Jenkins+Planemo Testing"
## [rgDifferentialCount](https://github.com/galaxyproject/tools-iuc/blob/master/tools/differential_count_models/rgedgeRpaired_nocamera.xml)

@fubar2

- also need to run through `xmllint --pretty 1`
- Given `rgedgeRpaired_nocamera.xml`, should `rgedgeRpaired.xml.camera` be `.camera.xml`?

[code]

## [gatk2_base_recalibrator](https://github.com/galaxyproject/tools-iuc/blob/master/tools/gatk2/base_re

[2015-02-25 15:41] erasche commented on #15
Closing as applications are closed.

- https://wiki.galaxyproject.org/Develop/GSOC/2015Ideas

[2015-02-25 15:41] #15 closed

[2015-02-25 16:09] erasche commented on #23
Meeting is completed (next time I'll video/take minutes)

[2015-02-25 16:09] #23 closed

[2015-02-25 17:10] erasche opened #57 "Bedtools genomeCoverageBed cannot find 'zero_regions'"
For version 2.22.0 of genomeCoverageBed, I see the Cheetah error `NotFound: cannot find 'zero_regions'`. This is because it lacks the `$report` prefix on the conditional variables.

Additionally the [validator](https://github.com/galaxyproject/tools-iuc/blob/master/tools/bedtools/genomeCoverageBed.xml#L46) for `unspecified_build` seems odd, I had to hack that out to get it to function.

[2015-02-25 17:10] erasche commented on #57
Will make a PR once it's tested.

[2015-02-25 17:13] bgruening commented on #57
Seems so, also for `scale`

[2015-02-25 17:26] erasche commented on #57
yep, adding test cases for it now.

[2015-02-25 17:29] blankenberg commented on #57
See also https://github.com/galaxyproject/tools-iuc/pull/54

[2015-02-25 17:33] erasche commented on #57
@blankenberg thanks for that--that should've been merged a while ago. Now that I'm using the tools I suppose I'm qualified to review that PR! Merged, I'll push test cases once I figure out how genomecov will get the results I expect out of it.

[2015-02-25 17:42] #57 closed

[2015-02-25 22:37] martenson opened #59 "package_matplotlib_1_2 cannot find numpy dependency"
I tried to install `package_matplotlib_1_2` on test.galaxyproject.org but did not succeed in spite of the package having numpy 1.7 in set_environment_for_install. Scipy seems to install correctly and it depends on the same numpy version.

[code]

[2015-02-25 22:50] martenson opened #60 "package_samtools_0_1_19 installation fails"
On test.galaxyproject.org

[code]

[2015-02-25 23:45] erasche commented on #60
looks like missing zlib, which definitely should be available. Huh.

[2015-02-26 00:47] martenson commented on #60
is it possible we are missing zlib on Test @natefoo ?

[2015-02-26 01:42] erasche commented on #60
shouldn't be--that's a [required](https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_samtools_0_1_19/tool_dependencies.xml#L6), [packaged](https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_zlib_1_2_8/tool_dependencies.xml) dependency.

[2015-02-26 02:14] martenson commented on #60
Yeah it is installed on test and reports all fine.

[2015-02-26 08:48] bgruening commented on #59
TTS has no tests for it but TS reports all tests passing. You are installing from the TS?

[2015-02-26 08:51] bgruening commented on #60
I will copy and paste the devteam package to the IUC package to get this resolved. The TTS and the TS seems to be fine with the packages. Don't know what going on in test.galaxyproject.org. Maybe this is an systematic error. Resetting metadata can help in some cases.

[2015-02-26 08:58] bgruening commented on #53
@blankenberg --annotation-dir should be fine before `load` because we need it for more than only load. https://github.com/arq5x/gemini/blob/master/gemini/gemini_main.py#L56

What happens if you remove the config file?

[2015-02-26 10:41] bgruening commented on #60
I have copied the content of the devteam repository to the IUC one and pushed it into TTS.

[2015-02-26 11:28] fubar2 commented on #56
@erasche - thanks!
rgDifferentialCount: On the non-xml ending file - I should remove it. xmllint done.
Are tool dependencies installed/available during Jenkins tests?

[2015-02-26 13:34] erasche commented on #56
Tool dependencies are not available yet, I've manually installed some of
the easy ones. Anything you want installed?

Hopefully work by @jmchilton on planemo will make this automatically
possible soon.
26. feb. 2015 11.28 skrev "Ross" <notifications@github.com>:

[2015-02-26 15:59] blankenberg commented on #53
Removing the config file, or removing the line with the annotation_dir: /path/ both result in errors.

Modifying this line in the config to point to the correct path works of course, but this will only work for one set of data.

[2015-02-26 16:01] bgruening commented on #53
I don't get it. This was one major change I have applied before releasing the first gemini version for Galaxy. `--annotation-dir` should exactly prevent this. I need to see what our server is doing. Here it seems to work fine.

[2015-02-26 16:21] blankenberg opened #62 "Gemini Load Writes to the database/files dir"
This can be solved in the tool by using a symlink, or possibly by using bgzip and tabix converters.

Current behavior as follows on an Input VCF dataset:

[code]

Run Tool

Tool running:
[code]
Running a little longer
[code]

Done:

[code]

[2015-02-26 17:22] martenson commented on #59
@bgruening  Yeah, I am always using the Main TS.

[2015-02-26 18:41] bgruening commented on #60
If this is ok with you, we can move it to MTS and close this issue.

[2015-02-26 18:42] martenson commented on #60
It is fine with me. Sorry for the delay. I will test once in MTS.

[2015-02-26 18:42] bgruening commented on #59
I tried it in docker and it worked for me. This is strange @martenson. Any recent Galaxy bug? I currently rebuild all docker containers to get the latest version and test again.

[2015-02-26 19:18] erasche commented on #60
@bgruening pushed to MTS?

[2015-02-26 19:19] erasche commented on #60
(How I wish I could write a jenkins task to check for phrases "push X to MTS"...that'd solve this nicely)

[2015-02-26 19:19] martenson commented on #60
I am pushing it now.

[2015-02-26 20:19] martenson commented on #60
It seems there is a bug. By updating the package_samtools_0_1_19 we got rid of ncurses and zlib tool dependencies but even after uninstall&install of the newest package revision they are showing up as missing dependencies (i.e. the record for the dependency in the DB is preserved).
![screenshot 2015-02-26 15 15 37](https://cloud.githubusercontent.com/assets/1814954/6400951/938afda2-bdca-11e4-82a3-

[2015-02-26 20:21] martenson commented on #60
Thanks for the help guys.

[2015-02-26 20:21] #60 closed

[2015-02-26 20:22] bgruening commented on #60
I have resetted the metadata maybe this helps?

[2015-02-26 21:27] martenson commented on #59
I tried again and succeeded. As usual I do not know why.

 Thanks to this `deeptools` is fully installed including all its dependencies. Thanks for help guys.

[2015-02-26 21:27] #59 closed

[2015-02-26 23:47] fubar2 commented on #56
There's a boatload of dependencies needed for all my tools - so they'll fail until those dependencies are installed - but IMHO it's not important enough to divert any effort to installing dependencies manually - let's wait until planemo can do it for us automagically.

[2015-02-27 21:30] bgruening opened #65 "EMBOSS tools needs an update"
We need a new version of all EMBOSS tools. We should write a converter from [EMBOSS ACD](http://emboss.sourceforge.net/developers/acd/syntax.html) files to Galaxy xml files.

Please get in touch with us if you are interested in this project.

[2015-02-27 21:47] erasche commented on #65
I had one somewhere at one point. Crap. It's probably gone now. Willing to help though :)

[2015-02-27 21:49] erasche commented on #65
Nope, gone now. I remember the main problem with my automatic conversion was that there were a bunch of "unlisted" arguments like "seqNformat" (or something like that)

[2015-02-28 09:43] bgruening commented on #65
Binaries can be build with: https://github.com/natefoo/docker-build/pull/2

[2015-02-28 15:40] erasche commented on #65
+1 for prebuilt binaries!

[2015-03-07 18:28] erasche commented on #33
Mentioned QuickGO xref #6 for onto-viz.

[2015-03-07 18:59] bgruening commented on #33
@erasche does this count? https://github.com/bgruening/galaxytools/tree/master/tools/image_processing/image_processing

[2015-03-07 20:15] erasche commented on #33
@bgruening yes, that was what was originally linked by the "progress..." comment. Will update the link in a bit since you've reorganised your repo.

[2015-03-10 15:38] erasche commented on #33
More tools to convert (I need BER) https://github.com/jorvis/ergatis/tree/master/components

I didn't know a tool wrapping format could be less friendly than Galaxy ;)

[2015-03-12 15:42] cheezemeister commented on #57
Has this issue been resolved?  I'm still getting this error using a small bacterial genome BAM with a custom build from a FASTA file in Galaxy.

[2015-03-12 17:34] erasche commented on #57
It'll be in the test tool shed, I don't think anyone pushdd to the MTS yet.
12. mar. 2015 10.42 skrev "cheezemeister" <notifications@github.com>:

[2015-03-17 13:39] erasche opened #73 "Automate pushing to TTS/MTS"
Requires support for creating toolsheds in

- [x] https://github.com/galaxyproject/bioblend/pull/124
- [x] https://github.com/galaxyproject/bioblend/pull/128
- [x] https://github.com/galaxyproject/planemo/pull/101
- [x] https://github.com/galaxyproject/tools-iuc/pull/74
- [x] https://github.com/galaxyproject/galaxy/pull/29
- [x] https://github.com/galaxyproject/galaxy/pull/30
- [x] https://github.

[2015-03-17 14:52] erasche commented on #73
xref https://github.com/galaxyproject/galaxy/pull/2

[2015-03-17 15:13] erasche commented on #73
planemo will want support for updating repos, xref https://trello.com/c/n7P0GE1P/235-enhance-the-api-repositories-feature

[2015-03-19 16:17] erasche opened #77 "libGD problems"
Howdy Commissioners,

Figured I'd post an issue to solicit any debugging comments y'all might have. I'm building a [Circos](http://circos.ca) package (with small example tools included), and I'm running into some unpleasant troubles trying to install the perl GD package. They seem to be reproducible within Galaxy, but I'm not too familiar with how exactly packages are compiled (e.g. what environme

[2015-03-19 18:27] erasche commented on #77
Oh, forgot to mention, packages are available in the TTS for testing, if anyone feels like helping out

https://testtoolshed.g2.bx.psu.edu/view/iuc/circos_tools

[2015-03-19 18:37] erasche commented on #77
Hmmm. looks like Galaxy is finding the host's `gdlib-config` based on docker testing:

[code]

[2015-03-19 20:12] erasche commented on #77
Even patching to include `gdlib-config` doesn't seem to let that be found when needed:

[code]

End of TTF and start of GD:

[code]

[2015-03-19 21:55] bgruening commented on #77
@erasche have you tried the `devtools` binary: https://testtoolshed.g2.bx.psu.edu/view/devteam/package_libgd_2_1_0

[2015-03-19 21:56] erasche commented on #77
@bgruening thanks for reading over this :) No, I haven't tried that. I'll switch that in and test immediately.

[2015-03-19 22:01] bgruening commented on #77
Great, let's suppose this works, we simply copy this recipe over and updating the TS's :)

[2015-03-19 22:01] erasche commented on #77
I'll let you know in 30 minutes when the perl finishes compiling :P

[2015-03-19 22:09] erasche commented on #77
:(

[code]

[2015-03-19 22:13] bgruening commented on #77
Maybe circos is broken? Does it have a hard-coded path for libdg for something similar?

[2015-03-19 22:15] erasche commented on #77
This isn't circos (yet), this is https://github.com/galaxyproject/tools-iuc/blob/circos/packages/package_circos_0_67_5/tool_dependencies.xml#L26

[2015-03-19 22:31] bgruening commented on #77
This looks odd: You need to specify `--lib_gd_path` as far as I can see, otherwise it will only look in `-I/usr/include -I/usr/include/gd`

[2015-03-19 22:32] erasche commented on #77
That all **should** be realised through `pkg-config`, but of course this is very deep in galaxy build/install internals and it's tough to debug. I'll keep digging, thanks!

[2015-03-19 22:33] bgruening commented on #77
Have a look at `BUILD.pl` it does not look like it respects `pkg-config`.

[2015-03-19 22:34] erasche commented on #77
Hmmm, I'll dig into that more. Thanks again @bgruening I appreciate having another set of eyes on this!

[2015-03-19 22:38] erasche commented on #77
Notes to self:

- https://github.com/Homebrew/homebrew-science/blob/master/circos.rb#L24
- http://circos.ca/tutorials/lessons/configuration/perl_and_modules/
- https://metacpan.org/source/LDS/GD-2.56/Build.PL

[2015-03-19 22:42] bgruening commented on #77
You could try to set `@INC` to `$GD_ROOT/include` and provide your own tarball.

[2015-03-19 22:43] erasche commented on #77
That was going to be the first thing I try...tomorrow morning. Manually patching the perl libgd .tgz and seeing if fixing paths doesn't correct it.

I'm worried that the perl module isn't being built with the same environment as the surrounding container? I don't know what any of the perl module building code looks like so I was going to dig into that :)

[2015-03-19 22:45] bgruening commented on #77
For your information: https://github.com/galaxyproject/galaxy/blob/dev/lib/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py#L1062

[2015-03-19 22:48] erasche commented on #77
Thanks!

tor. 19. mar. 2015 kl. 17.45 skrev Björn Grüning <notifications@github.com>:

[2015-03-20 17:48] erasche commented on #77
@bgruening AHA! I was correct. The environment is wrong during the perl module build phase:

I've edited for brevity, but if the libgd env.sh was actually being sourced we'd expect to see

[code]

followed up by it not finding any libgd stuff:

[code]

and, by exporting those environment variables from the `env.sh` file....

[code]

(the "found gd.h header in /usr...expected at ..." is a result of

[2015-03-20 18:35] erasche commented on #77
libGD's `Makefile.PL` says "Type perl Makefile.PL -h for command-line option summary." < lies!

[2015-03-20 18:35] erasche commented on #77
ARGH.

[code]

[2015-03-20 18:37] erasche commented on #77
[code]

[2015-03-20 18:39] erasche commented on #77
Upstream: https://rt.cpan.org/Public/Bug/Display.html?id=99901

[2015-03-21 18:00] bgruening commented on #49
I was planning to write some, but had no time. I will put it back into my queue.

[2015-03-21 18:06] bgruening commented on #77
@erasche consider to use https://github.com/natefoo/docker-build

[2015-03-23 13:51] blankenberg commented on #49
As @nsoranzo mentioned, we do have some wrappers for MEME and FIMO in the distribution. IIRC, they should be in pretty decent shape when they were added. One outstanding item was that they were letting the user set sequence sizes and maxsize, which might be better off hidden.

[2015-03-24 08:19] mr-c commented on #1
This is in progress in #80

[2015-03-24 17:54] erasche commented on #1
@mr-c thanks for doing this, I'll be very excited to see #1 closed!

[2015-04-06 20:02] #73 closed

[2015-04-06 20:28] erasche opened #88 "Issues discovered from whole git repo push to TTS"
## Round 1

- [x] package_biopython_1_61 contains a readme.rst (fc79e42ba3054c9f440660642069c708344440ad)
- [x] package_dill_0.2 has a period (006abbf1447439b8fdfb727be5651ffdc1d91690)
- [x] package_faToTwoBit_35x1 has uppercase letters (same for gfClient/gfServer) (5fa42e48613d63af1a10cecf998f07837fca7ef4, 2b256a8b2db84063dfdf376423c6799b15f59317, 3db286e3e982fc0c88d36bad7a3aca0b771a3246)
- [x] p

[2015-04-06 20:30] bgruening commented on #88
Will fix it now!

[2015-04-06 20:30] erasche commented on #88
You want to add the misisng descriptions? I've got most of the others...

[2015-04-06 20:31] erasche commented on #88
I'm working in the branch `88fixes` if you want to add there

[2015-04-06 20:38] erasche opened #89 "GraphicsMagick"
- [x] 1_3 is actually 1_3_18 https://toolshed.g2.bx.psu.edu/repos/iuc/package_graphicsmagick_1_3/file/4ce7b22bf603/tool_dependencies.xml (6ffe61d088903cbd9d31d879c9973fccd3dfb676)
- [x] 1_3_20 is not in this repository despite being owned by IUC: https://toolshed.g2.bx.psu.edu/repos/iuc/package_graphicsmagick_1_3_20/file/d87c457bbbc2/tool_dependencies.xml (736249f5346779f3cd84e6a8b3145b899cf9f750)

[2015-04-06 20:47] erasche commented on #88
Oooh this is going to be a fun merge. Let me know when you're done @bgruening and I'll rebase + merge fixes.

[2015-04-06 20:58] #89 closed

[2015-04-06 21:10] erasche commented on #88
Pushing all to TTS from command line manually, things look good so far!

[2015-04-06 21:11] bgruening commented on #88
muchas gracias

[2015-04-06 21:12] erasche commented on #88
de rien~

[2015-04-06 21:25] erasche commented on #65
Depends on https://github.com/galaxyproject/docker-build/issues/10

[2015-04-06 22:01] erasche commented on #88
Added round 2 changes. We're mostly at parity between IUC GitHub and TTS now.

[2015-04-07 13:29] scholtalbers opened #96 "MACS2: Incorrect BED format"
The XLS to BED conversion in "callpeak" is incorrect as it places the name column at the very end instead of in column 4.
See https://github.com/galaxyproject/tools-iuc/blob/master/tools/macs2/macs2_callpeak.xml#L83

[2015-04-08 14:12] blankenberg commented on #96
Confirmed. Also the output file is more generic interval than bed (lots of non-bed standard columns here).

[2015-04-08 17:35] erasche commented on #62
@bgruening does that commit fix the issue? If so would you mind opening a PR?

[2015-04-08 22:32] bgruening commented on #62
PR done.

[2015-04-08 22:37] #62 closed

[2015-04-10 14:47] erasche opened #101 "Prebuilt R packages link to X11"
Reported by @Unode on the IRC channel.

[2015-04-10 14:51] Unode commented on #101
The alternative of forcing compilation on linux (using the recipe from darwin included in the XML) has problems linking with libreadline.

The following symbols are reported not found:

    ld: warning: cannot find entry symbol _start; not setting start address
    /GALAXY/galaxy_dist/tool_dependencies/readline/6.2/rjalves/package_readline_6_2/052e8df231ac/lib/libreadline.so.6: undefined reference

[2015-04-10 20:14] bgruening commented on #101
ping @davebx

[2015-04-10 21:06] lparsons opened #104 "Numpy 1.7 dies due to missing libf77blas.so.3"
When attempting to use MACS2 (which depends on numpy 1.7) I get the following error:

    ImportError: libf77blas.so.3: cannot open shared object file: No such file or directory

Atlas seems to be installed just fine, but it doesn't seem like that env.sh is sourced except during numpy installation. Not sure if that's the issue, but seems like it might be.

[2015-04-11 00:13] khoegenauer commented on #56
@erasche
Would you mind sharing your (minimal) Jenkins config? I'd like the opportunity to break things, here in the privacy of the lab.

I'm sure I could put it together on my own; but when I got started with PHP applications, http://jenkins-php.org/ made life much easier.

[2015-04-11 01:08] erasche commented on #56
Sure, no problem. I'll get those pushed somewhere tomorrow morning for you.
10. apr. 2015 19.13 skrev "Kevin Hoegenauer" <notifications@github.com>:

[2015-04-11 01:43] erasche commented on #56
@khoegenauer https://github.com/galaxy-iuc/jenkins-testing

[2015-04-11 18:41] erasche commented on #11
I'm going to see if I can build a jenkins plugin for galaxy tool testing. If I can, I'm willing to open this up as a free service to anyone above a threshold of some # of tools/packages. If that continues to work well, I'll further open the jenkins instance up to anyone who wants to use it for testing + deploying Galaxy tools.

If anyone cares about travis, please feel free to work on that and I'l

[2015-04-15 13:38] erasche commented on #104
We now provide numpy with atlas compiled in, which version of MACS2/numpy are you using? We had one other person report a very similar issue but I'd have to dig through IRC logs.

[2015-04-15 18:00] lparsons commented on #104
Using the latest MACS2 (`859c982b1f7f`) and letting Galaxy handle dependencies, which installs:

    package_r_3_0_1         iuc	c5ff6dd33c79	Installed
    package_gnu_awk_4_1_0   iuc	52a8268bb49f	Installed
    package_atlas_3_10      iuc	37ff27ea37ed	Installed
    package_numpy_1_7       iuc	c7ae57300a77	Installed
    package_scipy_0_12      iuc	20d1dd0220d7	Installed
    macs2

[2015-04-15 18:12] erasche commented on #104
Huh, that's odd. According to the diff
https://toolshed.g2.bx.psu.edu/repository/view_changeset?ctx_str=859c982b1f7f&id=e984c9f63184b207
it should install package_numpy_1_7 at 692ae723f63e which is two commits
behind yours. Wonder why it's ignoring specific changeset revision
information.

Anyway, back to your issue...that LOOKS like it's suppose to work. I'll see
if I can reproduce it later and d

[2015-04-15 18:29] lparsons commented on #104
I've definitely had issues with package_* dependencies changing revisions.
Could be there was an earlier one installed?  I often end up with two
records in Galaxy for different revisions of the sample package_*
dependency.  I'm never really sure how to resolve it, any tips on how to
"clean up" the list of installed revisions would be most welcome.

Lance

On Wed, Apr 15, 2015 at 2:12 PM, Eric Rasc

[2015-04-15 18:34] bgruening commented on #104
Do you see "white ghosts"? Repositories that are not installed, just white and doubled?
If so you can purge such repositories.

[2015-04-15 18:35] bgruening commented on #104
Do you see "white ghosts"? Repositories that are not installed, just white and doubled?
If so you can purge such repositories.

[2015-04-15 18:38] lparsons commented on #104
That might happen, but more often I see two "Installed".  I believe this happens when "updating to latest revision", though it's been hard to keep track. I'm guessing this might be an issue here, but not sure.  I will try to do some tests and post results here, and perhaps a trello ticket if I can collect enough useful info on the issue.

[2015-04-15 18:41] bgruening commented on #104
@lparsons thanks this would help a lot!

[2015-04-15 19:04] lparsons commented on #104
Uninstalled macs2 and all copies of each dependency listed above. Restarted Galaxy server, browsed toolshed for macs2, clicked on install and got these dependencies listed (seems like they are old revisions?)
![image](https://cloud.githubusercontent.com/assets/645128/7167128/a5ecd980-e380-11e4-9c25-60817ac5edd1.png)

[2015-04-15 19:25] bgruening commented on #104
@lparsons how old is this Galaxy instance? This looks really old! I have reset the metadata can you please try again?

[2015-04-15 19:41] lparsons commented on #104
The instance has been running since about 2011, however, the software is at 'latest_2014.10.06'.

I have reset metadata quite a few times, I did it again.  Claimed sucessful on all but 2 repositories (though I couldn't find which ones in the paster.log).  Lots of lines like:

    galaxy.tools.data DEBUG 2015-04-15 15:37:15,169 Attempted to add fields (['LowMQ', 'LowMQ', 'LowMQ', 'UnifiedGenotyper,

[2015-04-15 19:44] bgruening commented on #104
Time to call for @davebx!

[2015-04-23 16:58] martenson commented on #104
@lparsons The `installed_changeset_revision` is the revision of the repo in the time of installation and should not be changing I think. We had similar issues on Test with other tools and @natefoo resolved them by manually correcting the changesets in shed_tool_conf.xml (https://github.com/galaxyproject/usegalaxy-playbook/commit/2892cd70f4666c0b1eb905b6a74813f296b9f039)
@blankenberg and @davebx an

[2015-04-23 17:26] lparsons commented on #104
@martenson Thanks for info, it helps to know it's not just me.

Any advice on what values to put in the shed_tool_conf.xml file?

As a general comment, it would be really nice to move things like shed_tool_conf.xml into the database entirely. I feel like having configuration info in both places is what leads to a lot of these issues. Has there been any work toward that?

[2015-04-23 20:29] erasche opened #110 "Flip on Travis for repository"
Okay, I screwed up here, and meant to open this as a PR, but then I committed to master and pushed before I checked my work. My bad, won't happen again. (Github *really* needs protected branches) That said, I push the `.travis.yml` file copied straight from tools-devteam, so...very little harm done.

Anyway, back on topic, since we're the IUC and love our standards SO much, we now have a `.travis.

[2015-04-23 20:43] jmchilton commented on #110
Just enabled this for both ``tools-iuc`` and ``tools-devteam``.

[2015-04-23 20:44] erasche commented on #110
Thanks!

[2015-04-23 20:44] #110 closed

[2015-04-24 14:25] erasche opened #113 "Travis Linted Problems"
- [x] /home/travis/build/galaxyproject/tools-iuc/tools/rgrnastar_240d/tool_dependencies.xml:10: element readme: Schemas validity error : Element 'readme': This element is not expected.
- [x] /home/travis/build/galaxyproject/tools-iuc/tools/tool_factory_2/tool_dependencies.xml:9: element readme: Schemas validity error : Element 'readme': This element is not expected.
- [x] /home/travis/build/galaxy

[2015-04-24 14:40] erasche commented on #113
Graphclust had some serious issues, I doubt it was ever valid.

@martenson you know what would be REALLY cool? If the toolshed could somehow run automated tests on demand. I.e. make the toolshed into a CI which could report back to github. (I'm not really serious, mostly joking, but it would be neat. I'd much rather see planemo support installing packages first, as that would let Jenkins handle in

[2015-04-24 17:11] erasche opened #118 "TPP Package issues"
https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_tpp_4_8_0/tool_dependencies.xml#L5 actions need to be in an `<action_group/>`. Thanks @jmchilton

[2015-04-24 18:53] #118 closed

[2015-04-24 18:54] #113 closed

[2015-04-24 19:10] #88 closed

[2015-04-29 13:14] peterjc opened #122 "R package for limma"
I noticed that I didn't finish nicely packaging this tool of mine (despite using it in published workflows):

* https://toolshed.g2.bx.psu.edu/view/peterjc/venn_list/
* https://testtoolshed.g2.bx.psu.edu/view/peterjc/venn_list/
* https://github.com/peterjc/pico_galaxy/tree/master/tools/venn_list

It needs the R package limma for plotting (and currently uses rpy too, which is another issue), which

[2015-04-29 15:46] natefoo commented on #104
@lparsons Completely agree about the duplication of information and the problems with them becoming out of sync. Unfortunately there hasn't been any work to this end. If there isn't already a Trello card to track it, one should be created.

If I recall correctly, I had to change `installed_changeset_revision` to the same changeset ID as the version originally installed on disk - it should match th

[2015-05-05 19:28] erasche opened #125 "Including MSA Formats in PR to Galaxy"
In the past comments seemed to suggest it is easier to deal with datatypes in galaxy than separately. (E.g. https://github.com/galaxyproject/galaxy/pull/148)

I need HMMER3 datatypes, so I'm going to open a PR shortly against Galaxy for including those. Would the IUC have any objections to having those included in the PR?

[2015-05-06 15:11] erasche commented on #37
Ping @bgruening @blankenberg would it be possible to get GEMIMI, snpsift, and snpeff test cases? Is there someone else who knows about these things who could write them?

We are really close to having everything under test. https://travis-ci.org/galaxyproject/tools-iuc/builds/61457586

[2015-05-06 15:12] erasche commented on #122
@peterjc sorry for delay, sure. I'll add it today.

[2015-05-06 15:13] erasche commented on #122
You need a specific version? If not I'm taking 3.9.9 from http://bioarchive.s3-website-us-east-1.amazonaws.com/limma/

[2015-05-06 15:15] erasche opened #128 "Move some download_store packages to BioArchive"
Now that @nitesh1989 has built http://bioarchive.github.io/, perhaps it's time to move `package_r_ggplot2`'s R packages to using bioarchive.

For those not familiar with bioaRchive, it's a dump of EVERY version of every package from Bioconductor

[2015-05-06 15:15] #125 closed

[2015-05-06 15:16] erasche commented on #122
@peterjc specific version of R you want the package tied to? (Ugh, I hate that we can't say package_r>2.15)

[2015-05-06 15:16] bgruening commented on #122
@peterjc can you use rpy2 instead? I know I have some working packages for rpy2 in the TS, used by https://github.com/bgruening/galaxytools/tree/master/tools/rpy_statistics_collection

[2015-05-06 15:20] bgruening commented on #128
Sure! @nitesh1989 let me know what to do.

[2015-05-06 15:23] bgruening commented on #37
Test cases and a updated version is needed :( I will have no time the next 2 weeks. Will see if I can do this afterwards.

[2015-05-06 15:23] erasche commented on #37
Okay, thanks for the timeline!

[2015-05-06 15:24] erasche commented on #128
Well... blocking on https://github.com/bioarchive/aRchive_source_code/issues/9 (unless @nitesh1989 has suggestions on how to download without .tar.gz files).

[2015-05-06 15:27] nitesh1989 commented on #128
@erasche @bgruening Adding code to tar.gz the files. I'll let you guys know as soon its done.

[2015-05-06 15:33] bgruening commented on #128
@nitesh1989 feel free to pull everything what you need from `download_store`

[2015-05-06 15:34] erasche commented on #128
@bgruening this is a de-novo archive generated from walking back through svn revisions, no `download_store` files needed :)

[2015-05-06 15:39] peterjc commented on #122
I think limma is pretty stable - at least for the Venn diagrams I am not aware of any version specific changes. So anything really.

Regarding rpy/rpy2, yes, I'm aware ``venn_list`` would need updating at some point - its just a case finding time to do it.

[2015-05-06 15:42] erasche commented on #122
@peterjc pushed some WIP, waiting on bioarchive/aRchive_source_code#9

[2015-05-06 15:43] peterjc commented on #122
Thanks :)

[2015-05-06 19:59] erasche opened #129 "Automatically pushing of repos to MTS"
According to @martenson, the MTS is now running 15.05, so I'd like to open discussion as to pushing to the MTS.

- [ ] galaxyproject/planemo#71
- [x] galaxyproject/planemo#225

Points for discussion

- What bugs do we need to solve before we can turn that on?
  - Is this creating extraneous installable revisions?
  - Is this polluting the TS?
  - Do I need to implement galaxyproject/planemo#71 to

[2015-05-06 20:04] jmchilton commented on #129
As a precursor to this - can you add ``--check_diff`` as part of ``shed_upload`` that you do for the test tool shed? This *should* prevent the creation of extraneous install-able revisions.

[2015-05-06 20:05] martenson commented on #129
@jmchilton nice feature!

[2015-05-13 22:19] erasche opened #140 "JBrowse tool should support WebApollo IE for visualization"
Just an note-to-self issue.

This is the step I was missing, how do JBrowse and WebApollo work together in Galaxy/Workflows/etc. With a JBrowse step, data is set up, tracks.conf/trackList.json is populated...a WebApollo IE could easily take advantage of that pre-processed data.

[2015-05-18 17:11] erasche commented on #129
This will be a thing soon, and I'll make sure it's part of the upload process. If the above functions, would all of the IUC be okay with automated pushing to MTS?

[2015-05-19 18:55] erasche commented on #129
Y'all, I've had two requests in the past couple of days for packages where someone tracked me down as the last committer on a package wondering why it wasn't on the MTS.

Running a quick test of what's in the MTS vs our github...It would appear that we're missing a non-insignificant number of packages on the MTS: a full **68/194** packages weren't on the MTS. I'm pushing those manually now.

[2015-05-19 18:59] bgruening commented on #129
@erasche let me now the list of packages and I can help

[2015-05-19 19:05] erasche commented on #129
@bgruening when I said "by hand" I mean "in a for loop" but thanks :) Thankfully since the TS is running 15.05 we can use the `--force_repository_creation` and it all runs very smoothly.

There were some bugs which need fixing though! @jmchilton can we consider more adding description to https://github.com/galaxyproject/planemo/issues/107 ?

[code]

[2015-05-19 19:08] bgruening commented on #129
That's one reason it's not good to push everything ;)

[2015-05-19 19:11] erasche commented on #122
@peterjc okay, aRchive is ready for use now. All you need to do is in your tool_dependencies.xml file:

[code]

And just use packages from http://bioarchive.s3.amazonaws.com/ in the future. You'll need to do manual dependency resolution for the moment, I believe @nitesh1989 is working on a tool to figure out the whole proper R dependency chain.

[2015-05-19 19:12] erasche commented on #129
Much appreciated! Feel free to push them whenever you're done with updates

[2015-05-19 19:13] bgruening commented on #122
@nitesh1989 you might want to look at: https://github.com/bgruening/notebooks/tree/master/R

[2015-05-19 19:22] nitesh1989 commented on #122
Cheers @bgruening @erasche

[2015-05-19 19:28] bgruening commented on #122
@nitesh1989 seriously, with this script it should be possible to generate a complete `tool_dependency.xml` file. This would be a really nice feature to of aRchive! Let me know if you need help with this.

[2015-05-19 21:34] nsoranzo commented on #129
I think that before enabling the automatical push of repos to the MTS we need a way to specify that a directory is in a WIP state, so that the repo is not updated by the bot.

A neat way to do this may be adding a new field to .shed.yml specifying the list of toolsheds to which the repository should be pushed.

[2015-05-19 22:05] erasche commented on #129
@nsoranzo my way of specifying something is WIP is just by not having it in the master branch. If it's in master, it's assumed to be ready to be published.

[2015-05-19 22:11] erasche commented on #122
@bgruening we should finish up either a webservice/docker commands/etc in order to provide planemo with a "dependencies_init" command of some sort.

[2015-05-20 15:30] nsoranzo opened #146 "package_samtools_1_2 should include tabix and bgzip"
According to http://www.htslib.org/download/ , the bgzip, htsfile, and tabix utilities are now provided by HTSlib, but they can also be installed from a samtools or bcftools source package.

These are the command needed:

[code]

Then `package_tabix_0_2_6` can be deprecated and substituted by `package_samtools_1_2` where needed.

[2015-05-20 16:07] nsoranzo commented on #129
@erasche Sorry, bad wording on my part! I mean that if you deem a repository in a good shape for automatic push to the TTS but not to the MTS, there is no way to specify this (unless we create a specific branch for TTS-only pushes).

A nice feature of having a list of toolsheds in `.shed.yml` is that it would be possible (for other git repositories) to add domain-specific toolsheds or even interna

[2015-05-20 16:13] erasche commented on #129
@nsoranzo hmmm, would you support something like the following then?

- master branch = OK for MTS, TTS
- dev branch = OK for TTS
- other branches/PRs should be merged into dev

I don't disagree that having a feature like that would be nice though :)

[2015-05-20 16:39] bgruening commented on #129
@erasche I think we need some mechanism to blacklist repositories from being pushed to the TS. I have a few example repositories to demonstrate how to use `setup_ruby_environment` and friends. These and others that are not actively used should not be part of the TS, imho.

[2015-05-20 16:40] erasche commented on #129
@bgruening example folders...so you mean things that could be gists or embedded into the documentation?

I agree that they shouldn't be part of the TS

[2015-05-20 16:45] bgruening commented on #129
See here for example: https://github.com/galaxyproject/tools-iuc/tree/master/test_repositories

[2015-05-20 16:47] erasche commented on #129
@bgruening but that's all documentation! I don't believe that that belongs in this repository, or any.

[2015-05-20 16:57] jmchilton commented on #129
I'll implement a conditional switch for for testing/dev repositoris in planemo very soon.

[2015-05-20 16:59] erasche commented on #129
@jmchilton you might implement it per @nsoranzo's suggestion, with the ability to specify TS urls. It'd be nice to be able to re-use the build/deploy scripts locally for pushing to our TS.

[2015-05-20 17:00] erasche commented on #129
I'm not against such an option, I just think this is something that has an existing analogue in master/dev branches, and we can leverage those and existing coder conventions to deliniate which tools should be in the MTS, and which in the TTS.

[2015-05-20 17:14] bgruening commented on #129
@erasche imho the IUC repository is to a large degree documentation. Moreover, these repositories had and probably still have the purpose of testing installation recipes.

[2015-05-20 17:21] erasche commented on #129
@bgruening IMHO that needs to be corrected. Documentation belongs in galaxy's docs folder, or the standards repo. If they're test cases for installation recipes, then they should be in a test folder+test case of Galaxy.

However, the majority opinion is yours'/nicola's, that it would be easiest/best to list TSs that it's OK to push to; I'll be fine with that, I just have very strong opinions about

[2015-05-20 17:52] nsoranzo commented on #129
Related questions: what about commits fixing whitespaces or the order of XML elements? Do we want to automatically push also these?
Creating many new repository revisions on the MTS obviously increases the workload on Galaxy admins.

[2015-05-20 17:54] erasche commented on #129
Good question! I'm in favour of pushing those.

- now that Travis and Jenkins test everything, there shouldn't be too many more times when un-linted code makes it into master
- we could keep better changelogs in readmes, which would help admins determine whether or not to update
- galaxy should eventually auto-update, which would make this point moot.

[2015-05-21 14:14] erasche commented on #122
#147 ready.

[2015-05-21 14:35] nsoranzo opened #148 "bedtools mapBed.xml tool is invalid"
After latest push to the MTS, https://toolshed.g2.bx.psu.edu/view/iuc/bedtools/457b09031d57 reports that mapBed.xml is invalid:

`This file requires an entry for "'input'" in the tool_data_table_conf.xml file. Upload a file named tool_data_table_conf.xml.sample to the repository that includes the required entry to correct this error.`

which does not make much sense for me.

[2015-05-22 10:30] nsoranzo commented on #148
Unfortunately PR #150 fixed mapBed.xml , but broke mergeBed.xml . From https://testtoolshed.g2.bx.psu.edu/repository?repository_id=7f940896abcf000c&changeset_revision=bdb4509d9482 :

`This file requires an entry for "'inputA'" in the tool_data_table_conf.xml file. Upload a file named tool_data_table_conf.xml.sample to the repository that includes the required entry to correct this error.`

[2015-05-22 13:52] yhoogstrate commented on #122
line 4:   <repository name="package_r_3_1_2" owner="devteam" ...
line 11:   <repository name="package_r_3_1_2" owner="iuc">

I think the owner at line 4 should by iuc as well?

When I tried installing edgeR via this limma installation on a local Galaxy installation, some functions seem to be missing:

camera
contrastAsCoef
goana
subsetListOfArrays
tricubeMovingAverage

[2015-05-22 16:23] erasche commented on #122
Confirmed as an issue. CC @nitesh1989

[code]

[2015-05-22 16:25] erasche commented on #122
[code]

edgeR obviously expects some functions/objects from limma but they just aren't there!

[2015-05-22 16:31] erasche commented on #122
@yhoogstrate okay, this was an out-of-date limma issue. Upgrading to limma_3.25.3.tar.gz fixes this.

[2015-05-22 17:50] nitesh1989 commented on #122
@erasche Is this solved? And is edgeR_3.9.9.tar.gz coming from aRchive?

[2015-05-22 17:55] erasche commented on #122
@nitesh1989 yep, everything is good!

fre. 22. mai 2015 kl. 12.50 skrev Nitesh Turaga <notifications@github.com>:

[2015-05-22 17:56] nitesh1989 commented on #122
Very cool. Happy its of use!

[2015-05-23 10:06] bgruening commented on #148
True, thanks for reporting. It seems that neither `planemo l` and `planemo t` catches these kind of errors.

[2015-05-23 15:16] bgruening commented on #148
@nsoranzo next try #148
I have removed the macro and using yield now to manually adopt for the correct input value.

[2015-05-23 15:27] #122 closed

[2015-05-24 19:29] nsoranzo commented on #148
@bgruening The commit LGTM, can you open a PR?

[2015-05-24 19:33] bgruening commented on #148
@nsoranzo https://github.com/galaxyproject/tools-iuc/pull/161 Thanks for reviewing!

[2015-05-26 19:21] erasche opened #165 "Possible Perl installation issue"
[code]

During testing installation from TTS.

[2015-05-26 19:23] erasche commented on #165
[code]

[2015-05-26 19:26] erasche commented on #165
CC @bgruening

[2015-05-28 12:17] bgruening opened #168 "python packages have no ssl support currently"
I have some problems with our python packages, and probably all packages that are linking to the openssl package. Currently, the openssl package does not include any certificates which makes it useless for https transfers etc.

Building bx-python, which depends on python-2.7, will fail because it is not able to fetch some library via https.

We need to add somehow certificates to the openssl packa

[2015-05-28 14:05] erasche commented on #168
If you need certs, then I am +1 on removing the ssl dependency.

I trust the OS to revoke certs and update SSL in a timely manner. The IUC
simply cannot keep on top of this, as proven by our inability to keep
packages up to date on the MTS. I don't want to be adding one more thing
that *must* be regularly updated.

Especially considering that we'll be triggering new installable revisions
that requ

[2015-05-28 14:12] peterjc commented on #168
I've previously commented on #76 that I think we should just insist that every Galaxy Administrator install OpenSSL as a general prerequisite - ideally via their OS packaging system which will keep it up to date.

i.e. Yes, let's get rid of SSL in the TS.

[2015-05-28 14:36] bgruening commented on #168
Great, thanks for your comments. I will wait for @natefoo to comment, he was in favour of keeping it.

[2015-05-28 15:44] nsoranzo commented on #148
Fixed by #161 and uploaded to the MTS.

[2015-05-28 15:44] #148 closed

[2015-05-29 15:00] erasche commented on #77
@bgruening so #171 will fix the problem that libGD wasn't being sourced during the build process?

[2015-05-29 15:09] bgruening commented on #77
Yes, can we put the gd-perl into download_store? And all other perl libs as well?

[2015-05-29 15:11] erasche commented on #77
Yeah, since docker-build is moving too slowly/no migration path to being on depot.... let's keep using download store.

[2015-05-29 15:11] erasche commented on #77
Sorry @bgruening I'll get this wrapped up today if I can.

[2015-05-29 18:22] erasche commented on #77
Well, we're closer at least.

[code]

[2015-05-29 18:24] bgruening commented on #77
@erasche I have a PR for the gdlib package in devteams repository. This fixes this error.

[2015-05-29 18:26] erasche commented on #77
@bgruening https://github.com/galaxyproject/tools-devteam/commit/940162827b7c87945312b3350c7892a1f236477c wow didn't realise it'd be that simple. Thanks!

[2015-05-29 18:31] erasche commented on #77
https://github.com/galaxyproject/tools-devteam/pull/143

[2015-06-01 21:38] blankenberg opened #175 "package_fatotwobit_35x1 has bad download links"
File: https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_fatotwobit_35x1/tool_dependencies.xml

refers to https://github.com/bgruening/download_store/raw/master/ucsc/...., which does not exist.

Is in the MTS at https://toolshed.g2.bx.psu.edu/view/iuc/package_fatotwobit_35x1

Was going to use for devteam's twobit data manager.

[2015-06-01 21:43] peterjc commented on #175
FAO @bgruening

[2015-06-02 01:12] bgruening commented on #175
@blankenberg Urg, sorry. Some one from the dev team pointed out that I was not allowed to redistribute binaries for legal issues.

Nevertheless, we now build our own with docker-build: https://github.com/galaxyproject/docker-build/tree/master/ucsc

If you can convince @natefoo to upload all binaries into the depot, than I can update the tool dependencies.

[2015-06-02 14:08] peterjc commented on #129
@erasche's arguments on having a mapping from branch names to tool sheds is interesting - but I think it should be configurable (e.g. I might want to use ``master`` and ``stable``, or ``master`` and ``release``).

On the other hand, I strongly favour keeping documentation for tools in a repository in that same repository, otherwise it is all to easy to let it fall out of sync.

[2015-06-02 14:13] erasche commented on #129
@peterjc I've conceded the point, we'll just use something like galaxyproject/planemo#166 and that'll make people happy.

I'm likewise strongly in favour of keeping documentation in repo, but in the correct repo. I still believe that everything in the test_repositories folder is galaxyproject/galaxy docs folder (or wiki) type documentation and not something that belongs in a tool git repo. I'd be

[2015-06-02 14:17] erasche commented on #129
@peterjc - in that unused proposition, the configurability for branches would come in in your jenkins instance, just set it up to run TTS upload/MTS upload on whichever branches you want. It wouldn't be part of planemo/the repo itself.

[2015-06-04 15:40] natefoo commented on #168
I'm not going to be the roadblock, +1 for dropping. =)

However, could we discuss the idea of adding requirements meta-tags that can imply something like "requires OpenSSL (and not just the runtime, we need the headers too)". That way, down the line, if granted permission by the Galaxy admin, Galaxy could `sudo apt-get install openssl-dev` / `sudo yum install openssl-devel` / etc. prior to attempt

[2015-06-04 15:51] nitesh1989 commented on #175
@natefoo Since, i'm new to this why can't we get the dependencies on the depot?

[2015-06-04 15:54] blankenberg commented on #175
@nitesh1989 this should be resolved pretty soonish @bgruening and @natefoo are on it :)

[2015-06-04 15:55] nitesh1989 commented on #175
Awesome!

[2015-06-04 16:26] erasche commented on #168
Maybe a requirement like

[code]

that could be shown to an admin?

[2015-06-04 17:23] nsoranzo commented on #175
What about using the new `package_ucsc_tools_312` in the dependent packages and deprecate this?

[2015-06-04 17:34] bgruening commented on #175
Yes, this is the idea I guess.
What about if I copy and paste the content of `package_ucsc_tools_312` into this package as well to make it functional again.

[2015-06-04 17:48] natefoo commented on #168
Maybe just:

[code]

And then somewhere in some new structured data file we have:

[code]

Of course, this will fail if you are using binaries compiled against OpenSSL >= 1.0 and you are installing on a system with 0.9, or vice versa, since the so's are named differently.

[2015-06-04 17:50] natefoo commented on #175
@bgruening Yeah, that effectively makes it a transitional package to `package_ucsc_tools_312`. Perhaps the new tools package should just become a dependency of this package?

[2015-06-04 17:52] bgruening commented on #175
@natefoo do you know how to do so? I need to define a new package (`package_ucsc_tools_312`) but this needs to have the same name and version than `package_fatotwobit_35x1`. Is this possible?

[2015-06-04 17:56] natefoo commented on #175
@bgruening Would a repository dependency from `package_fatotwobit_35x1` to `package_ucsc_tools_312` work?

[2015-06-04 17:58] bgruening commented on #175
Afaik you can not put a repository dependency into a tool_dependency repository. Any the tool needs to <require> the package name and the version which is only given by a tool dependency.

[2015-06-04 18:02] natefoo commented on #175
D'oh, you are right. Okay, then I don't have any good ideas.

[2015-06-04 18:07] erasche commented on #168
@natefoo even better. Maybe we would end up noting things like a specific version in the requirement description field.

[2015-06-05 09:01] matthdsm opened #183 "update gemini version for compatibilty with output from bcbio"
Hi,

I am trying to load a gemini database generated by the bcbio pipeline (developed by @chapmanb). I uploaded the generated database into a data library, but when I go to the gemini tools the uploaded db is not shown in the options.
Included in bcbio is the latest version of GEMINI (0.15.1), but the galaxy tools only supports v0.10.0.
Any ideas on how to modify de database/tool/galaxy so I can i

[2015-06-12 15:20] mvdbeek opened #190 "Binary version of atlas fails on recent gcc versions"
When installing a tool that requires scipy, numpy and atlas get installed.
When running a 64bit linux system, a precompiled version of atlas will be downloaded
from https://depot.galaxyproject.org/package/linux/x86_64/atlas/atlas-3.10.2-Linux-x86_64.tar.gz,
but when importing scipy on recent versions, this results in
[code]
My guess here is that atlas compiled on a different gcc version will just

[2015-06-12 16:53] bgruening commented on #190
I know that @natefoo tried hard to make the gfortran compiler happy. Hopefully, he can help us here.

[2015-06-16 15:10] natefoo commented on #190
Yeah, it looks like compiling with a newer gfortran and using the older bundled libgfortran is not going to work.

Out of curiosity, if you move `/home/galaxy/tool_dependency/atlas/3.10.2/iuc/package_atlas_3_10/4778b172b895/lib/libgfortran.so.3` out of the way, does everything work?

[2015-06-16 15:40] mvdbeek commented on #190
Yes, it does work when deleting the file!

[2015-06-18 20:28] kaktus42 opened #194 "GATK update to 3.4"
What do you think about updating?
There are a lot of improvements.
Someone already worked on this? Because I just started and didn't want to reinvent the wheel.
Also I'm not sure how thorough I can do it in the time window I have.

[2015-06-18 20:47] bgruening commented on #194
Afaik, nobody of us is working on it. GATK licensing is not ideal and we have worked recently on other tools. If you want to help here this would be awesome! GAKT3 is now also matured enough I guess and the Best practise guide is not changing so much anymore.

I think we need a new datatype to support `.g.vcf` files.
Moreover, we implemented together with the GATK team a JSON descriptions of all p

[2015-06-18 23:46] kaktus42 commented on #194
I found that in the gatk, a new bai is always generated when a gatk tool is started. This creates quite an overhead. Isn't there a better solution?
I guess this goes back to the datatype 'bam'. Where is the bai stored? How can it be accessed?
More on this also on the mailinglist "BAM datatype - bam & bai"

[2015-06-18 23:51] erasche commented on #194
https://github.com/galaxyproject/tools-iuc/blob/0887009a23d176b21536c9fd8a18c4fecc417d4f/tools/bedtools/multiCov.xml see L12 of that file.

[2015-06-19 00:08] kaktus42 commented on #194
Ay. Perfect. Like a charm. That helps to tackle the issue I mentioned. :+1:

[2015-06-23 21:14] lparsons commented on #104
After lots of uninstalling, restarting, and finally, a whole lot of setting status to "New" and using "Purge" I was able to get MACS2 working. I'm concerned that other things are broken now, but at least there was some progress. Currently stuck on getting package_htseq_0_6 to install (fails for find the matplotlib install and complains that numpy is not installed).

[2015-06-25 13:50] lparsons commented on #146
Any chance of getting this pushed out to the toolshed soon? I'd very much like to address galaxyproject/tools-devteam#111 but that is waiting on this.

[2015-06-25 15:02] natefoo commented on #190
So unfortunately I am not sure of a good solution for this problem. We could stop bundling libgfortran, but that would require that people have gfortran installed on their Galaxy cluster nodes, which will often not be the case and not be fixable by the Galaxy administrator for centrally controlled clusters.

[2015-06-25 15:05] bgruening commented on #190
@natefoo can we detect libgfortran with some bash magic and copy the binary only if there is not libgfortran?

[2015-06-25 15:06] natefoo commented on #190
That'd work for the Galaxy server, but the Galaxy server is going to need to have gfortran installed to install scipy anyway.

[2015-06-25 15:22] bgruening commented on #190
@natefoo mh ... in this case we could always copy the `libgfortran.so` from the system into the `tool_deps` directory?

[2015-06-25 18:26] erasche commented on #146
@lparsons the blocking issue there was that we don't have a docker-build version of samtools 1.2 and no one has invested the time in that.

https://github.com/galaxyproject/tools-iuc/pull/155

[2015-06-25 19:25] natefoo commented on #190
@bgruening I am not sure if that will work in all cases, but it will probably be better than the current situation.

[2015-06-26 07:15] bgruening commented on #190
Please share your doubts. We need to fix this :) Otherwise, we need atlas on all nodes.
Thanks @natefoo!

[2015-06-26 13:43] matthdsm commented on #194
Hi all,

I too am interested in an updated version of the GATK wrappers. Any idea if there is time/motivation to write an update from your side?
Where can I find the before mentioned JSON description for the programs and is there any code already in place for the automated wrapper generation?

[2015-06-26 16:01] kaktus42 commented on #194
@matthdsm I'm currently working on the new GATK.
You can find it here: https://github.com/kaktus42/galaxytools/tree/master/tools/gatk

I have implemented so far:
* RealignerTargetCreator
* IndelRealigner

[2015-06-26 19:38] natefoo commented on #190
I guess the concern is that the system version of libgfortran will be incompatible with the libatlas/libcblas/liblapack that are part of the atlas package. Although hopefully it'd only be true if libgfortran is *older* than the one on the build platform, which, being squeeze, is pretty ancient.

If we want to be really smart we could install the system one *only* if it's newer than the bundled one

[2015-06-26 19:41] bgruening commented on #190
You are really smart :)

[2015-07-06 14:35] peterjc opened #204 "FASTQ quality shifting in seqtk seq etc"
``tools/seqtk/seqtk_seq.xml`` contains:

[code]

I think this ``-V`` option should not be a user facing parameter, but automatic when using the ``fastqillumina`` file format.

See also https://github.com/galaxyproject/planemo/issues/252 where this is used in the planemo documentation.

[2015-07-06 17:22] erasche commented on #204
@peterjc you're absolutely correct!

[2015-07-07 10:52] erasche opened #205 "package_perl_5_18 may be using user home"
I got an error for bad perms on `~/.cpanm` (only noticed because I'd lazily `sudo cpanm ...` the other day, which screwed up permissions), so I'm guessing cpanm is trying to go into a user home.

[2015-07-07 10:54] erasche commented on #205
[code]

ugghhhh, still seeing this.

[2015-07-11 17:40] #190 closed

[2015-07-17 18:17] erasche opened #212 "Missing downloads"
# Scope

Since I started this PR the scope has expanded.

- [x] work in #213
- [x] merging #208
- [x] ALL SF downloads are broken (uggghhhh SF)
- [ ] Move R packages to MRAN
- [x] Store CPAN packages in the download store

## Other Tasks

Done | Owner | URLs/Packages
--- | --- | ---
 x | @bgruening  | https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_chemfp_1_1/tool_dependenc

[2015-07-17 18:23] erasche commented on #212
everything in package_gfclient_35x1

[2015-07-17 18:39] yhoogstrate commented on #212
https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_monocle_1_0_0/tool_dependencies.xml

[2015-07-17 18:39] erasche commented on #212
oh jeez, yeah, no surprise there. Thanks @yhoogstrate

[2015-07-17 18:40] erasche commented on #212
(I'm working my way through adding sha256sums to all packages in the IUC repo

[2015-07-17 18:43] erasche commented on #212
TODO: switch to https://mran.revolutionanalytics.com/documents/rro/reproducibility/ for standard R package archives. They're mirrors by date. https://mran.revolutionanalytics.com/snapshot/

[2015-07-17 18:51] yhoogstrate commented on #212
Maybe we can somehow link this issue to PR https://github.com/galaxyproject/tools-iuc/pull/208 because they both focus on URL checking. Anyway, I found those guys:

packages/package_perl_xml_parser_expat_2_41/tool_dependencies.xml	http://search.cpan.org/CPAN/authors/id/E/ET/ETHER/URI-1.65.tar.gz

packages/package_homer_4_2/tool_dependencies.xml
http://biowhat.ucsd.edu/homer/homer.v4.2.zip

package

[2015-07-17 18:51] erasche commented on #212
@yhoogstrate yes, definitely. Sorry, didn't notice that that was still open. Will get that merged.

[2015-07-17 18:52] yhoogstrate commented on #212
I want them to be automatically tested by planemo first. Is that already possible via github or should I do it manually?

[2015-07-17 18:52] erasche commented on #212
automatically tested? Like complete package installation?

[2015-07-17 18:53] yhoogstrate commented on #212
Yep.. if that's possible?

[2015-07-17 18:54] erasche commented on #212
It should be? You might create a temporary toolshed, and then run this: http://planemo.readthedocs.org/en/latest/commands.html#shed-test-command

[2015-07-17 18:55] erasche commented on #212
There should be a docker galaxy toolshed around somewhere by the way. If you get a command worked out, we'll add it as part of the test procedure.

[2015-07-17 18:58] erasche commented on #212
@yhoogstrate do you mind if I merge your URL PR into this one and combine them? I'll also be fixing missing URLs/changing R packages to MRAN which are dated.

[2015-07-17 19:06] yhoogstrate commented on #212
Of course I don't mind!

[2015-07-21 15:53] lparsons opened #215 "package_openssl download URL is broken"
The URL https://www.openssl.org/source/old/1.0.2/openssl-1.0.2a.tar.gz no longer works.

Perhaps this would be a more stable alternative: https://www.openssl.org/source/old/1.0.2/openssl-1.0.2a.tar.gz

However, perhaps this should be updated to a more recent version? https://www.openssl.org/source/openssl-1.0.2d.tar.gz

[2015-07-21 15:55] erasche commented on #215
Will add to #213

[2015-07-22 07:47] yhoogstrate commented on #215
If I remember correctly, this package has had the same problem before, and will have it probably again.

A patch is good, but manually patching the URLs is not a sustainable solution I think.

There was some discussion about openssl here: https://github.com/galaxyproject/tools-iuc/issues/168

[2015-07-22 08:21] yhoogstrate commented on #33
CrossMap (http://www.ncbi.nlm.nih.gov/pubmed/24351709) is a free (GPLv2) tool similar to liftover from UCSC, but supports more file formats, including VCF.

The url to the sourcecode given in the article is not available anymore, but is available at: http://sourceforge.net/projects/crossmap/files/

[2015-07-22 17:42] bgruening commented on #175
This was fixed in https://github.com/galaxyproject/tools-iuc/commit/71b21c57cc781e5a623d2550d4f704521e06d5be Can we close it?

[2015-07-22 17:50] #175 closed

[2015-07-23 17:05] lparsons opened #219 "package_bowtie2_2_2_5 binaries don't work on CentOS5"
Attempting to execute `bowtie2-align-s` results in the following errors:

[code]

[2015-07-23 17:09] erasche commented on #219
`:|`

Ping @natefoo @davebx https://github.com/galaxyproject/docker-build/tree/master/bowtie2

[2015-07-23 17:10] lparsons commented on #219
BTW: The compiled version downloaded directly from http://sourceforge.net/projects/bowtie-bio/files/bowtie2/2.2.5/bowtie2-2.2.5-linux-x86_64.zip/download seems to work OK.

[2015-07-23 17:59] lparsons opened #220 "package_tophat_2_0_14 binaries don't work on CentOS5"
[code]

Same issues as #219 for bowtie2.

[2015-07-23 19:03] bgruening commented on #220
ping @natefoo

[2015-07-24 19:11] lparsons commented on #104
I'm still having issues with `numpy` and `libf77blas.so`, at least with `package_htseq_0_6`. It seems like the `env.sh` file for atlas is never sourced. I'm not sure when/where that is supposed to happen, but this is the command that gets generated:
[code]
None of those `env.sh` files actually attempt to source the atlas `env.sh` file. Is something wrong in my installs or does this work for other

[2015-07-24 19:34] lparsons commented on #104
OK, sorry for all the spam. I've tracked down the issue to problems during installation. When I install `package_numpy_1_7` the env.sh file is rather borked (and it's borked in a slightly different way each install). The paths are incomplete and partially duplicated. I'm reluctant to file a bug until I can track this down a bit better, but can someone point me to relevant code so I can try and tra

[2015-07-24 19:41] lparsons opened #221 "package_htseq_0_6 doesn't set LD_LIBRARY_PATH for Atlas"
The package requires numpy, and does seem to set the numpy path correctly, but does not ever set `LD_LIBRARY_PATH` which means that atlas is not found (see #104). It seems rather onerous to require packages that need numpy to remember to set the `LD_LIBRARY_PATH` explicitly (or any path for that matter), is this how it's supposed to work?

[2015-07-24 19:47] bgruening commented on #221
@lparsons can you check if this solves your problem. https://github.com/galaxyproject/galaxy/pull/403/files
It took us a while to track this down, but at least for me it fixes this issue.

[2015-07-24 19:53] gregvonkuster commented on #104
Hi Lance,

I believe this behavior may have been fixed in this pull request:

https://github.com/galaxyproject/galaxy/pull/403 <https://github.com/galaxyproject/galaxy/pull/403>

I think this fix is still in the dev branch though.  What version are you running?

Greg

[2015-07-24 19:54] lparsons commented on #221
@bgruening Sure, I've applied that change and restarted. Now I suppose I need to uninstall and reinstall some things? Which should I uninstall and reinstall?

[2015-07-24 19:55] bgruening commented on #221
Yes you do :( Sorry. Begin with the child of the dependency tree ... atlas, numpy, ... sorry.

[2015-07-24 19:56] bgruening commented on #104
@gregvonkuster is back!
Discussion moved to: https://github.com/galaxyproject/tools-iuc/issues/221#issuecomment-124686365

[2015-07-24 19:59] gregvonkuster commented on #221
I’ve found that in some cases I’ve needed the following chang to the package_atlas_3_10 recipe.  I have not submitted a pull request for the patch because I’m still in the process of ironing out my recipes and (until now) I was not aware of anyone else bumping into this issue, so I figured it may just be “me doing something wrong”.

diff --git a/packages/package_atlas_3_10/tool_dependencies.xml b/

[2015-07-24 20:04] lparsons commented on #221
Hmmm, I was hoping that galaxyproject/galaxy#403 would negate the need for explicitly setting the LD_LIBRARY_PATH in every package that uses numpy. It seems wrong that I can't just require a dependency and get the proper environment set...

[2015-07-24 20:06] bgruening commented on #221
Does this work? I thought `shell_command` is atomic and does not influence other commands. like `cd /some/dir` will not change dir directory for all other commands.

[2015-07-24 20:07] lparsons commented on #221
Also, it seems like the toolshed is no longer running tests. Seems like that would have helped find this long ago in this case...

[2015-07-24 20:08] bgruening commented on #221
You mean automatically set all `set_environment_for_install` for the current package? We discussed this afaik, but currently it is not implemented.

[2015-07-24 20:09] lparsons commented on #221
No, I mean source the `env.sh` file for the required package and all dependencies prior to tool execution.

[2015-07-24 20:12] lparsons commented on #221
That being said, things seem to be improved now after the patch. Still testing.

[2015-07-24 20:12] bgruening commented on #221
@lparsons True :( but this decision was above my pay grade

I guess this boils down to the same thing. You want to have all libraries that are needed at runtime in your env.sh file which you require in your tool.
Imho, this can be done by simply linking all env.sh files that are imported during `set_environment_for_install` into the package env.sh file. @gregvonkuster what do you think?

[2015-07-24 20:16] bgruening commented on #221
@gregvonkuster That being said, I don't mind to include this export. I don't think so many users running Galaxy and TS install under OS-X. So this can be likely a problem.

[2015-07-24 20:24] lparsons commented on #221
I don't mind including the export, however, I do think it's a bit much to ask tool developers to look at all of the dependencies of dependencies to figure out what things to include in the environment. Also, I'm **strongly** in favor of better continuous testing (under at least a couple of different systems). I've run into far too many errors that could have been caught with simple tests (and I've

[2015-07-24 20:27] bgruening commented on #221
@lparsons the idea is to have this tested by planemo really soon, afaik. So the test framework is only temporary disabled.

[2015-07-24 20:31] lparsons commented on #221
@bgruening Fantastic! Thanks for help. @gregvonkuster I'd like to make sure these issues are fixed, so if patches are needed to repos, please let me know ASAP so I can get things back into shape. Much appreciated.

[2015-07-24 20:32] bgruening commented on #221
@lparsons all the credit belongs to @gregvonkuster !

[2015-07-26 16:59] bgruening commented on #104
@lparsons is this fixed now?

[2015-07-27 11:57] gregvonkuster commented on #221
@bgruening @lparsons let's hold off on changing the atlas package for now.  After a bit more thought on this, I have a feeling the additional exports I needed were necessary only because I had not yet uncovered and fixed this https://github.com/galaxyproject/galaxy/pull/403 at the time I found them to be necessary.  I'm currently working on some fairly complex recipes that install numpy which requ

[2015-07-27 14:58] lparsons commented on #221
@gregvonkuster @bgruening I believe you are correct and the atlas exports are no longer necessary after the this fix in galaxyproject/galaxy#403. Thanks so much @gregvonkuster, I'm fairly sure this issue has been plaguing me for a long time... :smile:

[2015-07-27 17:54] lparsons commented on #104
I believe this is fixed by galaxyproject/galaxy#403, as mentioned in galaxyproject/tools-iuc#221

[2015-07-27 17:56] #104 closed

[2015-07-28 14:06] lparsons commented on #104
@bgruening @gregvonkuster Unfortunately, this does not appear to be fixed. I'm going to have to revert to the older versions of `htseq-count` that do not depend on the broken `package_htseq_0_6` and `package_numpy_1_7` packages for the time being.

[2015-07-28 14:07] lparsons commented on #221
@gregvonkuster @bgruening Unfortunately this issue is still present in my system. I'm going to have to revert to the older htseq-count for the time being.

[2015-07-28 14:14] bgruening commented on #104
@lparsons do you still see the $ENV vars unfolded?

[2015-07-28 14:25] lparsons commented on #104
The $ENV vars seems to be fixed. However, when package_htseq_0_6 requires numpy, the LD_LIBRARY_PATH is never set, which means that during execution, numpy is unable to find the atlas library.

I could think of a few of ways to fix this. The first suggested by @gregvonkuster involves exporting an environment var from ATLAS and using that for any package that requires numpy. While this would work,

[2015-07-28 14:40] gregvonkuster commented on #104
It's unclear why LD_LIBRARY_PATH is not properly set because the package_numpy_1_7 recipe defines an env.sh file that should be setting LD_LIBRARY_PATH with the following tags:

<environment_variable action="prepend_to" name="LD_LIBRARY_PATH">$ENV[ATLAS_LIB_DIR]</environment_variable>
<environment_variable action="prepend_to" name="LD_LIBRARY_PATH">$ENV[ATLAS_LIB_DIR]/atlas</environment_variable>

[2015-07-28 14:52] lparsons commented on #104
Perhaps I'm missing something, but I don't see anywhere that the package_numpy_1_7 env.sh is sourced when running the htseq-count tool. That tool has a dependency on samtools, pysam, and htseq: https://github.com/lparsons/galaxy_tools/blob/master/tools/htseq_count/tool_dependencies.xml

The env.sh files look correct to me once I applied your patch and reinstalled everything.

The `package_atlas_3_

[2015-07-28 15:18] gregvonkuster commented on #104
@lparsons @bgruening Ah, I was focused on installation, not tool runtime.  I'm not quite sure of the current status of the Galaxy framework for defining the environment at tool runtime with regard to handling all dependencies.  Sorry about my confusion on this!

[2015-07-28 15:31] lparsons commented on #104
@gregvonkuster @bgruening Any thoughts on a quick fix for this for at least the htseq-count tool? I'm thinking at the moment, I could just manually add the LD_LIBRARY_PATH lines into the package_htseq_0_6 env.sh file, but that won't fix it for anyone else.

Alternatively, I could add atlas as a dependency to the htseq-count tool itself (or more appropriately, the package_hteq_0_6 package, but I ca

[2015-07-28 17:26] bgruening commented on #104
Ok, we found a interim solution to depend on numpy to get all the ENV correct.

@gregvonkuster @blankenberg can you please comment on the idea to link every compile time dependency automatically (without specifying them in `set_environment`) to the env.sh file.
In the case of this issue we simple source `numpy` before sourcing `htseq`. And actually before `numpy` we are sourcing `atlas`. Does anyo

[2015-07-28 17:39] lparsons commented on #104
I second what @bgruening said, recursively sourcing dependency env.sh files at runtime would greatly simplify tool development. As it is now, any tool that requires `package_htseq_0_6` needs to know that it also needs to define a dependency on numpy 1.7.1 from `package_numpy_1_7` by `iuc`. See lparsons/galaxy_tools@23de2bdafad4d386cfe88724c0e6f93a70fdb84e

[2015-07-28 17:45] gregvonkuster commented on #104
@bgruening @blankenberg @lparsons  I think it would be good to provide the ability to source all necessary/required package env.sh files at tool run-time much like is currently done at package compile time.  Recursively sourcing env.sh files may be the simplest solution for this problem, but I cannot make the best call on this.

[2015-07-28 18:14] erasche commented on #215
Closing now that openssl has been removed as a TS dependency. Packages probably need to be re-pushed.

[2015-07-28 18:14] #215 closed

[2015-07-28 18:19] erasche commented on #204
@peterjc, I don't suppose you have an example of checking format that you could point me at? I don't see format documented on the cheetah section, and I've forgotten where I've seen examples of such checks before.

[2015-07-29 09:07] peterjc commented on #204
Not quite this use case, but I do some file-format specific Cheetah in the ``<configfile>`` tag for the MIRA4 wrapper:

* https://github.com/peterjc/pico_galaxy/blob/master/tools/mira4_assembler/mira4_de_novo.xml
* https://github.com/peterjc/pico_galaxy/blob/master/tools/mira4_assembler/mira4_mapping.xml

(MIRA itself works out the FASTQ flavour, so I don't have to tell it Sanger vs Illumina).

[2015-07-29 15:20] erasche commented on #204
Ah, brilliant, thanks!
29. jul. 2015 10.07 skrev "Peter Cock" <notifications@github.com>:

[2015-07-29 16:57] lparsons opened #229 "package_freetype_2_4: error downloading source"
I have gotten a connection refused or connection timed out error for the past few days attempting to install package_freetype_2_4 from the URL: http://downloads.sourceforge.net/project/freetype/freetype2/2.4.11/freetype-2.4.11.tar.bz2

[2015-07-29 17:04] nsoranzo commented on #229
The URL is correct, seems to be a SourceForge problem.

[2015-07-29 17:09] lparsons commented on #229
Ahh... SourceForge... :disappointed:

[2015-07-29 17:43] erasche commented on #229
I get a timeout, let's switch to http://download.savannah.gnu.org/releases/freetype/freetype-2.4.11.tar.bz2 since they have full archives of all downloads: http://download.savannah.gnu.org/releases/freetype/

[2015-07-29 18:38] #204 closed

[2015-08-02 19:55] #229 closed

[2015-08-02 19:58] bgruening commented on #220
ping @davebx. Can you please rebuild the binaries with the old debian stable? This should solve the problem.

[2015-08-02 20:00] bgruening commented on #168
@erasche @natefoo can we close this issue and move the requirement ideas into Trello?

[2015-08-02 20:11] bgruening commented on #128
Can we close this? I guess bioarchive will get a major redesign before we start the migration, isn't it?

[2015-08-02 20:12] bgruening commented on #96
@scholtalbers do you mind to create a PR for this?

[2015-08-02 20:13] bgruening commented on #77
@erasche what is the status here?

[2015-08-02 20:17] bgruening commented on #49
@scholtalbers @erasche can we close this issue?
@blankenberg is a migration to the TS planned?

[2015-08-02 20:54] #49 closed

[2015-08-02 20:54] erasche commented on #77
status is "stopped working on this in may and won't have time to work on it for a while"

[2015-08-02 20:55] #77 closed

[2015-08-02 20:55] erasche commented on #128
Most things have started moving that direction, happy to close this now.

[2015-08-02 20:55] #128 closed

[2015-08-02 20:55] erasche commented on #168
:+1:

[2015-08-03 20:40] lparsons commented on #229
Awaiting push to TS

[2015-08-03 20:45] bgruening commented on #229
Pushed!

[2015-08-03 20:54] lparsons commented on #229
Fixed!

[2015-08-03 20:57] bgruening commented on #229
Strike!

[2015-08-04 12:50] jmchilton opened #239 "IUC Tools & Collections Hackathon (Fall 2015)"
We are planning a remote hackathon on **September 17th and 18th** for Galaxy tool developers to work mainly on dataset collections.

Dataset collections enable MapReduce style workflows in Galaxy and have come a long way over the last year+. Several groups are using dataset collections and newer tools to express workflows of various degrees of complexity that were not possible in Galaxy before.

T

[2015-08-04 13:42] bgruening commented on #239
I made a few updates.
@jj-umn @iracooke Do you have time to join and work on proteomic tools?

[2015-08-04 13:43] erasche commented on #239
:+1: thanks for creating an issue to track this :)

[2015-08-10 15:00] jmchilton commented on #239
Going to send out an announcement to galaxy-dev to drum up support - anyone want to review before I send? I am signing it as IUC so someone from the IUC should probably actually review it :).  https://docs.google.com/document/d/1vXkITrzmZTDWFMDe8__JoqdaK6YBUXxqpbzglapEcqw/edit?usp=sharing

[2015-08-10 15:17] erasche commented on #239
@jmchilton awesome! So excited! :)

[2015-08-10 15:27] nitesh1989 commented on #239
@jmchilton I'm in on this too! Should be fun.

[2015-08-10 20:04] bgruening commented on #239
Perfect! Please send it as it is :)

[2015-08-10 20:09] jmchilton commented on #239
Sent - http://dev.list.galaxyproject.org/Remote-Hackathon-for-Tools-and-Dataset-Collections-td4667711.html.

[2015-08-10 20:40] afgane opened #243 "package_libcurl_7_35's openssl dependency won't install"
I see the 'missing dependencies' status for *package_libcurl_7_35*. Diving in, it seems *openssl* never got installed:
![screen shot 2015-08-10 at 4 33 59 pm](https://cloud.githubusercontent.com/assets/338642/9183599/26f9cdd6-3f7e-11e5-8171-fdc74e5440d9.png)

but then trying to install it, Galaxy responds with `Missing required tool dependency dir`: https://gist.github.com/anonymous/9389cb75ce25b5

[2015-08-10 20:42] erasche commented on #243
We removed the dependency on openssl [19 days ago](https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_libcurl_7_35/tool_dependencies.xml) but I'm guessing we need to re-push to the TS.

Does clicking openssl allow you to install and have a functional libcurl?

[2015-08-10 20:43] bgruening commented on #243
@afgane we are not supporting security related packages in the TS. We are requiring openssl to be installed via the package manager.

https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_libcurl_7_35/tool_dependencies.xml

It's not included anymore.

[2015-08-10 20:43] bgruening commented on #243
@erasche are you going to upload it?

[2015-08-10 20:45] erasche commented on #243
@bgruening yeah, I can. I'll get all of the SSL ones pushed to MTS.

[2015-08-10 20:46] bgruening commented on #243
Ok thanks!

[2015-08-10 20:47] afgane commented on #243
OK. So when do you think you'll upload the new version?

BTW, checking `openssl` box and clicking 'install' comes back with what's in the gist, which doesn't lead to functional libcurl.

[2015-08-10 20:47] erasche commented on #243
@afgane within the next 15 minutes or so.

[2015-08-10 20:48] erasche commented on #243
ah, sorry, missing that statement. OpenSSL is broken due to a removed package, so old versions will fail to compile.

[2015-08-10 20:48] afgane commented on #243
So super-quick - thanks!

[2015-08-10 20:55] erasche commented on #243
@afgane done.

- package_libcurl_7_35
- package_python_2_7
- package_python_3_4
- package_ruby_2_0
- package_ruby_2_1
- package_ruby_2_2

all updated with openssl-free versions.

[2015-08-10 20:55] #243 closed

[2015-08-10 21:08] martenson commented on #239
I am in, obviously.

[2015-08-10 21:29] afgane commented on #243
After some Reparing and reinstalling, everything is Installed. Thanks.

[2015-08-11 03:55] mr-c commented on #239
I'm in!

[2015-08-11 17:03] bgruening opened #244 "Should we adopt gigatoolshed tools?"
Hi,

I recently got a request to create a Docker Image with tools from the gigatoolshed and I saw there are lot of tools included that are not at the MTS. I was wondering if you should contact Peter from GigaScience and ask him to migrate these tools into MTS or submit to this repo for reviewing before?

This probably will mean more work to us, but it will make Tools more visible and maybe even be

[2015-08-11 17:07] martenson commented on #244
The question is whether they have people to maintain the tools. If they do I would support them having their own GH repo here. If they don't and the tools are of sufficient quality I would recommend IUC adopting it.

[2015-08-11 17:09] bgruening commented on #244
@martenson I would like to ask Peter, but only if the IUC agrees :)

[2015-08-11 19:27] erasche commented on #244
I'd +1 that :-)

tir. 11. aug. 2015, 18.09 skrev Björn Grüning <notifications@github.com>:

[2015-08-11 23:11] mr-c commented on #239
Can this be a contribution fest instead of a hackathon? I enjoyed Mozilla Science Lab's emphasis on only working what would be ones normal hours, no all nighters..

[2015-08-12 02:22] erasche commented on #239
+1 for wording. Most of us already work crazy enough hours and this is to
be friendly/happy/fun collections dev event.

tir. 11. aug. 2015 kl. 18.11 skrev Michael R. Crusoe <
notifications@github.com>:

[2015-08-12 12:34] jmchilton commented on #239
Hmm... I have lobbied repeatedly internally to change the hackathon wording for the GCC events. I think a reason to keep the unfortunate hackathon name for this event is to establish some sort of lineage or branding shared between the GCC events and these ones - so I am ``+ .5`` on this change.

@bgruening you first termed this a hackathon (https://github.com/galaxyproject/tools-devteam/issues/26#

[2015-08-12 13:27] bgruening commented on #239
I guess this is more a cultural thing. For me the word hackathon is associated with a lot of fun, productive work and a nice atmosphere. I would never expect that someone feels urged to participate (after or in normal working hours). People are free to choose and we do not emphasize anything here, at least this was not my attention. It's all about fun, learning and contributing to a project we all

[2015-08-12 16:24] mr-c commented on #239
I have lots of positive association with the GCC events I've been at. Alas
in the Bay area it has a quite different connotation. Easy compromise would
be to keep the name but be explicit in the description.

On Wed, Aug 12, 2015 at 6:27 AM Björn Grüning <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; Univ

[2015-08-18 16:34] erasche opened #250 "JBrowse v0.4"
- [x] take colour from qualifier
- [x] ensure scores are colouring features by default
- [x] configurable coding table
  - [x] implement on jbrowse side https://github.com/GMOD/jbrowse/pull/657
  - [x] add code to support in jbrowse.py
- [x] more debugging/logging info
- [x] store copy of intermediary conf file IN the output folder.
- [x] #346

[2015-08-18 19:03] bgruening opened #251 "adding $input.display_name"
`$input.display_name` should be used BEDtools annotate if no text label is given.

[2015-08-19 20:46] lparsons opened #252 "bedtools bamtobed with -bedpe option should not require name sorted bam files"
Currently, using the bedtools bamtobed tool on paired end data and specifying the bedpe option requires the user to supply a name sorted bam file. In Galaxy, this is not really doable since Galaxy requires BAM files to be sorted by chromosome location (see: galaxyproject/tools-devteam#210).

I would suggest implementing the sort within the tool and piping the result to bedtools. This eliminates th

[2015-08-19 21:26] bgruening commented on #252
@lparsons actually this is a Galaxy bug: https://github.com/galaxyproject/galaxy/pull/476
Galaxy was able to handle name sorted BAM files. Nevertheless, this suggestions seems reasonable and I would be willing to implement this. The only disadvantage is that we add a new dependency. Do you think this is worth it, given that Galaxy _can_ handle name sorted BAM files?

[2015-08-20 10:14] mvdbeek commented on #205
I can confirm this. Also, on a fresh install on osx yosemite I get:
[code]
I just made a PR for this PR #253 .
Eventually it would be nice to push it out to the toolshed quickly,
because none of the tools using perl-5.18.1 are installing successfully for me.

[2015-08-20 10:15] mvdbeek commented on #165
I guess this could also be fixed with PR #253

[2015-08-21 16:00] lparsons commented on #252
@bgruening Thanks for pointing to the Galaxy bug, hope that gets fixed soon.
The way I see it, implementing sorting in the tool makes the tool easier to use to end users and only slightly harder to install for admins, and somewhat harder to maintain for devs. The dependency would be samtools (which is almost certainly there already). Also, devs only touch this every so often, and admins only once

[2015-08-21 16:02] bgruening commented on #252
@lparsons I'm convienced, I will put this on my ToDo list for the next bedtools release, if this is ok for you!

+1 for gzipped fastq files or unmapped BAM files.

[2015-08-21 16:07] peterjc commented on #252
See also https://trello.com/c/3RkTDnIn/345-666-support-gzipped-gz-compressed-versions-of-standard-datatypes - but in the short term, gzipped Sanger FASTQ would be very popular and from past mailing list discussions several groups are using this already.

[2015-08-21 16:10] bgruening commented on #252
I guess we need to make this more sexy for the devteam. They probably have way to much storage capacity to care about this at the moment :wink:

[2015-08-21 16:12] lparsons commented on #252
I'd be extremely interested in any implementations (or just contacts for people using it). I'm also up for helping to "sell" this in any way that I can. I agree with @peterjc that gzipped Sanger FASTQ would be extremely useful, and worth doing (even if it's not quite as generalized). Especially if it was implemented in a way that would make the transition to generalized gzip support fairly easy.

[2015-08-21 16:14] bgruening commented on #252
ping @dpryan79

[2015-08-21 16:21] peterjc commented on #252
As I recall, the short-term hack some people are using was to simply define a new datatype (would have to find the emails) and modify key tools to accept this as an alternative to ``fastqsanger`` (with appropriate command line changes if needed - many tools auto-detect this).

For reference, the Galaxy team use a compressed file system so they don't need this. We're recently begun looking at that

[2015-08-21 17:42] dpryan79 commented on #252
@bgruening I vaguely remember some sort of datatype hack, as mentioned by @peterjc , but I did that within the first week of working with Galaxy and apparently never wrote down how :(

[2015-08-21 20:06] bcclaywell opened #254 "package_ruby_2_0 can't install from rubygems.org (SSL error)"
Trying to install `package_protk_1_4_2`, which depends on `package_ruby_2_0`, produced the following error:

[code]

It looks like [this problem](https://gist.github.com/luislavena/f064211759ee0f806c88), caused by an outdated version (in this case 2.0.14) of the RubyGems gem. I tried entering the `package_ruby_2_0` environment using `source env.sh` to upgrade RubyGems to 2.0.15 as suggested. Tryin

[2015-08-21 20:17] bgruening commented on #254
@bcclaywell can you check if your ruby version was compiled with ssl support?
Openssl is now a requirement for the Tool Shed. So you should have libopenssl installed.

[2015-08-21 21:05] bcclaywell commented on #254
@bgruening Yes, the box has openssl installed, and it looks like `package_ruby_2_0` compiled SSL support in:

[code]

It looks like something distributed with this version of Ruby depends on SSLv2 (long paths to Ruby in tool_deps directory omitted):

[code]

But [Ubuntu doesn't compile SSLv2 into their libopenssl](http://stackoverflow.com/a/13472755). I don't know why I'd be the first to run into

[2015-08-21 21:23] bgruening commented on #254
Not sure, I don't think so many Galaxy users using Galaxy+Ruby+Ubuntu. Could you try to newer ruby releases. Ruby2.1, 2.2?
There is also a newer Ruby2.0 version: ruby-2.0.0-p647 I think I will update this now.

[2015-08-21 21:27] bgruening commented on #254
Ok I updated the TTS: https://testtoolshed.g2.bx.psu.edu/view/iuc/package_ruby_2_0/b67c42c010df with a 3 days old ruby release :)

[2015-08-21 21:54] bcclaywell commented on #254
Thanks for the quick update! Just tested installing `package_protk_4_2`, which pulled in your new `package_ruby_2_0`, and received a different error:

[code]

Looks like openssl didn't get compiled in at all this time:
[code]

Does the new version of Ruby need an explicit compile-time flag to enable OpenSSL maybe?

[2015-08-22 10:42] bgruening commented on #254
I updated the the protk repository as well. Just for the record I'm using the Test Tool Shed and it works for me in a fresh Docker Image. Witch OS are you using?

[2015-08-22 18:35] erasche commented on #250
Hmm, how many options is too many?

![jbrowse-options](https://cloud.githubusercontent.com/assets/458683/9425348/96ac2b30-48d2-11e5-85b8-dbe462c5d119.png)

[2015-08-22 18:37] bgruening commented on #250
I don't think there is something like to much options. There is something like 'it's unusable and to distracting' but if you hide everything by default, I guess this is fine. Great stuff Eric!

[2015-08-22 18:40] erasche commented on #250
Yep, all hidden by default. Thanks for the feedback!

[2015-08-27 11:27] yhoogstrate opened #256 "Cython error: undefined symbol: PyUnicodeUCS4_DecodeUTF8"
I am wrapping a tool that makes use of Cython. I am using the package_cython_0_20_1 wrapper from IUC, and the package_python_2_7 wrapper from IUC. When I try to compile the tool, I crashes with the following error:

*failed to import Cython: .../galaxy/tool-dependencies/cython/0.20.1/iuc/package_cython_0_20_1/749f11b9358a/lib/python/Cython-0.20.1-py2.7-linux-x86_64.egg/Cython/Compiler/Scanning.so:

[2015-08-27 11:32] bgruening commented on #256
Hi @yhoogstrate  can you create a new cython package for version 0.23.1 and make it depend on `package_python_2_7`. So essentially the second solution you proposed but with a new cython version?

https://pypi.python.org/packages/source/C/Cython/Cython-0.23.1.tar.gz#md5=db3c5b365e1c3f71c7cd90e96473a3ab

Thanks!

[2015-08-27 11:36] yhoogstrate commented on #256
That is an elegant solution indeed.

[2015-08-27 17:27] pvanheus commented on #239
This sounds like a lot of fun - I'm currently in paper-grind mode but will be emerging for air in the nearish future. I've been working on wrappers for the OrthoMCL suite of tools - is anyone else interested in this? (We might switch to using FastOrtho for protein clustering but for now OrthoMCL is the "standard" that we need to wrap).

I prefer the term codefest to hackathon btw.

[2015-08-27 17:49] martenson commented on #239
We can call it keyboard-typing-time-together. :)

[2015-08-27 19:04] #256 closed

[2015-08-30 19:33] mr-c commented on #239
Has a date been picked?

[2015-08-31 23:36] tnabtaf commented on #239
+1 on what Michael just said.

[2015-09-01 15:21] jmchilton commented on #239
Sure, let's go with the tenative dates, I wanted to get the Canadians involved but they are busy all month. I'm out for a while, anyone willing to update the description here and add some language about working reasonable hours?

I say we call this one a hackathon, but I'll be sure to continue the discussion.

[2015-09-01 21:19] martenson commented on #239
@jmchilton I modified the first post with information from emails and some words about reasonable hours.

[2015-09-01 21:40] bcclaywell commented on #254
@bgruening My apologies for the delay -- was wearing a different hat last week. We're running Ubuntu 14.04, also in a Docker container. I thought maybe some package in the image was out of date or missing, so I just busted the cache and rebuilt the image from scratch, and just tested the install of package_ruby_2_0_0 again. During the Ruby build I saw the following scroll past:

[code]

I just che

[2015-09-01 21:43] bgruening commented on #254
@bcclaywell yes this could be!

[2015-09-01 21:53] bcclaywell commented on #254
Looks like missing libssl-dev was the culprit for the second error! With the new version of package_ruby_2_0_0 and libssl-dev installed, protk installed just fine. Thanks for all your help, Björn!

[2015-09-01 21:53] #254 closed

[2015-09-01 21:58] bgruening commented on #254
@bcclaywell your are welcome!
Btw. we really appreciate any feedback for our proteomics tools @ https://github.com/galaxyproteomics/tools-galaxyp :)

[2015-09-01 22:16] bcclaywell opened #262 "Error compiling Boost during package_tpp_4_6_3 install"
(Sorry to keep doing this to you @bgruening!)

To work around a specific need for protk because of #254, I was trying to install the galaxyp/decoyfasta tool from the main toolshed, which depends on package_tpp_4_6_3. The build of that package failed while compiling Boost and logged the following:

[code]

I did try to run the command suggested in the log messages to learn more, but the temporary b

[2015-09-01 22:18] bcclaywell commented on #254
@bgruening Once I've gotten a few users up and running with the proteomics tools, I'll be sure to pass along any feedback they have!

[2015-09-01 22:19] bgruening commented on #262
@bcclaywell do you know if we simply can upgrade to TPP-4.7? This package is pre-compiled and should have much less problems. I could update the dependencies.

[2015-09-01 22:21] bcclaywell commented on #262
@bgruening I think that would be fine -- we're not tied to 4.6.3 for any particular reason other than that's what decoyfasta wanted to pull in.

[2015-09-01 22:22] bgruening commented on #262
I will try to do this tomorrow, it's late here.

[2015-09-01 22:25] bcclaywell commented on #262
No problem -- thanks for your help!

[2015-09-02 17:56] bgruening commented on #262
@bcclaywell before I work on this and promise to much, can you please try to install TPP.4.7?

[2015-09-02 18:33] boratonAJ commented on #239
Ok, I'm in.

[2015-09-02 20:32] bcclaywell commented on #262
@bgruening TPP 4.7's dependencies installed fine, but TPP itself hung up while installing some Perl CGI stuff. I think there's a missing dependency on Perl FCGI 0.67. From `INSTALLATION.log` in `tool_deps/trans_proteomic_pipeline/4.7.0/iuc/package_tpp_4_7_0/2b778f0f7a0e`:

[code]

The installation hung here with `package_tpp_4_7_0` continuing to show "Installing tool dependencies" in the admin int

[2015-09-03 14:29] lparsons commented on #239
Sounds great, it's on my calendar.

[2015-09-03 19:26] erasche commented on #239
@tnabtaf could we get this on the calendar please?

[2015-09-07 14:46] bgruening commented on #239
@martenson any ideas how to coordinate this? I will be online from 9.00-21.00+ and will try to help wherever I can. Can we use #galaxyproject in freenode or should we use a separate channel?

[2015-09-16 21:08] dannon commented on #239
Hangout for tomorrow@10AM EST https://plus.google.com/u/0/events/cnjf2mqg7vl6aigs5fkai6dh4rk

[2015-09-16 21:17] mr-c commented on #239
10 AM Eastern _Standard_ Time (UTC−05:00) or Eastern _Daylight_ Time
(UTC−05:00) ?

I think you mean the latter :-)

See y'all tomorrow!

In the past I've been encouraged to send a link to a timezone website like
http://www.timeanddate.com/worldclock/meetingtime.html?iso=20150917&p1=179&p2=3736

On Wed, Sep 16, 2015 at 2:08 PM Dannon Baker <notifications@github.com>
wrote:

[2015-09-16 21:20] dannon commented on #239
Yep, I'd already updated it -- gotta read github comments on github and not email, since there's no notification of edits!

[2015-09-17 07:34] bgruening commented on #239
Hello everyone!
Today and tomorrow we will try to improve Galaxy tools to consume and create collections.
You are welcome to join and contribute in any way. For example code contributions, not matter how small, but also in improving documentations and our [best-practice guide](https://github.com/galaxy-iuc/standards).

If you have any questions, suggestions, bugs .... please get in touch with us o

[2015-09-17 18:12] Public-Health-Bioinformatics commented on #239
Just a note that now I'm doing a quality control tool that touches on the extraction of log/job status data from workflow log files, for reporting and to trigger stop/error states.  Runs off of a list of rules (predefined text-mining functions like regex etc. applied to specific log files to create temp variables and final report outputs in json format).  May be of interest to others?

[2015-09-17 23:55] bgruening commented on #239
@Public-Health-Bioinformatics sounds interesting, but I don't think I fully understand it :)

Coders: The second trimmer is updated and ready for a review: https://github.com/bgruening/galaxytools/pull/245

[2015-09-18 00:13] erasche commented on #239
@Public-Health-Bioinformatics might be useful in the (recently added) advanced exit code detection routines in galaxy. Can link information tomorrow.

[2015-09-18 11:48] bgruening commented on #239
The second day of our Codefest has begun. Anyone wants to work on the new tools? It should be possible to implement them with standard unix tools and a little bit of collection magic! :)

[2015-09-18 12:51] erasche commented on #239
I'll claim swapping out repeats with multiple="True".

[2015-09-18 20:26] bgruening commented on #239
@jmchilton is this suiteable to check off the "Tool for concatenating plain textual data (ignoring identifiers I guess)" item?
https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/text_processing/cat.xml

[2015-09-19 05:00] pvanheus commented on #239
This is the PR for the work we did at SANBI-SA: https://github.com/galaxyproject/tools-devteam/pull/227 and blog with a little documentation http://pvh.wp.sanbi.ac.za/2015/09/18/adventures-in-galaxy-output-collections/

@Public-Health-Bioinformatics sounds interesting, Jen specifically mentioned at GCC 2015 that she'd like to be able to decide whether a workflow can continue or should abort based

[2015-09-20 10:59] pvanheus commented on #239
And now... what next? Is there a wrap-up for the codefest planned? If so, who is writing it? And when's the next one?

[2015-09-21 08:08] bgruening commented on #239
@jmchilton is this suiteable to check off the "Tool for concatenating plain textual data (ignoring identifiers I guess)" item?
https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/text_processing/cat.xml

[2015-09-21 08:10] bgruening commented on #239
@pvanheus I will try to collect all PR and write a small summary here. If I can get more time to devote to this I will try to do this kind of events more regularly. Maybe every two month?

[2015-09-24 16:05] peterjc opened #280 "Bad URL for RNAshapes Mac OS X download"
Getting a 404 for http://bibiserv.techfak.uni-bielefeld.de/spool/download/bibiserv_1383039523_10840/RNAshapes-2.1.6-osx.tar.gz in tools-iuc/packages/package_rnashapes_2_1_6/tool_dependencies.xml

Spotted during testing for https://github.com/galaxyproject/planemo/issues/303

[2015-09-24 19:19] bgruening commented on #280
I contacted the authors, thanks.

[2015-09-25 19:05] Public-Health-Bioinformatics commented on #239
@erasche You mentioned "advanced exit code detection routines in galaxy."  I would like more info on that.  My QC tool basically lets one set up rules that trigger whether to stop a job or continue, as well as reporting on QC metrics.  I'm now at the point where I need to code the stop a job part.  Assuming its just a matter of exit code 1, but if you folks have some new options or things to under

[2015-09-25 19:29] erasche commented on #239
@Public-Health-Bioinformatics sorry, I knew there was someone I was supposed to forward documentation to, my apologies. https://github.com/galaxyproject/galaxy/pull/117 implemented functionality that provided an easier alternative to the exit code detection stuff. You simply add the `detect_errors="..."` to your `<command/>` block, like in [this example](https://github.com/galaxyproject/galaxy/pul

[2015-09-29 00:32] #280 closed

[2015-09-29 07:43] yhoogstrate commented on #262
https://github.com/galaxyproject/tools-iuc/blob/48fbe322d0f3ec023186989104ae4f4188b03a1d/packages/package_tpp_4_7_0/tool_dependencies.xml#L105

That line doesn't make sense and results in an error if you don't have the directory ```/home/bag```

[2015-09-29 07:49] bgruening commented on #262
I fixed this but we should move on and deprecate all version < 4.8.  @bcclaywell please try the TPP 4.8. I pre compiled everything, so I hope this is way faster and way more reliable.

[2015-09-29 12:16] loz-hurst opened #285 "deseq2 install fails silently on missing BLAS."
2 issues here:

1. deseq2 fails to install if blas is not available (rcpparmadillo fails and then deseq2 fails because rccparmadillo is unavailable) - does deseq2 need a dependency on atlas to address this, like has been done for other packages (e.g. numpy, scipy)?

2. This failure is silent - Galaxy reports successful install, only checking the INSTALLATION.log file reveals the failure:

[code]

[2015-09-29 12:24] bgruening commented on #285
R should come with pre-compiled binaries for BLAS. Can you check the R installation if you find libblas?
I need to remove the blas/atlas installation from all Docker containers. They are still included from times where blas/atlas was a requirement for the TS to test things properly.

[2015-09-29 13:01] loz-hurst commented on #285
There's a libblas.so.3gf but no libblas.so in the package_r_3_2_1 install, which is what deseq2 is using in the INSTALLATION.log

It also fails if armadillo and armadillo-devel isn't installed on the host system.  Should these not be pulled into the toolshed too if they are required?

[2015-09-29 13:23] loz-hurst commented on #285
...and now I get this:

[code]

However the system package libgfortran is installed but it seems to be using a different version bundled in R.  Any suggestions for fixing this?

[2015-09-29 13:23] loz-hurst commented on #285
(and this still fails silently - the Galaxy interface reports a successful install which is clearly NOT the case)

[2015-09-29 13:57] bgruening commented on #285
Oh, yes I know what it is ... @davebx we need an update to your R binary package :)

For the time being symlink libblas.so.3gf no libblas.so.

[2015-09-29 15:58] loz-hurst commented on #285
Yep, that fixed the compile issue.

There's still the question of how to not make Galaxy say that DESeq2 is installed when it isn't?

[2015-09-29 17:19] peterjc opened #286 "https://depot.galaxyproject.org is missing some R packages"
https://depot.galaxyproject.org is missing some R packages:
- http://depot.galaxyproject.org/package/darwin/x86_64/R/R-3.1.1-Darwin-x86_64.tgz as used in `tools-iuc/packages/package_r_3_1_1/tool_dependencies.xml`
- https://depot.galaxyproject.org/package/linux/x86_64/R/R-3.2.0-Linux-x84_64.tgz in /`tools-iuc/packages/package_r_3_2_0/tool_dependencies.xml`

These are the only precompiled binaries f

[2015-09-29 17:55] blankenberg commented on #286
ping @davebx

[2015-09-29 17:56] davebx commented on #286
@peterjc My guess, and this is only a guess, is that whoever built the packages named them incorrectly. When I find out who that was, I'll glare at them to fix it.

[2015-09-29 18:02] davebx commented on #286
@peterjc Followup - I fixed the 3.2.0 misnamed tarball, the 3.1.1 tarball doesn't actually exist.

[2015-09-29 18:41] peterjc commented on #286
Thanks @davebx - Is there meant to be an R 3.1.1 for Linux instead?

[2015-09-29 18:54] davebx commented on #286
@peterjc I seem to recall versions of R starting with 3.x are not feasible to build for OSX.

[2015-09-29 20:45] lparsons opened #289 "matplotlib_1_4 fails to build due to missing freetype library"
Attempting to install package_matplotlib_1_4 from the main toolshed into an instance from docker-galaxy-stable I get the following error:

    * The following required packages can not be built:
    * freetype

I suspect it's related to https://github.com/matplotlib/matplotlib/issues/3029/

[2015-09-30 09:01] peterjc commented on #286
@davebx Should https://depot.galaxyproject.org/package/linux/x86_64/R/R-3.2.0-Linux-x84_64.tar.gz be renamed to https://depot.galaxyproject.org/package/linux/x86_64/R/R-3.2.0-Linux-x84_64.tgz or should the URL in ``tool_dependencies.xml`` be updated to use the other extension?

[2015-10-02 07:15] bgruening commented on #289
@lparsons not sure this is related to the bug, `pkg-config` is installed in Docker and as far as I can see freetype has this PATH set. I need more time to figure this out.

[2015-10-02 08:36] nsoranzo commented on #239
Final report for the Codefest: https://wiki.galaxyproject.org/News/IUCCollectionsCodefest

[2015-10-02 08:36] #239 closed

[2015-10-02 09:04] bgruening opened #291 "datamash parameter -W should be removed"
`-W, --whitespace use whitespace (one or more spaces and/or tabs) for field delimiters`

This means that if we have a tabular file with a header that contains spaces we create more rows than columns. I think this is not what the user expects. Either we simply remove `-W` or we make it optional, maybe even with a select to the `--field-separator`.

[2015-10-02 09:37] nsoranzo commented on #291
:+1: to remove it.

[2015-10-02 10:56] bgruening commented on #285
This is because Rscript do not return a proper exit code:

[code]

I will try to get a workaround for it ...

[2015-10-02 15:43] bgruening commented on #289
@lparsons I have a fix for this included in https://github.com/galaxyproject/tools-iuc/pull/283 and it is pushed to the TSs. Please test.
One problem still remains and that is that we need a recent setuptools in Galaxy's virtualenv. I have a patch for the Galaxy Docker container here: https://github.com/bgruening/docker-galaxy-stable/pull/96

Hope this will solve your issues.

[2015-10-02 18:20] bgruening commented on #285
@loz-hurst can you test this PR?
https://github.com/galaxyproject/galaxy/compare/dev...bgruening:setupRinstall-fail?expand=1

With this in place the installation hopefully fails.

[2015-10-02 18:26] bgruening commented on #251
This was fixed in e57d0738f45c336ae8f02ebe00ed5bec202ff759

[2015-10-02 18:26] #251 closed

[2015-10-02 18:44] bgruening commented on #252
@lparsons what do you think about #293

[2015-10-02 19:14] bgruening commented on #244
A small status update here. I ask @pli888 and he we agreed that at first step we should help him to integrate linting and basic testing in his repository.

First PR here: https://github.com/gigascience/galaxy-bgisoap/pull/1

[2015-10-02 19:20] bgruening commented on #221
@lparsons is this still valid? How can I help you here, can you give me a Docker flavour or guide so that I can reproduce it?

[2015-10-02 19:21] bgruening commented on #220
ping @davebx

[2015-10-05 15:20] loz-hurst commented on #285
@bgruening I can't test it until next week as I cannot risk breaking the environment I've setup until then.

I'll do it then and get back to you.

[2015-10-05 17:33] bgruening opened #296 "IUC member proposal - Youri Hoogstrate"
Hi Commissioners,

I would like see Youri Hoogstrate (@yhoogstrate) becoming an IUC member.
Youri already contributed a lot to the bgruening/galaxytools repository, the iuc-tools wrappers and the main Galaxy codebase. He is especially familiar with visualisations and R based tools. Youri also participated
actively at the last GCC and is proficient in tool developing and his reviews are very good!

[2015-10-05 17:46] nsoranzo commented on #296
:+1:

[2015-10-05 18:04] erasche commented on #296
:+1:

[2015-10-05 19:10] lparsons commented on #289
@bgruening Those two fixes seemed to do the trick, thanks!

[2015-10-05 19:11] bgruening commented on #289
Great, I will merge this. Thanks for testing.

[2015-10-05 19:11] #289 closed

[2015-10-05 19:13] lparsons commented on #252
@bgruening Looks good and perhaps should be implemented for https://github.com/lparsons/galaxy_tools/blob/master/tools/htseq_count/htseq-count.xml as well.

[2015-10-05 19:24] lparsons commented on #221
I believe this was "resolved" by adding Numpy as a dependency to tools that depend on htseq (htseq-count). The discussion probably happened over IRC, sorry for not updating here. See https://github.com/lparsons/galaxy_tools/commit/23de2bdafad4d386cfe88724c0e6f93a70fdb84e and https://trello.com/c/lLoJ6vfe.

[2015-10-05 19:31] bgruening commented on #221
Great will close this.

[2015-10-05 19:31] #221 closed

[2015-10-06 06:25] bgruening commented on #252
Fix by #293

[2015-10-06 06:25] #252 closed

[2015-10-06 16:20] jmchilton opened #299 "IUC Contribution Fest - Metagenomics Tools and Workflows"
Remote Contribution Fest happens on 30 Nov and 1 Dec
---

We are planning a Remote Contribution Fest on **30th of November and 1st of December** for developers to work mainly on Galaxy metagenomic tools.

The remote nature of this gives people who don't have the opportunity to come to GCC hackathons (which have always been productive and a lot of fun) a chance to participate in a Galaxy hackathon.

[2015-10-06 16:21] erasche commented on #299
:+1: to biom, I'd be happy to do a finch viz plugin/tool if a biom datatype was available

[2015-10-06 16:22] jmchilton commented on #299
@erasche - add to the TODO list and sign yourself up :smile:

[2015-10-06 16:36] bgruening commented on #299
It would be lovely if we could get @jennaj on-board and maybe can create a workflow that we stick into the Tool Shed and myexperiments.org.

[2015-10-06 19:48] blankenberg commented on #296
:+1:

[2015-10-06 19:48] blankenberg commented on #296
(Can we make a document listing the requirements/guidelines and process for modifying membership of the IUC available publicly?)

[2015-10-06 20:17] jennaj commented on #299
@bgruening Funny this should come up here - it was also brought up last Fri at a data hack meeting. Metagenomics is definitely on the table for the next cycle. Maybe we can combine forces :) I'll email the data hacks with a link to this.

[2015-10-07 06:24] bgruening commented on #299
Thanks @jennaj!

[2015-10-07 13:09] davebx commented on #296
:+1:

[2015-10-07 14:42] nekrut commented on #299
Perhaps we need a bit of a big picture. Improving individual tools is necessary, but we should focus on entire types of MG workflows (e.g., what are potential complete workflows for doing human microbiome studies). This is best accomplished using actual biological projects. Can you guys make a list of analyses you are currently supporting. I'll describe mine

[2015-10-07 17:05] lparsons commented on #299
@nekrut Great point and a very good first step. I'm looking to analyze 16S data to generate OTU percentages per sample and PCA plot for diversity analysis. Following a workflow similar to that outlined in http://nbviewer.ipython.org/github/biocore/qiime/blob/1.9.1/examples/ipynb/illumina_overview_tutorial.ipynb

[2015-10-07 18:03] bgruening commented on #296
With this I would like to welcome Youri as a new IUC member! 🌻
Wonderful times ahead!

[2015-10-07 18:03] #296 closed

[2015-10-08 03:08] bobbledavidson commented on #299
I like the idea of linking up the GalaxyScientists (@JennaJ's data hackers) with the IUC for this - it would be good to have a project to foster some dialogue between these two groups.

[2015-10-08 04:32] tiagoantao commented on #299
I am not a metagenomics person, but I have seen people struggling with the mothur tool (if you install it, you will see what I mean). My impression is that a few workflows would help a lot. If you look at the mothur documentation, you could easily get inspiration. For example here: http://www.mothur.org/wiki/Analysis_examples

PS - You could consider doing a RAD-seq hackathon in the future. I woul

[2015-10-08 08:01] bebatut commented on #299
I'm currently developing a Galaxy instance dedicated to gut microbiota data processing (metagenomics and metatranscriptomics). I made some wrappers for tools such as HUMAnN, MetaPhlAn, SortMeRNA, Reago, PRINSEQ, for which I did not find wrappers fitting my requirements. The aim is to construct a workflow to process data from intestinal microbiota.
I would like to join you on this hackathon

[2015-10-08 08:31] bgruening commented on #299
@bebatut this is awesome. If you like please join this hackathon and we could review your wrappers if you like.
Btw.: SortMeRNA and PRINSEQ wrappers are already here
 * https://github.com/bgruening/galaxytools/tree/master/tools/prinseq
 * https://github.com/bgruening/galaxytools/tree/master/tools/rna_tools/sortmerna

@tiagoantao excellent suggestion!

[2015-10-08 09:08] nsoranzo commented on #299
@bebatut MetaPhlAn and SortMeRNA are also on the Tool Shed, please do not reinvent the wheel, if something is missing please contribute to the already available tools!

https://toolshed.g2.bx.psu.edu/view/rnateam/sortmerna/
https://toolshed.g2.bx.psu.edu/view/dannon/metaphlan/

@bgruening Should PRINSEQ also be published on the MTS or it's not ready yet?
@dannon What about adding metaphlan wrapper

[2015-10-08 09:15] bgruening commented on #299
@nsoranzo PRINSEQ It needs some more love but it was on a good way. Happy to work with @bebatut on this during the hackathon.

[2015-10-08 11:07] bebatut commented on #299
@bgruening @nsoranzo I saw the wrappers for Prinseq and SortMeRNA, but they do not correspond to what I wanted. For example, not all the parameters are accessible with SortMeRNA wrapper.
I developed a wrapper for MetaPhlAn 2 not for MetaPhlAn...

[2015-10-08 12:06] mvdbeek opened #304 "Include cairo in package_r_* or not?"
Currently package_r_3_2_1 depends on package_cairo_1_12_14, because cairo-support is explicitly compiled into R (./configure --with-cairo). This specific version of cairo does not compile on gcc-4.9 (see Issue #294 ). Cairo can however be dynamically loaded into a R version that was compiled without cairo support.
Should we therefore abandon compiling in cairo into R? This should give us more flex

[2015-10-08 12:14] bgruening commented on #304
As far as I remember we need R depend on cairo for some drawing capabilities.
My preferred solution would be to release a R_3_2_2 version with the new updated cairo dependency and update the wrapper.

[2015-10-08 12:21] mvdbeek commented on #304
I tested this on docker-galaxy-stable with package_r_3_2_1_without_cairo (testtoolshed):
[code]
Do you have any idea which tools would require baked-in cairo? Perhaps we change the already released R version to use cairo-1.14.2, and to release newer version of R without cairo? This way we don't break anything for people that depend on R right now, and if tool developers change the R version they w

[2015-10-08 12:25] yhoogstrate commented on #304
I did not test this because by that time cairo didn't work either, but I guess cairo is neccesairy to solve:
https://biostar.usegalaxy.org/p/9170/  So I would prefer cairo as part of R.

At the link http://sourceforge.net/p/mingw-w64/bugs/396/ they claim to solve 1.12.14 with a diff file:
[code]
Because you can't include a patch file within a package definition (allows only 1 file), you could hack

[2015-10-08 12:31] mvdbeek commented on #304
@yhoogstrate OK, I can definitely patch with sed, and that's a good solution.

Though I think we really don't need cairo (in new R releases), and including it is causing more trouble than necessary.
The post you linked is not very likely linked to cairo, but to X11 support being compiled inot R, when X11 is actually not available.

[2015-10-08 12:47] yhoogstrate commented on #304
Oh yeah I didn't mention everything. R doesn't support and compile with X11 which is logical, because it should work on machines that have no X installed too. If I remember correctly, the problem didn't occur on Desktop machines, but only on machines without X11. When I tried to solve it, I thought the anwers was by using cairo libraries to do the drawing rather than X11, but I never got that far

[2015-10-08 12:49] mvdbeek commented on #304
I'm testing now with
[code]
it definitely compiled on gcc-4.9, i'll check some older compilers now.

[2015-10-08 12:53] bgruening commented on #304
Unfortunately not but maybe @davebx. I also remember someone from the mailing list needed cairo in R. Can you check if RCairo compiles id Cairo is not part of R?
I can live with both solutions. What ever the easiest for you.

[2015-10-08 13:04] mvdbeek commented on #304
Not sure I get what you mean ;)

Definitely least amount of work is to fix cairo_1_12_14 with the sed line I posted above, I will open a PR if testing succeeds.
But I think in the long run we can save ourselves some trouble by not including cairo, with tool authors being responsible to define whatever cairo version they need.
I saw some posts by @christian-b having trouble with cairo, I am imagini

[2015-10-08 13:45] bgruening commented on #304
Sorry, I mean: Can you install the R package RCairo if R is not compiled against Cairo?

[2015-10-08 13:47] mvdbeek commented on #304
@bgruening you mean this one https://cran.r-project.org/web/packages/Cairo/index.html? Yes, I tested this, works fine.

[2015-10-08 13:50] bgruening commented on #304
Than I'm fine with removing it. @davebx should have a last call as I think he introduced it.
I think if we can get DESeq2 and DEXSeq compiled we can be confident that this works well for other packages as well.
Thanks @mvdbeek

[2015-10-08 13:55] Christian-B commented on #304
I have had a lot of trouble with Cairo in R

Thinks I discovered included.

https://testtoolshed.g2.bx.psu.edu/view/iuc/package_r_3_2_1/fefdc0b8349a
-tries to use: https://depot.galaxyproject.org/package/linux/x86_64/R/R-3.2.1-Linux-x86_64.tar.gz
    This has hard coded paths in the env.sh file so could not be used.
-These should be prepend to rather than "set to"
<environment_variable action="set

[2015-10-08 14:02] mvdbeek commented on #304
@christian-b yeah, galaxy's dependency resolving is a bit broken right now if you mess with dependencies of previously uninstalled packages (See https://github.com/galaxyproject/galaxy/issues/667).
If you want to be sure of your tool/package, start up a clean instance and experiment in there. Sorry that there is no way around it yet. I can give you hand once we get this stuff here fixed.

[2015-10-08 14:26] mvdbeek commented on #304
@bgruening I might have been fooled by the pre-compiled R binary. I'll have to do some more testing to see if we can really live without baked-in cairo support.

[2015-10-08 20:20] bgruening opened #309 "IUC member proposal - Marius van den Beek"
Hi,

I would like see Marius van den Beek (@mvdbeek) becoming an IUC member.
Marius already contributed to the tools-devteam and tools-iuc as well as Galaxy and the Docker containers. I had the pleasure to work with him already and think he could be a win for this community.

Please comment and vote!

[2015-10-08 20:22] martenson commented on #309
ping @mvdbeek :)

[2015-10-08 20:24] yhoogstrate commented on #309
+1

[2015-10-08 20:30] erasche commented on #309
:+1:

[2015-10-08 20:34] blankenberg commented on #309
+1

[2015-10-08 20:47] bgruening commented on #299
@bebatut let's merge our wrappers during the hackthon and join (maintenance) forces!

[2015-10-08 21:24] tiagoantao commented on #299
I think that there is a bug in the kraken data manager.
Try the following
admin>local data>Run data manager tools>Kraken

Select partial library to download> Human

Depending on my galaxy installation I am getting different errors. The most common is not being able to download human chromosomes. But works well with the other options

[2015-10-09 07:29] bgruening opened #311 "bulk package/tool upload for 15.10"
I would like to update all package to the TTS with the following procedure:
- planemo shed_diff -r
- checking the diff briefly
- planemo shed_upload -r

After this and rebuilding a bunch of Docker test containers I would like to upload everything in one go to the TS with the aim that admins have all our new/updated tools in time for the next Galaxy release.

Before I do this I would like to get th

[2015-10-09 08:28] nsoranzo commented on #309
:+1:

[2015-10-09 09:25] mvdbeek commented on #311
Sounds like a very good plan to me.

Slightly off-topic:
Could I suggest this to be a test-case for fully automatic uploads, once jenkins tool testing works reliably?
At least for the TTS?
I was thinking that we could have a stable branch like for galaxy.
Whenever we merge something from dev into the stable branch the changed package gets uploaded to the TTS.

[2015-10-09 09:29] nsoranzo commented on #311
@mvdbeek See https://github.com/galaxyproject/tools-iuc/issues/129 .

[2015-10-09 09:31] bgruening commented on #311
@mvdbeek yes this is the plan as soon as everything works. Important here is that the package is only uploaded on change and not the entire tree otherwise you would override in-development packages.
The other thing is that I don't want to update the TS automatically. I would like to see somehow a release schedule of tools-iuc. So that admins can plan in advance. Urgent fixes can be made by manuall

[2015-10-09 09:38] peterjc commented on #129
In an experimental branch https://github.com/peterjc/galaxy_mira/tree/planemo_ci of https://github.com/peterjc/galaxy_mira I have been trying the following:

* planemo lint
* planemo diff (vs testtoolshed)
* planemo test (only those with changes)
* planemo shed_update -t testtoolshed (only those with changes)

This is in part to cut the continuous integration test run-time which was becoming a pro

[2015-10-09 09:38] mvdbeek commented on #311
Well, we could be very strict about it by having personalized dockerized toolsheds that are in sync with the testtoolshed, to be used for development. Then we could avoid manual uploads and overwriting in-dev packages. If you're interested I could take this in charge.

[2015-10-09 09:45] mvdbeek commented on #129
@peterjc

This is similar to how I am handling the things for https://github.com/ARTbio/tools-artbio, except that I'm doing a shed_test instead of test (and I broke it recently ;)). Around GCC time i already did this for devteam and tools-iuc, and about 20% of tests were failing due to erroneous tool_dependencies.xml .
Before we do automatic uploads, we should address this as well.

[2015-10-09 12:13] erasche commented on #311
No need to shed diff, jenkims is doing that regulalry foe us already! https://jenkins.galaxyproject.org/view/Tools/job/iuc-TTS-GH-diff/4/testReport/

[2015-10-09 17:16] nekrut commented on #299
https://test.galaxyproject.org/u/sjcc/w/16s

Here is the king of stuff we are currently doing:

Input  > Quality Trim (FASTQ Quality Trimmer) > Join R1 + R2 (fastq-join) > remove reads with ambiguous bases (Manipulate FASTQ) > remove chimeras (cd-hit-dup) > assign reads to taxon (Kraken) > filter Kraken by confidence level (Kraken-filter) > translate taxon id number into taxon name (Kraken-transla

[2015-10-10 08:13] bgruening commented on #299
@tiagoantao can you move this bug report to a proper issue, so it get not lost?
@nekrut thanks very useful. We could work on materializing this into a TS workflow with documentation. Anything on you wishlist, preferably a "easy" tool without *.loc files?

[2015-10-12 09:52] mvdbeek commented on #309
Thanks you guys, really happy to join the team!

[2015-10-12 09:55] bgruening commented on #309
Welcome @mvdbeek!
:sunflower:

[2015-10-12 09:55] #309 closed

[2015-10-12 10:24] loz-hurst commented on #285
@bgruening I have tried it this morning - it does now fail but with "cannot find function exit", which is an improvement (it no longer 'succeeds' when it fails) but I'm sure not the intended way it was supposed to:

[code]

[2015-10-12 10:31] loz-hurst commented on #285
From [this page](https://stat.ethz.ch/R-manual/R-devel/library/base/html/quit.html), I've substituted 'exit(1)' with 'quit(status = 1)' and get something more sensible as the error status:

[code]

[2015-10-12 10:40] bgruening commented on #285
I don't know why but I have an exit() function in my R environment. Gnah. I will adjust this.

[2015-10-12 11:00] loz-hurst commented on #285
I couldn't find an exit function in any of the official R documentation?

[2015-10-12 11:07] scholtalbers opened #321 "macs2 error on pdf creation when --no-model is specified"
see pull request #320

[2015-10-12 12:11] bgruening commented on #285
@loz-hurst everything is now integrated. Thanks and hopefully DESeq2 is useful for you!

[2015-10-12 12:11] #285 closed

[2015-10-12 12:58] loz-hurst commented on #285
It now seems to quit even if there is no error.  I'm not sure why.

[2015-10-12 15:53] yhoogstrate commented on #321
Thank you for both reporting and solving this issue @scholtalbers.

[2015-10-12 15:53] #321 closed

[2015-10-12 19:03] jmchilton commented on #299
I think we as Galaxy community should also consider a Brew related hackathon (https://github.com/Homebrew/homebrew-science/issues/2876) and I would like if we could schedule one or the other for November. Any particular thoughts on whether we should do this one in November and the Homebrew one in January or vice versa?

[2015-10-12 19:22] bgruening commented on #299
November for the metagenomic Codefest and January for the next. Until then we can make the brew idea more concrete.

[2015-10-12 19:52] martenson opened #323 "create package for PathoScope"
https://github.com/PathoScope/PathoScope

[2015-10-13 13:48] lparsons commented on #104
Just an FYI, once again I am running into this issue (this time using deeptools) on my production galaxy. Each reboot seems to generate new behavior with dependencies, and I go through various gyrations of uninstalling, reinstalling, restarting, etc. until it's fixed, but inevitably, something else will break. I think I need to go through the various places that can get out of sync with dependenci

[2015-10-13 21:38] bcclaywell opened #325 "package_deseq2_1_8_1 fails to install correctly (Ubuntu 14.04)"
While installation of `package_deseq2_1_8_1` *appears* to install correctly, a problem with `package_r_3_2_1`'s `libgfortran.so` actually prevents installation of at least two of the required R packages, `RcppArmadillo` and `KernSmooth`, which then causes installation of `DESeq2` itself to fail. Excerpts from the installation log:

[code]

[code]

[code]

[2015-10-14 07:22] yhoogstrate commented on #325
@bcclaywell Thaks for reporting :). This makes me realize DESeq 1.8.2 is not in the main toolshed (https://github.com/galaxyproject/tools-iuc/pull/294). I am updating this right now.
@bgruening Can you help on this one?

[2015-10-14 08:30] mvdbeek commented on #325
@yhoogstrate @bgruening This is probably related to the way the dependencies are specified in https://github.com/galaxyproject/tools-iuc/blob/master/packages/package_r_3_2_1/tool_dependencies.xml
I'm surprised it works on the testtoolshed. Or is this a recent change on the toolshed codebase?

[2015-10-14 11:04] mvdbeek opened #326 "Hisat2 produces only 1 output when used outside of collections with multiple inputs"
The hisat2 wrapper is working nicely, except that feeding in multiple unpaired single fastq files (not in a collection) produces only 1 output, while I would expect  that I get 1 output file per input file (as would happen with a dataset collection). Feature or bug? Ping @davebx

[2015-10-14 11:19] mvdbeek commented on #326
Also, there seems to be a bug in specifying spliced_alignment_options:
[code]

[2015-10-14 13:24] mvdbeek opened #327 "Include goseq tool"
Is there interest to include goseq (http://dx.doi.org/doi:10.1186/gb-2010-11-2-r14 http://www.bioconductor.org/packages/release/bioc/html/goseq.html) into tools-iuc?
Is anybody already working on this? @bgruening @yhoogstrate ?
One difficulty is the need tor gene length, but we could take this from gtf/gff/bed files ...

[2015-10-14 13:37] bgruening commented on #327
@mvdbeek GO annotation is really important for post-processing and David is not sufficient anymore. So from me a strong yes, please.
But we should try hard to not rely on web services. As you pointed out the gene-lenght is taken from USCS:

[code]

If we can work around this limitation this would be a wonderful addition.
Also see https://github.com/galaxyproject/tools-iuc/pull/6 for GO related iss

[2015-10-14 13:46] mvdbeek commented on #327
I think gene length would be straightforward to get, since we already have the information when we produce gene-count tables (@yhoogstrate's featureCounts wrapper even outputs the length information).
I'm more worried about the actual GO data ...

[2015-10-14 14:05] yhoogstrate commented on #327
I am not working on it but it looks like a cool package, although it might be complicated to wrap.

"To do this, it retrieves the data from the database of gene lengths maintained in the package *geneLenDataBase*. This is performed by the getlength function in the following way:"
[code]
That's from the GOSeq manual. It should only convert a list of gene names into a list of corresponding lengths.

[2015-10-14 14:09] mvdbeek commented on #327
@yhoogstrate yes, but you can also feed in a vector of gene lengths ... given that a GFF/GTF/BED file was used in the DE calling seems more straightforward, at least for an initial package.
I was rather thinking to write a data manager for getting the GO data associated to the genome's dbkey.

[2015-10-14 14:19] yhoogstrate commented on #327
I know, but there could be pitfalls. When I see the lengths in the manual, they probably do not represent genomic sizes of genes (247 to 3133 is quite small), but transcriptomic. If you stay stick to what they provide you can rule out any mistake introduced by your own implementation, because this requires scripting to get these lengths correctly. Similarly, if you need these lengths for something

[2015-10-14 14:26] mvdbeek commented on #327
@yhoogstrate absolutely, I appreciate the discussion! But what featureCounts is outputting is not the genomic length, but the total sum of the length of the exons (If your feature is exons), so this would be the correct length. (Have to verify though). But say, you want to profile UTRs, or full gene length, or introns (weird, but the task can come up!), then you would get the wrong length using a

[2015-10-14 14:32] davebx commented on #326
@mvdbeek Thanks, I'll have a look.

[2015-10-14 14:36] mvdbeek commented on #327
So featureCounts seems to be outputting the correct length:
[code]

First 3 columns are exons, last 3 are UTRs.

[2015-10-14 18:14] mvdbeek commented on #325
@bcclaywell is there any chance that you could install gfortran on your system and try to install the package again? I think a decision has been made for users having to have gfortran installed. If that doesn't work or gfortran is already installed, what OS are you using?

[2015-10-14 18:19] mvdbeek opened #332 "DESeq2 issue with multi-factor design"
This is using 2.1.8.2 from the testtoolshed.
I got the following input parameters:
[code]
In words, 6 samples, of which 3 are infected, 2 were taken on timepoint 1 and 4 on timepoint 2,
so I would have 2 factor with each 2 factor levels.

This crashes with the following message:
[code]

I am guessing `other factors in design: should be` `Time_of_prep`, not `Infection`.
Any idea, @yhoogstrate , @bg

[2015-10-14 18:19] bgruening commented on #325
`libfortran` is shipped with the R binary. So this should work, otherwise it's a bug. atlas and fortran are a pain for me since years :(
@bcclaywell can we tell us the operating system? Are you using the binaries?

[2015-10-14 18:27] mvdbeek commented on #325
@bgruening I remember this now: https://github.com/galaxyproject/tools-iuc/issues/190#issuecomment-111555093
Same trick should work for R, right? Copying the systems libgfortran. If it works for atlas, it should work here,

[2015-10-14 18:39] bgruening commented on #325
@mvdbeek exactly, but I don't know if this is the root cause of this problem :(
Maybe we should take this over for all R packages just to be sure?

[2015-10-14 18:42] mvdbeek commented on #325
Sounds good. I can do this.

[2015-10-14 18:42] bgruening commented on #325
Awesome, thanks!

[2015-10-14 18:43] mvdbeek commented on #332
It's not actually related to multifactor design (even if the error is a bit misleading),
I was producing output with header lines ... I'll see what can be done to make the error more obvious.

[2015-10-14 21:03] bcclaywell commented on #325
@mvdbeek gfortran was actually already installed on the system, and replacing the libgfortran shared objects in the `package_r_3_2_1` lib directory with symlinks to the system libraries solved the issue with the DESeq2 build.

@bgruening This is on Ubuntu 14.04.

[2015-10-14 21:22] bgruening commented on #325
@bcclaywell I bet you can also remove the symlink. As @mvdbeek pointed out we have a work around for newer versions of libfortran. So we can fix this hopefully soon.

[2015-10-15 08:58] bgruening commented on #299
What about the 5th and 6th of November? To early?

[2015-10-15 09:04] mr-c commented on #1
#80 was merged; thanks all!

[2015-10-15 09:04] #1 closed

[2015-10-15 09:06] mr-c commented on #1
@bgruening What should be done with my khmer repo on the toolshed? https://toolshed.g2.bx.psu.edu/view/crusoe/khmer/2c4635f5be47

Wait for you all to push the IUC version and delete, or ..?

[2015-10-15 09:09] mr-c opened #333 "cleanup script for IUC styleguide & recommended vim settings"
Would be spiffy, thanks

[2015-10-15 09:14] bgruening commented on #1
@mr-c Once we move everything into the TTS and the MTS please deprecate the repository. There is no delete in the TS ... sustainability :)
Are you fine merging my other k-mer PR, after changing the leading space? (Thanks for catching.)

The last thing I would like to see is that we change the IDs somehow and use them to generate automatically the repository name. With this in place we could automa

[2015-10-15 09:21] mr-c commented on #1
@bgruening great, can do.

Yes, the new PR LGTM!

I'm not following your suggestion about IDs. Does tool in this context mean each khmer script would have its own individual repository or do you mean the suite as a whole?

Either way I don't have an opinion as we haven't published any workflows that use the IDs. Have at it!

[2015-10-15 09:25] bgruening commented on #1
Thanks!

The former.
We will than create a meta-package which will install all tools.

Great thanks!

[2015-10-15 09:26] mr-c commented on #1
On Thu, Oct 15, 2015 at 11:25 AM Björn Grüning <notifications@github.com>
wrote:

Interesting; is the `macros.xml` file copied to each sub-repository?

[2015-10-15 09:36] bgruening commented on #1
`macro.xml`, test-data, dependency definitions ... at least this is the plan :)
xref: https://github.com/galaxyproject/planemo/issues/313

[2015-10-15 10:05] mr-c commented on #1
Wacky; have fun with that! :-)

[2015-10-15 10:47] bgruening commented on #326
I think we can close this.

[2015-10-15 10:48] mvdbeek commented on #326
Indeed, thanks.

[2015-10-15 10:48] #326 closed

[2015-10-15 12:35] jmchilton commented on #299
@bgruening I'll be at a conference on the 5th and traveling on the 6th. I don't know if Anton intends to participate directly with the hackathon but he will be at the same conference. Obviously I have much less to contribute to a metagenomics hackathon than a collections one though, so feel free to continue without me. I could do the 19th and 20th or the 9th and 10th.

[2015-10-15 17:42] erasche commented on #1
I'll try and find time for https://github.com/galaxyproject/planemo/issues/313 this weekend. Is that an okay release delay for everyone?

[2015-10-16 06:20] yhoogstrate commented on #332
I would like to see that too. Afaik DESeq2 is now only compatible with HTSeq counts (and not with featureCounts).

[2015-10-16 06:46] bgruening commented on #332
@yhoogstrate do you know offhand if featureCounts produces output which are recognised as `has_comment` by Galaxy? Then we could simply add a metadata check into the DESeq2 (DEXSeq?) wrapper?

[2015-10-16 07:01] mvdbeek commented on #332
@bgruening `has_comment` would mean that in the history it would say something like "has 1 comment"?  No, it doesn't say this. I guess it's relatively safe to assume that a first line that starts with gene.* or Gene.* and non-integer text in the remaining column(s) would stem from feautureCounts or other tools that produce count tables.

[2015-10-16 07:13] yhoogstrate commented on #332
If I remember correctly, the extensive output contains comment lines that start with a hashtag.

I think comment lines and a header line are two different properties of a table, and using such hacks may introduce problems at the long term. Imagine that the definition of tabular files once gets an extra metadata feature for header-lines, then for backwards compatibility you always have to check com

[2015-10-16 07:16] bgruening commented on #332
@mvdbeek I'm not sure this is to dangerous.
But Galaxy has a really advanced metadata system we never really use. So if anyone of you wants to play with it. Here is my suggestions.
We had to featureCounts something similar to this and try to get `header` set to an appropriate value:

https://github.com/bgruening/galaxytools/blob/master/tools/text_processing/text_processing/cut.xml#L110

Then we as

[2015-10-16 07:18] mvdbeek commented on #332
@bgruening yes, that sounds good. I'm not yet familiar with this.

[2015-10-16 07:20] mvdbeek commented on #332
Should I close this in favour of a new issue or PR, or we leave it open until we do something about it?

[2015-10-16 07:21] bgruening commented on #332
@mvdbeek me too. But we should make more use of this and probably document it properly.
Leave it open. Maybe someone wants to play with the metadata system.

[2015-10-16 07:23] yhoogstrate commented on #332
I think this is the biggest issue for metadata, and this is why it prevents (at least me) from using it. I want to take a look into it and see if I can get it working at the featureCounts side.

[2015-10-16 12:06] yhoogstrate commented on #332
I figured out how to do this.

To change a metadata value (e.g. named 'has_header_line') in a history item, the metadata name must be reserved and defined in the datatype. E.g. for tabular files only the following metadata elements are available and can be changed via a tool xml:

[code]

https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/datatypes/tabular.py#L34

Because from these metad

[2015-10-16 12:19] bgruening commented on #332
@yhoogstrate awesome! Sorry, on my way to a meeting, so just a quick note. Happy to chat with you about this later.
I think we can build this without modifying the tabular.py file. We simply remove the header from featureCounts, but we attach the column names as `column_names`. This would enable us to use the column_picker to deliver the column names as select item.
In general I'm not a fan of pro

[2015-10-16 16:04] bgruening opened #338 "Should we get/support official Java packages"
Sarah pointed out this nice project https://github.com/alexkasko/openjdk-unofficial-builds.
So the question arises if we want to create a package for Java to get rid of the Java dependency on
https://wiki.galaxyproject.org/Admin/Config/ToolDependenciesList

What do you think?

[2015-10-16 16:21] bgruening commented on #338
If we agree to do this it might be good project for a beginner:

The recipe should look like that:
https://github.com/peterjc/galaxy_blast/blob/master/packages/package_blast_plus_2_2_31/tool_dependencies.xml

[2015-10-16 16:58] erasche commented on #338
Emphatic :+1:

[2015-10-16 16:59] erasche commented on #338
However, can we leverage brew packages for this?

[2015-10-16 17:03] lparsons commented on #104
Just to put this in writing somewhere, my new issues were due to a disconnect between the revision of various installed "package_*" repositories and the revisions referred to in env.sh files for deeptools and other installed tools that depended on those packages. This is likely due to uninstall and reinstallation required to fix various installation bugs, etc. I do believe that there could be some

[2015-10-16 17:08] bgruening commented on #104
@lparsons are you installing from the TTS or TS?
Just curious because I'm searching for testers of deeptools: https://testtoolshed.g2.bx.psu.edu/view/iuc/package_python_2_7_deeptools_1_5_11/ff7a945199fa

[2015-10-16 17:09] jennaj commented on #299
2nd Nov 9th and 10th. Some of us might or could be in PA that are not otherwise, which could be nice if the primary reason for being there does not conflict (occurs later in the week).

[2015-10-16 18:16] erasche opened #339 "Different owners between MTS/TTS on certain packages"
I'm not sure what to do about this. The IUC is automating uploads to the TTS right now and I'm noting a lot of ownership conflicts. These cause @jmchilton's planemo to not be able to update the repositories.

E.g.

Package | MTS Owner | TTS Owner | IUC .shed.yml
--- | --- | --- | ---
Tool Factory 2 | fubar | iuc | fubar
rglasso | fubar | fubar (missing IUC permissions) | fubar

In all of these ins

[2015-10-16 18:22] erasche commented on #339
This is marked high priority, because until we can get it all coherent, https://jenkins.galaxyproject.org/view/Tools/job/iuc-TTS-GH-update/lastFailedBuild/testReport/ will never pass.

[2015-10-16 18:29] bgruening commented on #339
khmer should be solved in https://github.com/galaxyproject/tools-iuc/pull/317
IUC should have write access to Krona Tax. But @nsoranzo should create a repository under TTS.
Regading the Tool Factory we need to ping @fubar2.

What means a lot? Are there more repos? This really should be an exception.

[2015-10-16 18:30] martenson opened #340 "Nominate the tooldev related topics for GCC"
Hello @galaxyproject/iuc

Let's work together on the following document to describe the tool development topics for GCC2016 in the best way possible. We plan to have 3 differing in the level of complexity/experience.

https://docs.google.com/document/d/1r4J5yAMZzJ3aLJ9oc4D6nYCvcz7qX50VEqdJKNMeE4c/edit#

I will submit the contents of the document later today as the topic nominations.

Thank you

[2015-10-16 18:36] erasche commented on #339
@bgruening okay, I'd forgotten the IUC was taking over/splitting khmer tools.

Yep, @fubar2, can you please create `rglasso`, `tool factory 2` repositories under your personal account in the test tool shed and grant IUC permissions.

[2015-10-16 18:38] jmchilton commented on #340
Thanks for spearheading this @martenson. Realistically though these should go fantasticaly this year, they went well last year and we just need to polish I think.

[2015-10-16 18:42] erasche commented on #340
yep, agreed. Went quite well minus some minor documentation/reality inconsistencies.

[2015-10-16 20:17] lparsons commented on #104
@bgruening This has been on production, so TS. I'm assuming you're looking for testing beyond just the Docker version of Galaxy?

[2015-10-16 20:29] bgruening commented on #104
Would be ideal. This is based on an complete new scientific Python stack with hopefully way less pain.
Everything is bound to one specific Python version.

[2015-10-16 20:58] bgruening commented on #340
@yhoogstrate @mvdbeek do you already know if you can participate next year?
IUC needs you :)

[2015-10-16 21:47] bgruening commented on #340
@martenson I have added my proposals as well and included @mvdbeek and @yhoogstrate as potential instructors.

[2015-10-17 04:32] nsoranzo commented on #339
taxonomy_krona_chart should be ok now on TTS.

[2015-10-17 10:05] yhoogstrate commented on #332
Hi Bjoern,

I know we had this discussion once before. My major objection is that by removing the header column we are modifing files in a way that they become different than the original output, only to make it 'fit' within galaxy. The major cause of this is of course that there is (or I am not aware of) no unified standard to present this type of data, in contrast to e.g. alignments (BAM,CRAM) o

[2015-10-17 10:17] mvdbeek commented on #332
I wholeheartedly agree with @yhoogstrate reasoning. Best would be to have a header that is marked as comment, together with metadata that is equivalent to the header line. Is this possible?

I know this would be larger change in the galaxy codebase, but would it be possible to have "tool-specific datatypes"? So for example featureCounts and htseq would produce tabular output of class CountTable, w

[2015-10-17 11:05] bgruening commented on #332
I see it more like we fitting them to other tools, not Galaxy. We all do the same in R and Python if we import data in dataframes, isn't it?
There are so many tools, especially if you are combining tools from different areas of bioinformatics (genomics, proteomics ...), that can not deal with some strange file formats.
For example blockbuster produces a BED-file-like output with random lines inser

[2015-10-17 11:28] peterjc commented on #332
Similar issues with many of the tabular files in https://github.com/peterjc/pico_galaxy/tree/master/tools (some I have to massage the output anyway to make it tabular) and https://github.com/peterjc/galaxy_blast (e.g. the pick-you-own column tabular output). Allowing the tool wrapper to set column names in the Galaxy metadata for the generic ``tabular`` datatype seems the best way forward.

[2015-10-17 11:40] mvdbeek commented on #332
I didn't consider that case. Ideally galaxy would ignore things it recognised as headers (or comments),
if the tool didn't specifically ask for the metadata information. But I can see how this gets complex very quickly.

Why not? It's true we'd need to do this for htseq-count, featureCounts and DEXSeq-counts, but if we decide on a common datatype with common metadata, then we'd only need to map Id

[2015-10-17 11:54] bgruening commented on #332
Different number of columns, different headers/comment lines. Thinking about it I don't know what is similar between them ;)
featureCount is even worse, as it does not mark the comment line with `#` or similar symbols.
So we need to recognise `Geneid 1:`, which is not really unique. Also please consider what happens if this identifier is changing between featureCounts versions, for example to `Gen

[2015-10-17 12:02] mvdbeek commented on #332
Isn't that what metadata is good for?

Well, if this happens, the featureCounts wrapper should introduce a new datatype. I'm seeing this from the angle of the tool wrapper "explaining" what kind of data it is producing. If tools can register new datatypes, I don't see the harm of having a few hundred different datatypes.

[2015-10-17 12:12] mvdbeek commented on #332
Well it's a complex issue, and I am not even sure what we can do with the current state of the system, so I should better get informed :).

[2015-10-17 12:14] bgruening commented on #332
Are we talking about a new file type here? Shouldn't be a file type as strictly defined as possible?
What do you gain from a new file type that has no defined number of columns, no definition of header/comments over the already existing tabular format?

So we need to recognise Geneid 1:, which is not really unique. Also please consider what happens if this identifier is changing between featureCou

[2015-10-17 12:38] mvdbeek commented on #332
Well, I see the problems in my proposition now. Yet, that would be an interesting approach.

I don't really now how to express this well, I'll just called it a datatype, even if that may not be a datatype in the most commonly used sense. The idea would be to have a datatype that can have a set of metadata associated to it. This metadata would include the number of samples (1 or more), the feature

[2015-10-17 13:08] gregvonkuster commented on #104
@bgruening @lparsons Maybe a good option for the baseline scientific Python stack is Continuum's Anaconda Python.  The Python 2.7 version comes pre-built with this list of packages, so no dependency recipes are necessary.
http://docs.continuum.io/anaconda/pkg-docs.
There are similar package lists for Python 3.
Also, adding new packages to the stack is easy using the conda command which comes with

[2015-10-17 13:55] bgruening commented on #332
The purpose of this is that tool wrappers that produce counts would set this new datatypes as output format and assign columns and rows of their tabular output data to the correct metadata.
Then the datatype would also take care of the conversion, so that tools that need a header-line in their input receive the correct header line, and tools that need multiple input files (one per sample) would re

[2015-10-17 15:43] martenson commented on #340
done, last nightI have nominated all 5 topics that were in the doc

[2015-10-17 15:46] bgruening commented on #340
Thanks Martin!

[2015-10-17 15:46] #340 closed

[2015-10-18 17:09] yhoogstrate commented on #332
Thanks this clearly shows me your point of view.

This is stated in Tabular.py:

[code]

+1

From the text from Tabular.py I also see this as the solution for featureCounts. I want to keep the column names because for large cohorts (once I had to do 96 samples) you loose which column belongs to which sample when you download the file. The very first char of the header columns should be a ```#```,

[2015-10-19 14:41] blankenberg commented on #299
BIOM xref: https://github.com/galaxyproject/galaxy/issues/941

[2015-10-20 07:45] mvdbeek commented on #332
OK, guys, that's absolutely reasonable, and I guess we'll have to live with some "manual" conversion steps for a while. Which is not a problem. So I am closing the issue.

[2015-10-20 07:45] #332 closed

[2015-10-20 12:35] Eduardo-Alves opened #343 "augustus_dependencies 3_1 binary download link not workind"
package_augustus_3_1 revision 1d324022239b owned by iuc
http://bioinf.uni-greifswald.de/augustus/binaries/augustus-3.1.tar.gz has been moved to http://bioinf.uni-greifswald.de/augustus/binaries/old/augustus-3.1.tar.gz

[2015-10-20 12:51] #343 closed

[2015-10-20 12:52] bgruening commented on #343
@Eduardo-Alves thanks for reporting fix is merged!

[2015-10-20 13:02] peterjc commented on #343
Note I have not pushed this update to the Test or main Tool Shed, see also #129.

[2015-10-20 13:30] Eduardo-Alves commented on #343
Thank you. I will wait for it to reach toolshed as I don't have disk write rights at the university instance, only galaxy admin

[2015-10-20 16:58] erasche opened #345 "Community Package Cache"
# Implementation

https://github.com/erasche/community-package-cache/

# Original Proposal

I'm proposing a package caching proxy that should provide some relief from the bad-url issue. I'd like feedback from other members of the IUC/devteam before actual implementation.

## The Problem

Downloads disappear, get renamed, etc. We cannot rely on externally controlled URLs for longevity. [Bad URLs ar

[2015-10-20 17:07] martenson commented on #345
Just a quick note: @davebx recently did our local backup of all sourceforge files that were linked from the MTS. This is the first step to providing reliable mirrors to files we require to stay reproducible.

[2015-10-20 17:07] peterjc commented on #345
Sounds useful to me - I've found and fixed several broken URLs (stumbled on while testing ``planemo dependency_script`` which downloads all the platform-specific download actions) which is enough to convince me this is a real problem for the Galaxy Tool Shed (and beyond).

Bonus points for a future enhancement to validate checksums given as additional URL parameters as well.

[2015-10-20 17:10] bgruening commented on #345
xref: https://github.com/bioarchive/aRchive_source_code/pull/20
The idea here was to offer a complete web service that stores archives and returns a more or less complete tool_dependency definition.

[2015-10-20 17:32] erasche commented on #345
@martenson @davebx that's excellent to hear.

@peterjc that's an excellent suggestion of validating checksums against the remote URLs.

@bgruening I will go out of my way to support your `tool_dependency.xml` generators :) You envision those being accessible as some sort of REST API endpoint yes? If so I'll just ensure the package cache can proxy those requests to your docker images/code running i

[2015-10-20 17:57] natefoo commented on #345
might be useful to have the proxy return a redirect to a downloadable URL to the file rather than the file itself?

[2015-10-20 17:59] erasche commented on #345
@natefoo that's an interesting addition, but offloads storage to someone else. I'm envisioning a service where I don't have to a) ask someone to upload a package to depot or b) upload to Björn's data store. I like the forward thinking-ness of your comment, but is there any way for that to fit in with this?

[2015-10-20 21:01] natefoo commented on #345
The redirect could still be to a place we control.

[2015-10-20 21:09] erasche commented on #345
@natefoo okay, I'll add this as a feature. You'll be able to request two types of proxied packages:

- served from a local copy
- redirects to existing URLs

But I worry that we don't really gain so much with that, and that we're just trading one backend that could disappear for another backend.

[2015-10-21 03:45] erasche commented on #345
@bgruening @peterjc @natefoo @martenson

Okay... it's done! In the form of a 42 line python file and a urls.tsv file.

- in lieu of "accounts" and "approval" process, we use a github repository and PRs.
- in lieu of an actual proxy, the script just downloads the URLs to files named after their sha256sum, and lets nginx/etc serve them up.
- in lieu of databases or any of that nonsense, there's a de

[2015-10-21 08:26] yhoogstrate commented on #345
So true! Not to mention the possibility that files get modified if no checksums are being used

I actually prefer the first solution, and do something like:

https://package-server/get/?url=https://
https://package-server/checksum/?url=https:// or https://package-server/sig/?url=https:// and obtain Pgp signatures
https://package-server/timestamp/?url=https:// (not neccesairy if Pgp signatures are

[2015-10-21 10:37] erasche commented on #345
They're not, you're right, it is a bit hacky. It was the decision to have one moving part (i.e. dynamic script that has to be running 24/7) versus ZERO and I chose the latter. Agreed, there is thr chance that people use the human readabke URL fragment less. I don't have a solution for that under my current scheme.

Yep! Files are stored and accessed by their sha256. There's a reason we use that an

[2015-10-21 10:49] bgruening commented on #345
@erasche this is great! Where is the code. I'm wondering why we need a web-service at all, if we just want to map the packages to a URL.

The problem of archiving tarballs has two sides for me.
 1. provide a stable URL to the tarballs
 2. store the archives

Here is how I would imaging a solution for problem 1:
[code]

This will download a package a ID `augustus_3_1`. The ID is unique and we can u

[2015-10-21 11:07] yhoogstrate commented on #345
It shouldn't be always running. Just the tabular file you have would be sufficient. Rather than using the sha256sum as uid you could use the url as a uid.

What I like about @bgruening's idea is that it requires PRs and some kind of checking before URLs get in the system.

As long as the proxy server doesn't get hacked. The current implementation works like a 2-factor authentication because the ch

[2015-10-21 11:13] erasche commented on #345
@yhoogstrate

URLs are not safe to use as filesystem names. There has to be a mapping between a requested URL and a path that nginx can understand. Either directly in the form of a sha256, or translated via a python script from URL -> sha256 on disk.

my solution already covers that @yhoogstrate, the `urls.tsv` file will be part of the repository, people will PR that and we can have it be open/fre

[2015-10-21 11:21] erasche commented on #345
@bgruening

It wasn't online yet, pending discussion of the points I raised in an earlier comment, where should it go? I'll post in my personal github *pro tempore*. https://github.com/erasche/package-cache Here ya go. :)

It's no longer a web service, now just a directory full of tarballs that gets served. The only "service" aspect is the python script which downloads + mirrors tarballs as a cron

[2015-10-21 11:36] erasche commented on #345
@bgruening I've updated my repo with your GSL.py and implemented compatibility with it. The `urls.tsv` file now matches your `packages.list` (and displays more nicely on GH).

Whenever we find a place to host these packages (I'm assuming Galaxy won't mind, failing that ELIXIR), we'll update the script with the new URL and it'll be 100% ready to go.

[2015-10-21 11:40] bgruening commented on #345
Sorry, 3 lectures today. Just a quick note.
Not sure what we are aiming here. Do we want to mirror all R, perl ... tarballs? Databases? SNPeff databases? This is a big thing? Not sure Galaxy should pay the bill. This needs to be agreed by the entire scientific community.
But in the end if we can solve 1) we could easily migrate the tarball storage to different servers.
Talk to you later.

[2015-10-21 11:45] erasche commented on #345
No problem. I really appreciate the feedback.

Yes

No. That one definitely needs to be brought to the wider scientific community.

My aim here is a small, incremental improvement over where we were yesterday with URLs that disappear. That's all I want to solve, is to have a single, community maintained resource for this. I'll foot the bill myself if it's going to be an issue, s3 is pretty cheap a

[2015-10-21 12:22] erasche commented on #345
Okay. Implemented. `gsl.py` and the package cache now support an `alterate_url` column (col 6) that specifies a URL where things should be downloaded from. Otherwise they'll be downloaded from a server URL that'll be codified in gsl.py (i.e. wherever the community package cache is hosted)

See the first line of https://github.com/erasche/package-cache/blob/master/urls.tsv

[2015-10-21 14:50] erasche opened #346 "RFC: JBrowse outputs"
Howdy all,

I'm opening this up for input since I'm not happy with the system I've designed and need another pair of eyes on this.

## Problem

Currently the JBrowse tool includes a complete copy of the JBrowse code as part of the output dataset. Great for reproducibility, horrific for user history sizes and for rsyncing `$galaxy_root/database`.

Minifying JBrowse isn't working how I'd like it to

[2015-10-21 15:29] lparsons commented on #299
I could do either of: 5th and 6th, 9th and 10th, or 19th and 20th.  That said, the 9th and 10th are looking rather nice.

[2015-10-21 19:58] natefoo commented on #345
@erasche We'll of course host... archive.galaxyproject.org? packages.galaxyproject.org? or just the existing depot.galaxyproject.org?

[2015-10-21 20:00] erasche commented on #345
@natefoo yay! I'm incredibly unopinionated on naming, my apologies. Probably just depot, less trouble that way. Maybe a subdirectory in there that jenkins can push things to.

I'd wait on @bgruening and @yhoogstrate for more feedback to make sure they're satisfied with this first. :)

[2015-10-22 01:56] martenson commented on #345
@davebx could we add the sources downloaded from sourceforge to the list here? https://github.com/erasche/package-cache/blob/master/urls.tsv

[2015-10-22 08:15] yhoogstrate commented on #345
@erasche Looks good! Go for it.

[2015-10-22 09:46] Eduardo-Alves opened #347 "HISAT2 "collection not of the correct type" for list of paired fastsq datasets"
Hi

HISAT2 gives an error that collection is not of the correct type but then works fine if I execute.
"History does not include a dataset collection of the correct type or containing the correct types of datasets"
My collection is a list of paired datasets of type fastq. If i select individual paired reads then it recognises the files so it's not a problem with file type. HISAT2 revision is 6d4d3

[2015-10-22 16:32] natefoo commented on #345
let's go with depot.galaxyproject.org/software, and as a bonus, jenkins already has access. =D

[2015-10-22 16:33] erasche commented on #345
@natefoo awesome! I'll get that set up presently.

[2015-10-22 19:49] davebx commented on #345
I've found where I downloaded the sourceforge tarballs, am in the process of hosting them on depot.

[2015-10-22 19:52] erasche commented on #345
@davebx if you could just `$ sha25sum *` and send that to me, I'll get it patched into the urls.tsv file. (and tell me where they'll be on depot)

[2015-10-22 22:27] erasche commented on #339
ping @fubar2, can you please create `tool_factory_2` and `rglasso` repositories under your personal account

[2015-10-23 11:06] nsoranzo commented on #347
Ping @jmchilton

[2015-10-23 16:44] erasche commented on #339
Y'all can see diff reports here: https://jenkins.galaxyproject.org/view/Tools/job/iuc-TTS-GH-diff/5/testReport/

@martenson and I have put some work into improving the XUnit reports to where they're really informative from shed-diff runs. Improvements to shed-update are coming soon. Just wanted to let the IUC know :)

[2015-10-25 10:11] bgruening opened #350 "SpeedSeq pipeline for Galaxy"
Would be nice to have the [SpeedSeq](https://github.com/hall-lab/speedseq) pipeline in Galaxy as a workflow.

Many of the used tools are already provided by the Galaxy community.
A few others are missing and needs to be integrated. Anyone up for this task?
The IUC will support you wherever we can!

 * [ ] https://github.com/GregoryFaust/samblaster
 * [ ] https://github.com/arq5x/lumpy-sv
 * [ ] ht

[2015-10-25 10:12] bgruening commented on #350
Freiburg will update the Gemini wrappers to a recent version.

[2015-10-26 22:20] #56 closed

[2015-10-26 22:44] erasche commented on #140
Plans outlined in #346

[2015-10-26 22:58] erasche commented on #212
xref https://github.com/galaxyproject/planemo/issues/228

[2015-10-26 23:14] erasche commented on #345
ping @natefoo where should the data from jenkins be going? You mentioned jenkins already has credentials, could we get a directory created for the package cache?

[2015-10-26 23:31] erasche commented on #339
Ross hasn't been active in the past 7 months. I'm going to exclude his tools from MTS/TTS updates & diffs.

[2015-10-26 23:31] #339 closed

[2015-10-27 12:10] bgruening commented on #339
As these tools are included as IUC tools, I think we need to care about them and not exclude them.
If we really don't want to maintain them, we need to have a deprecation mechanism in place and move the tools under `legacy`.
@galaxyproject/iuc calling for  opinions here :)

[2015-10-27 14:34] erasche commented on #339
The IUC was supposed to prevent this exact problem haha... ah well. More evidence we need things to be under the IUC account proper.

I don't know if they need to be deprecated, we just don't have control over what's on the MTS.

[2015-10-27 15:35] bgruening commented on #339
But this can be easily fixed. We just create the same repos under the IUC account, right?
I will contact Ross privately.

[2015-10-27 15:46] erasche commented on #339
Sure, we could create them ourselves, but then there would be no lineage/upgrade path for existing users of the old tools.

[2015-10-27 15:50] jmchilton commented on #339
For this particular tool, rerun seems not particularly important - shouldn't really be user facing. I'd just get everything right now, and continue forward with the IUC account.

[2015-10-27 15:54] erasche commented on #339
tool_factory_2 no, rglasso yes. Then again, I'm not even seeing rglasso on the MTS. O_o

[2015-10-27 18:07] natefoo commented on #345
@erasche `depot@orval.galaxyproject.org:/srv/nginx/depot.galaxyproject.org/root`

Not sure where under there. `/pkgcache` maybe?

You may not see changes until after `$TTL`

[2015-10-27 18:14] erasche commented on #345
I think you mentioned `/software` before and that still soudns good to me. :)

Thanks for getting this set up! I'll finish the jenkins part over lunch. :beers:

[2015-10-27 18:17] natefoo commented on #345
So I did... only 5 comments up... my short term memory `is None`.

[2015-10-27 18:24] davebx commented on #345
Additionally, every sourceforge url in the main and test toolsheds has been downloaded to /sourceforge/

[2015-10-27 18:32] erasche commented on #345
@natefoo anything special I need to do for jenkins to have SSH access? It seems to be rejected:
https://jenkins.galaxyproject.org/view/Meta/job/package-caching-proxy/1/console

[2015-10-27 19:03] natefoo commented on #345
@erasche Forgot to set up ~/.ssh/config, should be working now.

[2015-10-29 12:37] fubar2 commented on #339
Eeek.
I'm kind of out of the loop being retired and haven't been paying attention. These tools need work but I have no support and think the best long term strategy is to archive them somewhere. until someone with that same itch to scratch comes along. Sorry to do this.

As for the tool factory, well. Enough said. Time for retirement I'm afraid. Nobody seems to use it.
Sigh.

I am guessing that th

[2015-10-29 16:46] davebx opened #355 "Wrap Stephen Hartley's JunctionSeq"
JunctionSeq is an R package based on DESeq2 and DEXSeq, mentioned by the author in a talk at Genome Informatics.

[2015-10-29 17:55] tiagoantao opened #356 "package python_2_7_10 compiled without sqlite3 support"
The subject is self-explanatory: 2.7.10 has no sqlite3 support

[2015-10-29 19:15] tiagoantao opened #357 "jbrowse tool not working"
This might be related to #356, but the jbrowse tool is not working with the stable galaxy install, here is the stack trace (note the two errors):

[code]

[2015-10-29 19:26] erasche commented on #357
Hi @tiagoantao, I'm afraid the jbrowse v0.3 was released with little-to-no testing beforehand, the release is somewhat broken (especially the dependencies). The next update will have significantly better testing. In your error I'm concerned by the part:

that definitely shouldn't happen. If you're eager to test out JBrowse in Galaxy, you can install it manually (and all 2 dozen or so dependencies)

[2015-10-29 21:04] mvdbeek opened #358 "package_matplotlib_1_4 is missing dependency six"
[code]

[2015-10-29 23:03] erasche opened #359 "r_3_2_0 download URL is incorrect"
No need to fix it @davebx, just an FYI. I'll be replacing the URL during my giant PR for community-package-cache stuff.

[code]

note the `x84_64` instead of `x86_64` which is a common typo on https://depot.galaxyproject.org/package/linux/x86_64/R/

[2015-10-30 00:45] martenson opened #361 "Tools that might need wrapping from #gi2015"
Collection of ideas, not all can be wrappable or plausible to wrap. Feel free to add or wrap.

To wrap:
- [ ] JunctionSeq https://github.com/hartleys/JunctionSeq;
    package being made at https://github.com/galaxyproject/tools-iuc/pull/360
  wrapper progress tracking at #355
- [ ] QoRTs, as part of the JunctionSeq pipeline. https://github.com/hartleys/QoRTs
- [ ] Basset https://github.com/davek44

[2015-10-30 01:00] erasche commented on #361
fyi we have a global todo list in https://github.com/galaxyproject/tools-iuc/issues/33

[2015-10-30 01:09] martenson commented on #361
yeah I know, but that is a list of things you actually want to wrap, this is just a brain dump

[2015-10-30 01:16] erasche commented on #361
Ah ok :)

+1 to basset, scikit-ribo seems to have disappeared from the internet.

[2015-10-30 01:17] davebx commented on #361
JunctionSeq also has an issue at #355

[2015-10-30 01:18] martenson commented on #361
thanks @davebx - updated

[2015-10-30 09:23] fubar2 commented on #339
ok, FWIW the requested repos are on the test toolshed with iuc/devteam permissions but nothing uploaded. They won't work until I upgrade the dependencies to a more recent R/bioc. Sigh.
I'll see what I can get done.

[2015-10-30 09:30] mvdbeek commented on #339
@fubar2
I'm volunteering to take over the necessary *maintenance*, starting next week.

So iuc ownership on the toolshed it is?

[2015-10-30 10:20] fubar2 commented on #339
@mvdbeek
Thanks Marius!
To make them maintainable, I need to get them installable and passing tests, then I'll populate the repositories if you like. I should have some time this week. They're both way behind in R/Bioc. Sigh.